[2022-02-16 03:43] martgil commented on #1677
For monitoring purposes, I'll add the links here so that we can easily check the status anytime we'd like. If we need an appropriate medium to track this, please let me know.

(The links below will represent the numbers of users interested in the said feature)

https://mail.google.com/mail/u/1/#inbox/FMfcgzGmtrSFfqClgzwvcGPDgvtmkdNv

[2022-02-16 14:31] DenBond7 commented on #1602
ref https://github.com/pgpainless/pgpainless/issues/240 https://github.com/pgpainless/pgpainless/issues/243

[2022-02-16 20:15] tomholub commented on #1682
Thank you for the demo. Here is clarification on the requirements:
 - each received file should have two buttons: `view` and `download`. Currently it only has one (download)
 - `view` should take the user to the `Content` app to preview attachment
 - `download` should work as before, but it should not give the user an option to share with `Google Drive` immediately after the download. Of course, w

[2022-02-17 09:45] DenBond7 commented on #1602
Add tests for

### II. Detached signature
**valid signature (good)**
- [ ] signed text
- [ ] signed text + pub key
- [ ] signed text + pub key + attachment

[2022-02-17 20:32] IvanPizhenko commented on #1682
Why forbid only Google Drive? There are more cloud storage apps that may be installed (at least: Dropbox, OneDrive, Mega, Box).

[2022-02-18 07:01] #1602 closed

[2022-02-18 07:12] #1664 closed

[2022-02-18 13:43] DenBond7 commented on #1682
@tomholub One more question. If it is an enterprise user does it mean he uses Gmail API only? or new changes should affect Gmail API and IMAP too?

[2022-02-21 13:48] tomholub commented on #1682
Always only gmail api. no imap

[2022-02-23 18:39] DenBond7 commented on #1682
@tomholub While I'm working on "save" option please look at the current result.

https://user-images.githubusercontent.com/2863246/155384749-2058a5c1-ef53-4535-90b9-bb1410f39d8b.mp4

Some important info.
1) For this case when the app downloads an attachment we store it in the RAM.
2) When a user chooses "view" we try to open an attachment via `Content` even if it doesn't support such a type of fil

[2022-02-23 18:54] DenBond7 commented on #1682
In that case, I propose just saving a file. Without the ability to open it from the notification. I can't filter apps as you described. I've done the research and have not found any code that can do that. The filtering requirement sounds like a developer wants to restrict the ability of other applications to process files. I think that's why we don't have such an ability.

After saving a user will

[2022-03-02 16:20] DenBond7 commented on #1682
@tomholub

It looks like this one

https://user-images.githubusercontent.com/2863246/156402758-380df155-ade5-4096-bdee-49d7a63c290b.mp4

What do you think?

[2022-03-03 14:37] DenBond7 opened #1702 "use Unified Test Platform for tests"
https://www.youtube.com/watch?v=juEkViDyzF8

[code]

`./gradlew -Pandroid.testInstrumentationRunnerArguments.filter=com.flowcrypt.email.junit.filters.DependsOnMailServerFilter -Pandroid.experimental.androidTest.useUnifiedTestPlatform=true pixelXlApi30DevTestDebugAndroidTest`

[2022-03-03 18:05] tomholub commented on #1682
We can remove this functionality - if there is the appropriate Client Configuration flag, then it's always Content. If content is not available, then we could show a title `Cannot view attachment. Your organization requires the use of Content app to view attachments, but the Content app is missing. Please ask your Help Desk.`

[2022-03-03 18:07] tomholub commented on #1682
Does the file get cleared up after that? Additionally, all such files should be cleared up on each app startup, in case we failed to do it earlier (due to app crash, for example).

[2022-03-03 18:21] DenBond7 commented on #1682
Good question. I store a file in the cache directory. This directory can be cleaned by system if the last will need more space. But as I can see we should clear that files as soon as possible. In that case I propose to do that when a user leave the message details screen and after every startup.

[2022-03-04 09:25] tomholub commented on #1682
ok 👍

[2022-03-04 12:25] DenBond7 commented on #1682
![image](https://user-images.githubusercontent.com/2863246/156763125-c9d85c05-c39e-48d8-91a6-7617ee596756.png)

[2022-03-07 14:49] #1682 closed

[2022-03-07 15:55] DenBond7 opened #1704 "Improve DownloadAttachmentViewModel"
Shouldn't missing email cause an error to be thrown?

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1697#discussion_r820771780_

[2022-03-07 17:54] DenBond7 opened #1706 "version 1.2.9"

[2022-03-07 18:14] tomholub commented on #1706
I'm ready to do a release if you are 👍

[2022-03-07 18:42] DenBond7 commented on #1706
I'm ready too. Please do that.

[2022-03-07 19:26] tomholub commented on #1146
Sorry I'm still kicking this issue to another milestone

[2022-03-07 19:31] tomholub commented on #1706
- [ ] build
- [ ] commit
- [ ] release consumer 10%
- [ ] release enterprise

[2022-03-07 19:42] tomholub opened #1707 "upcoming work / planning"
I think I can let you finally do code quality improvements as you needed.

Over the coming month or two, I may need some fixes here and there, as the app is deployed to the customer. It won't be anything major, but sometimes the fixes may be time-sensitive. Otherwise, please use your time to make improvements in code. Thanks!

[2022-03-07 19:54] DenBond7 commented on #1146
No prob. It can wait.

[2022-03-07 20:14] tomholub commented on #1706
![image](https://user-images.githubusercontent.com/6306961/157110862-e44ce8cc-1f42-43f2-b477-8555e30e86f9.png)

[2022-03-07 20:14] #1706 closed

[2022-03-08 08:24] DenBond7 opened #1709 "Migrate to use Fragment where possible"

[2022-03-09 04:45] martgil opened #1710 "attachments are not shown when the encrypted message is sent using FlowCrypt's encrypted contact page"
Description:
Encrypted messages with attachments sent using the FlowCrypt's encrypted contact page (https://flowcrypt.com/me/<user>)

<img width="768" alt="Screen Shot 2022-03-09 at 12 32 31 PM" src="https://user-images.githubusercontent.com/46025304/157374075-3c99f506-48e7-48e8-a5c1-3ae383b8da2e.png">

Steps to reproduce:
1. compose an encrypted message with attachment using https://flowcrypt.com

[2022-03-15 18:56] DenBond7 opened #1713 "Fix sending encrypted messages with attachments"
Bug after https://github.com/FlowCrypt/flowcrypt-android/commit/316cf32c7778f8178ce2384547f14637d029cba2 (1.2.8)

ref https://mail.google.com/mail/u/3/#inbox/FMfcgzGmvLWRxnWhVmJsvlCrbHSvQMJJ

[2022-03-15 22:52] tomholub commented on #1713
Ok to do quick fix and then add a test right after.

[2022-03-16 07:11] DenBond7 opened #1716 "version 1.3.0"
https://github.com/FlowCrypt/flowcrypt-android/compare/1.2.9...master

[2022-03-16 08:38] DenBond7 commented on #1716
@tomholub Can be released after marge #1714

[2022-03-16 09:16] DenBond7 commented on #1631
Before starting need to drop all JobIntentService implementations and use WorkManager instead.

[2022-03-16 09:16] DenBond7 opened #1717 "drop all JobIntentService implementations and use WorkManager instead"
Before starting need to drop all JobIntentService implementations and use WorkManager instead.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1631#issuecomment-1068901017_

[2022-03-16 10:00] #1713 closed

[2022-03-16 10:20] tomholub commented on #1716
enterprise full + consumer 10% done

[2022-03-16 10:20] #1716 closed

[2022-03-16 10:20] tomholub commented on #1716
you can tell the customer

[2022-03-18 13:51] #1631 closed

[2022-03-24 05:46] martgil opened #1722 "email stucked in the outbox with error 'no available key for your email account'"
Description:

A user reached out to us saying that the email won't send with an error message that says:
<img src=https://user-images.githubusercontent.com/46025304/159848833-4e78b196-663a-4ed5-b54a-355a0e67158c.png width=50%>

I look into it myself but I can't trigger the exact error message as I was already interrupted by the app at the message compose phase when using an email account that isn'

[2022-03-24 14:51] DenBond7 commented on #1722
Hi @martgil. This bug was fixed in 1.3.0 that should be available for all users soon. I'm closing it for now.

[2022-03-24 14:51] #1722 closed

[2022-03-24 21:50] nemation opened #1723 "octet-stream spring"

[2022-03-24 21:51] #1723 closed

[2022-03-25 06:06] martgil commented on #1722
Hello sir, @DenBond7 - thanks for looking into this. updating the app works like a charm. I will try to check first if they are using the latest version next time before reporting :) thanks again sir, and take care!

[2022-03-30 06:04] martgil opened #1726 "problem in opening links to an external browser"
Description:

A user reported to us that an email contains links that are not clickable from the FlowCrypt app. I don't see quite a difference between the links that work and links that don't work.

I've investigated the issue and confirmed that certain links are indeed not invoking the default browser when the link is clicked.

The email came from kraken.com's new device login approval but I beli

[2022-03-30 09:25] martgil opened #1727 "encrypted message marked as not encrypted + not signed on different app version (1.3.0) but working on (1.2.8)"
Description:
A user reported us a situation where the encrypted message doesn't render properly on a different versions of the app.

On version 1.3.0 the encrypted message displayed (not encrypted + not signed) while when opening on 1.2.8 shows decrypted message properly.

I'm not exactly sure how it is happening as I tried different messages + replying to an encrypted message but I never ended up

[2022-03-30 09:31] DenBond7 commented on #1727
It can be a compatibility issue. In 1.2.9 we added a lot of changes to support detached signature. Also, I've changed the message processing logic. It seems the user's message has an unusual format. It would be nice to have a full MIME raw message. After that, I can fix this issue.

[2022-03-30 09:32] martgil commented on #1727
Thank you, sir! I'll request the full mime raw message from the user and get back to you. Thanks.

[2022-03-31 05:06] martgil commented on #1727
Hi, sir @DenBond7 - I've sent the .eml through email. The user also share that the message was indeed not readable to 1.3.0 after he accidentally updated the app on his/her older phone which he/she was able to read the encrypted message before.

[2022-04-05 07:29] DenBond7 opened #1731 "Could not send a password-protected message if 'to' doesn't contain recipients without pub keys"
It relates to the enterprise issue with password-protected messages

[code]

[code]

[2022-04-05 07:43] DenBond7 commented on #1731
It happens for the following case

![image](https://user-images.githubusercontent.com/2863246/161703033-c243e562-a4d9-4426-9d5d-5a231237e135.png)

We use the following request (#1615)

[code]

I thought we should create `MessageUploadRequest` only with recipients that don't have a public key.

https://github.com/FlowCrypt/flowcrypt-android/blob/316cf32c7778f8178ce2384547f14637d029cba2/FlowCrypt/sr

[2022-04-05 10:25] tomholub commented on #1731
Let me check, not sure myself.

[2022-04-05 10:31] DenBond7 commented on #1731
It seems other recipients can be used for replyAll

![image](https://user-images.githubusercontent.com/2863246/161735270-64e0dbe1-665a-4fee-8370-dc0288dcc24e.png)

[2022-04-05 10:33] tomholub commented on #1731
Which means it should contain all of them. I just checked on browser extension, which works in this scenario: it sends all.

@martgil please check this scenario on iOS

[2022-04-05 10:35] tomholub commented on #1731
@martgil please add documentation to the OpenAPI comments on flowcrypt-enterprise-on-prem code that says on this call that recipients must be all recipients, not only password recipients. And that these are used for reply-all functionality.

[2022-04-05 10:36] DenBond7 commented on #1731
One more question

[code]

what about `ReplyInfoData.recipient`? Should it contain all recipients too?

[2022-04-05 10:40] tomholub commented on #1731
Here is the browser extension code

[code]

Seems to send all, unique, with the sender removed.

[2022-04-05 10:40] tomholub commented on #1731
You can let the customer know we'll release a fix

[2022-04-05 11:40] DenBond7 opened #1733 "version 1.3.1"

[2022-04-05 11:51] DenBond7 commented on #1733
It's a minor fix. 1.3.0 can be totally replaced with 1.3.1(100% roll out)

[2022-04-05 11:56] DenBond7 commented on #1733
@tomholub It will be ready after merge https://github.com/FlowCrypt/flowcrypt-android/pull/1732

[2022-04-05 12:06] #1731 closed

[2022-04-05 12:56] #1733 closed

[2022-04-11 13:23] tomholub opened #1740 "periodically refresh keys from EKM"
same as https://github.com/FlowCrypt/flowcrypt-ios/issues/841

[2022-04-11 15:43] tomholub opened #1741 "test/fix how the Android app handles revoked keys from EKM"
like https://github.com/FlowCrypt/flowcrypt-ios/issues/1491

There will likely be a fix needed. On browser extension, the fix was mostly this:

[code]

Until then, it was using a key for signing that may not be usable (eg revoked).

On Android, we choose signing key based on email. We have to therefore additionally filter keys by their ability to sign messages.

Larger context of the PR https://gi

[2022-04-13 05:23] martgil opened #1744 "encrypted message content are completely hidden in android app"
Description:
Encrypted messages sent from the contact page are completely hidden when opening it on the FlowCrypt android app. This is happening for messages with or without attachments.

Steps to reproduce:
(lets assume that you already setup encrypt contact page at https://flowcrypt.com/account/encrypted-contact-page)
1. compose and send the message through the contact page - https://flowcrypt.c

[2022-04-14 02:39] martgil commented on #1744
Furthermore, another user experienced the same problem, but this time, it was a message from proton mail.

I tried to test it myself and confirm the same problem happened:
<img width="903" alt="Screen Shot 2022-04-14 at 10 32 18 AM" src="https://user-images.githubusercontent.com/46025304/163302547-7da3aef9-ba18-47b3-a678-a5d40b9844a7.png">
(browser extension on the left, android emulator on the ri

[2022-04-14 09:40] DenBond7 opened #1746 "Test fragments in isolation"
https://developer.android.com/guide/fragments/test

fragments list:

- [x] AddOtherAccountFragment
- [x] AttesterSettingsFragment
- [x] AuthorizeAndSearchBackupsFragment
- [x] BackupKeysFragment
- [x] ChangePassphraseOfImportedKeysFragment
- [x] CheckCredentialsFragment
- [x] CheckKeysFragment
- [x] CheckPassphraseStrengthFragment
- [x] CreateMessageFragment
- [x] CreateOrImportPrivateKeyDuringSet

[2022-04-15 12:07] DenBond7 commented on #1741
@tomholub Could you clarify the main point of this issue? As I understand it relates to the message compose screen.

For now, if a user has a revoked private key we allow him to complete the message creation but don't allow him to send it. In detail, we can't create an encrypted message with such a key. We show the following error:

![image](https://user-images.githubusercontent.com/2863246/163568

[2022-04-15 12:10] DenBond7 commented on #1741
Also, it seems we allow to import revoked keys during the setup process. Is it normal?

[2022-04-15 12:27] tomholub commented on #1741
importing during setup is correct

But what if the other key is valid - does it still fail?

The point of the issue is that we should not show any error there if there are other valid keys that could be used instead (for signing).

[2022-04-15 12:31] DenBond7 commented on #1741
Thank you for the fast reply

Got it. What should I do if we have a single key that is revoked?

[2022-04-15 12:34] tomholub commented on #1741
If we don't have any valid keys available, then do what you are doing - show an error.

But if we have at least one valid key that could be used for signing, then that key should be used without error.

[2022-04-17 06:00] #1193 closed

[2022-04-17 06:00] #1274 closed

[2022-04-17 06:00] #1709 closed

[2022-04-17 06:00] #1192 closed

[2022-04-18 14:08] DenBond7 commented on #1741
@tomholub Maybe it doesn't relate to the current issue, but I'd like to clarify

When we create an encrypted and signed message we should use the following rules:

1. for encryption, we use **ALL** suitable user's public keys
2. for signing, we use **THE FIRST** suitable and not revoked private key

For example, I have two keys: `first.asc` and `second_revoked.asc`. Then we will have the following

[2022-04-19 10:46] DenBond7 commented on #1726
Hi @martgil. It's a little strange. I can open this link.

![image](https://user-images.githubusercontent.com/2863246/163987305-0a611010-d676-4df1-b440-fd6b098ee482.png)

Could you re-check the current issue?

[2022-04-19 11:28] martgil commented on #1726
@DenBond7 It's strange. I can open the link now, too.

Thanks for looking into this - I'll close the issue for now and update the user to check if it is now working on their end.

I'll just re-open the issue or create a new one if the issue persists.

[2022-04-19 15:20] DenBond7 opened #1752 "Support rendering PGP messages from proton mail"
Furthermore, another user experienced the same problem, but this time, it was a message from proton mail.

I tried to test it myself and confirm the same problem happened:
<img width="903" alt="Screen Shot 2022-04-14 at 10 32 18 AM" src="https://user-images.githubusercontent.com/46025304/163302547-7da3aef9-ba18-47b3-a678-a5d40b9844a7.png">
(browser extension on the left, android emulator on the ri

[2022-04-19 15:23] DenBond7 commented on #1744
I've tried to send me a message. But I still don't see any new messages in the INBOX.

I've opened a separate issue for that #1752. I think it's a different case.

[2022-04-20 04:10] martgil commented on #1726
The user responded and confirmed that it is now working fine :D Thanks again!

[2022-04-20 07:25] tomholub commented on #1741
it does relate to this issue as well

yes

no. `second_revoked_pub.asc` is not suitable, because it is revoked.

So it would be: `my first pub` + `recipient pubs`

Let's say you only have revoked key for your self, and recipient keys. Then it would be error.

This is correct.

[2022-04-20 07:30] martgil commented on #1744
The email might just be delayed. I'm still able to replicate it at v.1.3.1
![image](https://user-images.githubusercontent.com/46025304/164173639-b708b9dd-e8d7-46f2-871d-9ba3faadacdb.png)

You're right - it might be a different case.

[2022-04-20 07:32] DenBond7 commented on #1744
All looks good. I've found that message.

Yes, it's a compatibility issue. I'm working on it.

[2022-04-20 07:35] martgil commented on #1744
Thanks for your confirmation and no worries!

[2022-04-20 21:28] tomholub commented on #1741
That looks great

[2022-04-22 17:56] #1741 closed

[2022-04-22 18:23] #1744 closed

[2022-04-22 18:23] #1752 closed

[2022-04-22 19:13] tomholub opened #1756 "1.3.2 release"
did you not want me to release this one? Or do we wait a bit later?

[2022-04-22 19:26] DenBond7 commented on #1756
Sorry, I've forgotten about this one. 1.3.2 doesn't contain improvements for users - architecture changes and code refactoring. I don't see really needs to make a new release. For now we have only a few changes from 1.3.3 that already can be released: #1741 and #1744. Do we need to release them now or we can wait for a few new?

[2022-04-22 19:45] tomholub commented on #1756
We can release this on Monday maybe. I've moved done tasks to 1.3.2 so it will now include user fixes. What do you think?

[2022-04-22 19:49] DenBond7 commented on #1756
Agree. Let's do a new release on Monday. I will recheck things and notify you soon.

[2022-04-24 19:12] DenBond7 commented on #1756
@tomholub it's ready

[2022-04-25 10:02] DenBond7 commented on #1727
Hi @martgil. I've checked your example. I can confirm that it's a compatibility issue. Could we know what software was used to create that example?

[2022-04-25 10:13] DenBond7 commented on #1740
@tomholub this issue has similar questions to #1375.

Could you clarify it?

[2022-04-25 10:52] martgil commented on #1727
Hello @DenBond7 - yes, sir. I have sent the request to the user. I hope we can hear back an update from him/her soon.

[2022-04-25 12:00] DenBond7 opened #1759 "Restore refetch client configuration on every startup"
restore functionality #1375 after #1193

[2022-04-25 12:01] DenBond7 commented on #1756
Moved back to me. I've found an issue(#1759)

[2022-04-25 17:01] #1759 closed

[2022-04-25 17:02] DenBond7 commented on #1756
@tomholub it's finally ready

[2022-04-26 02:28] martgil commented on #1727
Hello sir, @DenBond7 - The user swiftly responded to our request and shared that the software that produces a problematic encrypted email was `Mailvelope extension v4.5.2`.

I'm able to replicate the problem on my end:
<img width="343" alt="Screen Shot 2022-04-26 at 10 18 18 AM" src="https://user-images.githubusercontent.com/46025304/165206376-a2ee29d2-1071-40ec-9c09-062100a2f488.png">

Steps to r

[2022-04-26 02:58] martgil commented on #1727
It's strange that the message gets actually decrypted properly after re-opening the same encrypted email. I'll try a few more attempts, probably not what we're expecting.

[2022-04-26 07:45] DenBond7 commented on #1727
Thank you @martgil for the details. I will continue my investigation soon.

[2022-04-26 07:58] DenBond7 commented on #1740
One more question. Кespectively to #1168 we have the following

Should I follow the same behavior? I mean checking appropriate OrgRules. Or Do I need just to check `orgRules.usesKeyManager()`?

[2022-04-26 08:06] martgil commented on #1727
Welcome sir, Den - btw sir, I communicate with the user and send him an encrypted message (reply) I composed using the Mailvelope browser extension. He told me that he has now been able to read the message using the android app v1.3.1.

He added that he would like to check if the same goes for the encrypted message that came from friends who have known to use Mailvelope.

[2022-04-26 13:30] DenBond7 commented on #1740
An example(API error)

![image](https://user-images.githubusercontent.com/2863246/165310819-ba4b5384-1d90-43d2-8795-20d53560784d.png)

[2022-04-27 21:24] tomholub commented on #1756
- build
 - release enterprise
 - consumer 10%

[2022-04-27 21:46] #1756 closed

[2022-04-28 16:10] DenBond7 commented on #1740
![image](https://user-images.githubusercontent.com/2863246/165796748-06ff1eed-7d62-427f-88f1-f09e522f7a2f.png)

[2022-04-28 16:23] tomholub commented on #1740
This is wrong - all keys that were imported from EKM always have the same pass phrase. Therefore you want to ask for a pass phrase **for the update of all keys** and not for any particular key.

Read the whole conversation starting here https://github.com/FlowCrypt/flowcrypt-ios/issues/841#issuecomment-1103551836

[2022-04-28 16:46] DenBond7 commented on #1740
I understand that. I've reused `FixNeedPassphraseIssueDialogFragment` that we use to ask a user for at least one pass phrase for existing private keys with a missing pass phrase(`LogicType.AT_LEAST_ONE`)

Here a user sees keys with a missing pass phrase(in our case there will be all keys. Because if we will have at least one private key with a pass phrase we will not show this dialog). For a case

[2022-04-28 16:49] tomholub commented on #1740
All good - thanks :-)

[2022-04-29 12:00] tomholub opened #1765 "consider eventually allowing EKM setup without FORBID_STORING_PASS_PHRASE"
No, we disallow it.

https://github.com/FlowCrypt/flowcrypt-android/blob/5bb839f01b6780c1cd8d4d454b0e81e232e8b0c7/FlowCrypt/src/main/java/com/flowcrypt/email/jetpack/viewmodel/EkmViewModel.kt#L117

respectively to https://github.com/FlowCrypt/flowcrypt-android/issues/1168

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/pull/1761#discussion_r861733009_

[2022-04-29 12:00] tomholub commented on #1765
![image](https://user-images.githubusercontent.com/6306961/165940283-7a132ba9-74dd-4255-8b53-4dad8e9e731d.png)

[2022-04-29 15:01] DenBond7 opened #1766 "Remove publi key field from the 'keys' table as redundant"
https://github.com/FlowCrypt/flowcrypt-android/blob/e336f06c1872ee644a49cfe695b8b3d1ae1d59e5/FlowCrypt/src/main/java/com/flowcrypt/email/database/entity/KeyEntity.kt#L43

We don't have such fields. Actually, I'm thinking to delete @ColumnInfo(name = "public_key") val publicKey: ByteArray to prevent errors. For now, we parse private keys with PGPainless and use this info to check the key details(in

[2022-04-29 18:01] tomholub opened #1767 "public key update - better handling of revoked keys"
same as https://github.com/FlowCrypt/flowcrypt-ios/issues/1560#issue-1221328738

[2022-04-29 18:03] tomholub opened #1768 "EKM keys refresh: allow removing keys, except when revoked + improve revoked handing"
same as https://github.com/FlowCrypt/flowcrypt-ios/issues/1559

[2022-04-29 18:07] tomholub opened #1769 "send one message per web portal recipient, each with different url #4348"
same as
 - https://github.com/FlowCrypt/flowcrypt-browser/issues/4348

[2022-05-02 15:03] DenBond7 opened #1771 "Try WireMock as a mock web server"
WireMockRule
https://github.com/wiremock/wiremock/blob/master/src/test/java/com/github/tomakehurst/wiremock/junit/WireMockRuleFailOnUnmatchedRequestsTest.java

https://github.com/wiremock/wiremock

[2022-05-02 17:18] DenBond7 commented on #1771
[code]
[localhost_keystore(rename to localhost.keystore).txt](https://github.com/FlowCrypt/flowcrypt-android/files/8604893/localhost_keystore.rename.to.localhost.keystore.txt)

`androidTestImplementation("com.github.tomakehurst:wiremock-jre8:version")`

[2022-05-03 16:47] DenBond7 opened #1772 "Fix tests for fes.localhost"
Please file an issue to work on re-enabling these if you haven't

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1761#discussion_r863975194_

[2022-05-03 16:47] #1740 closed

[2022-05-05 10:30] DenBond7 opened #1776 "Update build.gradle to support dependabot"

[2022-05-05 11:07] DenBond7 commented on #1710
Actually, it's a quite interesting issue. For now, we see the following:
### Web:

![image](https://user-images.githubusercontent.com/2863246/166909267-30526773-d0b0-4dcc-9939-42fe53c63723.png)
### Android:

![image](https://user-images.githubusercontent.com/2863246/166909463-f43fdc40-1d50-4c60-b2c4-a9a86a7ded02.png)

But after decryption, Android receive the following content

[code]

So it seems

[2022-05-05 11:21] tomholub commented on #1710
We expect to eventually switch to pgp/mime as you propose. It just hasn't been done yet.

[2022-05-05 11:28] DenBond7 commented on #1710
@tomholub Do you have an issue for that? I'd like to link the current and maybe someone pings me one day to check this issue again.

In that case, I'm moving it to `later`.

[2022-05-05 12:19] #1727 closed

[2022-05-05 12:20] DenBond7 opened #1777 "version 1.3.3"

[2022-05-06 23:24] #1776 closed

[2022-05-10 12:20] DenBond7 opened #1797 "Update navigation libs and fix tests"

[2022-05-10 12:34] DenBond7 opened #1798 "Update JavaMail to Jakarta Mail"
https://eclipse-ee4j.github.io/mail/Android

[2022-05-10 14:28] DenBond7 opened #1799 "Fix Navigation issues in ImportMissingPublicKeyFragment"
### action_global_findKeysInClipboardDialogFragment
[code]
### action_global_parsePgpKeysFromSourceDialogFragment
[code]

[2022-05-11 20:43] #1799 closed

[2022-05-12 07:40] DenBond7 commented on #1777
@tomholub It would be nice to make a new release. I've fixed [one bug](https://github.com/FlowCrypt/flowcrypt-android/issues/1799) that crashes the app. + we've added p[eriodically refresh keys from EKM](https://github.com/FlowCrypt/flowcrypt-android/issues/1740)

[2022-05-12 07:53] tomholub commented on #1777
Great, I'll release it

[2022-05-12 08:07] DenBond7 opened #1803 "Add actions/add-to-project"
https://github.com/actions/add-to-project

[2022-05-12 08:57] tomholub commented on #1777
- [ ] commit
- [ ] build
- [ ] release con 10%
- [ ] release ent
- [ ] email customer

[2022-05-12 10:54] #1777 closed

[2022-05-12 10:55] #1803 closed

[2022-05-12 10:56] DenBond7 opened #1806 "Update paging library usage"
https://developer.android.com/topic/libraries/architecture/paging/v3-migration

[2022-05-18 15:18] tomholub commented on #1707
closing as discussion

[2022-05-18 15:18] #1707 closed

[2022-05-19 09:50] martgil opened #1810 "Cannot login to FlowCrypt app using Outlook account"
Description:
A user cannot continue logging into the FlowCrypt app with the Outlook account.

The app throws the following OAuth error:
<img width="341" alt="Screen Shot 2022-05-19 at 1 50 08 PM" src="https://user-images.githubusercontent.com/46025304/169261772-1b30be2f-91ce-4ddd-a8cf-c719cd3b99dd.png">

Additionally, here is the sample request which I get before the OAuth error message.
Request U

[2022-05-20 10:30] DenBond7 opened #1812 "Test adding a new issue to the current project via action"

[2022-05-20 10:36] DenBond7 commented on #1812
![image](https://user-images.githubusercontent.com/2863246/169510572-f596925a-bac8-4437-8531-985b3981acf7.png)

[2022-05-20 10:36] #1812 closed

[2022-05-20 10:37] DenBond7 commented on #1812
![image](https://user-images.githubusercontent.com/2863246/169510722-ef0f1848-a83d-4add-87be-9a5dd312792b.png)

[2022-05-29 11:41] DenBond7 commented on #1806
I'm moving it to `later` due to https://issuetracker.google.com/issues/214253526

[2022-05-29 15:28] DenBond7 commented on #1574
It seems it was fixed somewhen after our last discussion.

[2022-05-29 21:06] IvanPizhenko commented on #1798
@DenBond7 Just wondering, what the whole reason of updating this?

[2022-05-29 21:13] DenBond7 commented on #1798
JavaMail was moved to Jakarta. They changed the package and dependencies.

[2022-05-29 21:13] #1798 closed

[2022-05-30 08:28] DenBond7 commented on #1717
- Migrate EmailAndNameUpdaterService to WorkManager
- Migrate ActionQueueIntentService to WorkManager
- Migrate FeedbackJobIntentService to WorkManager
- Migrate PrepareOutgoingMessagesJobIntentService to WorkManager

[2022-05-30 08:31] DenBond7 opened #1818 "Migrate EmailAndNameUpdaterService to WorkManager"

[2022-05-30 08:31] DenBond7 opened #1819 "Migrate ActionQueueIntentService to WorkManager or use another approach"

[2022-05-30 08:31] DenBond7 opened #1820 "Migrate FeedbackJobIntentService to WorkManager or use another approach"

[2022-05-30 08:32] DenBond7 opened #1821 "Migrate PrepareOutgoingMessagesJobIntentService to WorkManager"

[2022-05-30 10:31] #1574 closed

[2022-05-30 17:17] #1818 closed

[2022-05-31 14:26] DenBond7 opened #1822 "Fix Lint warnings"

[2022-06-03 17:57] tomholub opened #1827 "add client configuration allow_attester_search_only_for_domains"
Plus add an appropriate test.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-ios/issues/1668#issuecomment-1146221302_

[2022-06-06 02:44] martgil commented on #1389
Several more report(s):
https://mail.google.com/mail/u/human@flowcrypt.com/#inbox/FMfcgzGpGKgJPVJdCZwDlJSCZqRdpCpn

[2022-06-06 08:18] DenBond7 commented on #1797
Covered by #1787

[2022-06-06 08:18] #1797 closed

[2022-06-06 10:24] martgil opened #1828 "Attachment preview availability for non-enterprise users"
Description:
Upon checking the enterprise vs non-enterprise usage against android and iOS, I noticed that non-enterprise users cannot see a preview of an attachment on the android app. On the contrary, iOS offers an attachment preview for enterprise and non-enterprise users.

Tom seems to be interested in offering the attachment preview functionality for regular users.

Reference: https://github.c

[2022-06-06 11:24] DenBond7 opened #1829 "Drop onActivityResult usage as deprecated"

[2022-06-07 07:19] #1822 closed

[2022-06-07 07:20] DenBond7 commented on #1434
Need to use just `lowercase()` and `uppercase() `over the whole project

[2022-06-07 13:03] #1827 closed

[2022-06-07 13:33] tomholub opened #1832 "1.3.4 release"
I could do a release this week. Would you want to wait until https://github.com/FlowCrypt/flowcrypt-android/issues/1829 is done?

[2022-06-07 13:36] DenBond7 commented on #1832
Nope, I'm moving #1829(refactoring and fixing deprecated code) to the next milestone. I'll notify you when 1.3.4 will be ready.

[2022-06-07 13:42] DenBond7 opened #1833 "Make the app name less 30 characters"
![image](https://user-images.githubusercontent.com/2863246/172395376-45b105af-abbb-40b8-bf7c-f70313766044.png)

[2022-06-07 13:44] DenBond7 commented on #1833
@tomholub Please look at this. It seems we need to use just `FlowCrypt`(or `FlowCrypt: Encrypted Email`) instead of `FlowCrypt: Encrypted Email with PGP`

[2022-06-07 13:45] DenBond7 commented on #1833
More details here https://android-developers.googleblog.com/2021/04/updated-guidance-to-improve-your-app.html

[2022-06-07 13:45] tomholub commented on #1833
`FlowCrypt: PGP Encrypted Email` :shrug:

[2022-06-07 13:46] tomholub commented on #1833
or `FlowCrypt PGP Encrypted Email`

[2022-06-07 13:50] DenBond7 commented on #1833
It seems you have to change it yourself (I don't have a permission)

![image](https://user-images.githubusercontent.com/2863246/172396974-133982c8-ffd8-40c7-9311-815f6797393e.png)

[2022-06-07 13:56] #1833 closed

[2022-06-07 14:08] DenBond7 opened #1834 "Outbox not found"
[code]

[2022-06-07 14:11] DenBond7 opened #1835 "Fix navigation issue in MessageDetailsFragment"
[code]

[2022-06-07 14:12] DenBond7 opened #1836 "Fix naviation issue in MessagesListFragment"
[code]

[2022-06-07 14:14] DenBond7 opened #1837 "Fix null cannot be cast to non-null type androidx.appcompat.app.AppCompatActivity"
[code]

[2022-06-07 14:19] DenBond7 opened #1838 "Fix navigation issue in FixNeedPassphraseIssueDialogFragment"
[code]

[2022-06-07 14:19] DenBond7 opened #1839 "Fix navigation issue in AddOtherAccountFragment"
[code]

[2022-06-07 14:31] DenBond7 commented on #1832
I've reviewed ACRA logs and found one issue https://github.com/FlowCrypt/flowcrypt-android/issues/1834 that I'd like to fix in the current milestone. Can we wait until Thursday for a new release?

[2022-06-09 09:19] DenBond7 commented on #1832
@tomholub  #1834 is ready to be merged. After that, we can make a new release.

[2022-06-09 09:40] #1834 closed

[2022-06-09 13:56] tomholub commented on #1832
- [ ] write customer
 - [ ] build release
 - [ ] release consumer 10%
 - [ ] release enterprise

[2022-06-09 14:16] tomholub commented on #1832
I'll be releasing consumer releases with 20% rollout if that's ok with you. The builds have been quite stable lately :-)

[2022-06-10 19:16] #1829 closed

[2022-06-13 11:46] DenBond7 opened #1849 "Fix depreaction for onRequestPermissionsResult"
https://developer.android.com/training/permissions/requesting

[2022-06-13 12:19] DenBond7 opened #1851 "Migrate from ViewPager to ViewPager2"
https://developer.android.com/training/animation/vp2-migration

[2022-06-14 06:42] DenBond7 commented on #1851
https://issuetracker.google.com/issues/123006042

[2022-06-14 09:58] DenBond7 commented on #1838
same as #1835

[2022-06-14 09:58] DenBond7 commented on #1839
same as https://github.com/FlowCrypt/flowcrypt-android/issues/1835

[2022-06-14 10:00] DenBond7 commented on #1835
ref https://stackoverflow.com/questions/51060762/illegalargumentexception-navigation-destination-xxx-is-unknown-to-this-navcontr?page=1&tab=modifieddesc#tab-top

It seems `double clicking` produces such errors on weakness devices

[2022-06-14 10:02] #1836 closed, assigned to DenBond7

[2022-06-15 12:16] #1835 closed

[2022-06-15 12:16] #1838 closed

[2022-06-15 12:16] #1839 closed

[2022-06-15 12:17] #1851 closed

[2022-06-15 12:18] #1849 closed

[2022-06-17 12:05] DenBond7 commented on #1767
@tomholub It seems https://github.com/FlowCrypt/flowcrypt-ios/issues/1560#issue-1221328738 describes the following cases:

- during compose
- during signature verification (message details screen)

I've also fixed the following places(manual updating by a user)

1. message details screen with a pub key

![image](https://user-images.githubusercontent.com/2863246/174294301-14b228f0-3af9-4380-bda4-fe

[2022-06-17 15:42] tomholub commented on #1767
iOS doesn't support manually importing public keys yet.

But yes - this mechanism has to apply for any time public key is imported from any source.

[2022-06-17 15:44] tomholub commented on #1767
The warning should be changed to `You already have a revoked version of this key. Further updates to this key are not allowed. Please request another key from the sender.`

[2022-06-17 16:32] DenBond7 commented on #1767
Got it. I will change it.

[2022-06-17 16:59] #1767 closed

[2022-06-20 10:43] tomholub opened #1858 "not offering password-protected message even though FES is available"
Sending from account at `flowcrypt.com` to a non-pgp account, and getting this:

<img width="663" alt="image" src="https://user-images.githubusercontent.com/6306961/174585064-fcd7b273-56c7-4077-bb5f-81c95c983bd1.png">

Whereas on browser extension and iOS it correctly offers password-protected message.

[2022-06-21 06:12] DenBond7 opened #1861 "change warning for updating revoked keys"
The warning should be changed to `You already have a revoked version of this Public Key. Further updates are not allowed. Please request another Public Key from this person.`

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1767#issuecomment-1159006246_

[2022-06-21 07:48] DenBond7 commented on #1858
@tomholub I've checked. It works on my device. Could you share more details?

https://user-images.githubusercontent.com/2863246/174745365-2a17b7f0-77ec-4b16-87e1-97f0cd95d628.mp4

[2022-06-21 09:56] tomholub commented on #1858
I can't view the video on my device. Sent email

[2022-06-22 10:59] DenBond7 commented on #1768
Test the following cases:

- [ ] disallow update revoked keys
- [ ] disallow delete revoked keys
- [ ] delete not matching keys
- [ ] don't delete at least one key. To prevent unexpected issues we should be sure that at least one private key is existing in the app

[2022-06-22 12:38] DenBond7 commented on #1768
That's not about a fresh install. It relates to updating existing keys via EKM

[2022-06-22 13:00] #1861 closed

[2022-06-22 19:59] tomholub commented on #1768
Actually, if EKM wants to delete all keys, you should be deleting all keys.

What would currently happen to the app if you did that? Many things would not function (sending, opening email) but is it otherwise functional?

[2022-06-22 20:06] DenBond7 commented on #1768
The problem is we don't support it. A user should have at least one private key to prevent unexpected behavior. I really don't know what will happen and where in that case. In that case need to be ready for issues over the whole app. Today we have a big app... and too many places where we can have a bug.

[2022-06-22 20:08] DenBond7 commented on #1768
By the way, what is a reason to delete all user's keys? And leave a user without keys.

[2022-06-23 06:14] tomholub commented on #1768
Maybe they left the company, or maybe the admin deleted their keys with the intention to give them new ones.

You could log the account out when this happens. Then at least you follow what EKM says - delete keys.

[2022-06-23 06:15] tomholub commented on #1768
Later we look into it as a separate issue to see if we could support situation of not having any keys anymore

[2022-06-23 06:16] DenBond7 commented on #1768
I think it will be interesting over all platforms

[2022-06-23 06:17] DenBond7 opened #1864 "Possibility to use the app without private keys"
Later we look into it as a separate issue to see if we could support situation of not having any keys anymore

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1768#issuecomment-1163995041_

[2022-06-23 10:37] DenBond7 opened #1865 "Modify WkdClientTest to use a mock webserver"
![image](https://user-images.githubusercontent.com/2863246/175280027-e215aee2-5f67-42e9-8f14-784972f24d77.png)

[2022-06-23 10:52] DenBond7 commented on #1832
`release enterprise 2022-06-23` - done!

[2022-06-23 12:28] DenBond7 opened #1867 "version 1.3.5"

[2022-06-23 12:49] #1768 closed

[2022-06-24 06:53] #1837 closed

[2022-06-24 13:00] DenBond7 opened #1870 "Migrate to use Material Design for Android"
- [x] test on Android 8
- [x] test on Android 12

[2022-06-28 11:47] DenBond7 commented on #917
https://developer.android.com/guide/webapps/dark-theme

[2022-06-29 18:53] #1870 closed

[2022-07-02 22:47] IvanPizhenko opened #1884 "Add native Ukrainian translation"
Support Ukrainian language in the application.

[2022-07-02 22:48] IvanPizhenko commented on #1884
@tomholub @DenBond7 what do you think?

[2022-07-03 03:58] DenBond7 commented on #1884
It's a great idea. Would you like to help?

[2022-07-03 06:35] tomholub commented on #1884
sure

[2022-07-03 07:38] IvanPizhenko commented on #1884
I think either @DenBond7 or me can do the translation, since we are native speakers.

[2022-07-04 05:36] martgil commented on #448
We received another user's request:

https://mail.google.com/mail/u/human@flowcrypt.com/#inbox/FMfcgzGpGnFpFgTbblMmMxMxqjVXxzTh

[2022-07-04 08:10] DenBond7 opened #1887 "Fixed a bug with MenuProvider"
Need to fix displaying menus after last changes

[2022-07-04 20:44] #1887 closed

[2022-07-06 11:24] DenBond7 commented on #1884
@IvanPizhenko I've added a new lang file. Also, I'm adding a `HOW TO` guide.

![image](https://user-images.githubusercontent.com/2863246/177538446-10529147-b5b8-4d55-9c5c-c24bf09ec5fb.png)

![image](https://user-images.githubusercontent.com/2863246/177538751-bcdabd51-4b9b-47d5-ba20-861055cc94d0.png)

Please let me know If you have some free time for this issue. Otherwise, I will do it myself in th

[2022-07-06 11:30] DenBond7 commented on #448
https://github.com/FlowCrypt/flowcrypt-android/pull/1891 will close it

[2022-07-06 12:06] #1471 closed

[2022-07-06 12:08] DenBond7 commented on #1178
deprecated

[2022-07-06 12:08] #1178 closed

[2022-07-06 12:13] DenBond7 commented on #936
deprecated

[2022-07-06 12:13] #936 closed

[2022-07-06 12:14] DenBond7 commented on #905
deprecated

[2022-07-06 12:14] #905 closed

[2022-07-06 12:16] DenBond7 commented on #459
deprecated

[2022-07-06 12:16] #459 closed

[2022-07-06 12:16] DenBond7 commented on #418
deprecated

[2022-07-06 12:16] #418 closed

[2022-07-06 12:18] DenBond7 commented on #292
deprecated

[2022-07-06 12:19] DenBond7 commented on #291
deprecated

[2022-07-06 12:19] #291 closed

[2022-07-06 12:20] DenBond7 commented on #223
deprecated

[2022-07-06 12:20] #223 closed

[2022-07-06 12:26] #1685 closed

[2022-07-06 12:36] DenBond7 commented on #1681
https://github.com/FlowCrypt/flowcrypt-android/blob/3d76f428b09196501e1012668ed42103ce981e6e/FlowCrypt/src/main/java/com/flowcrypt/email/extensions/kotlin/StringExt.kt#L162

This method accepts `mail+account=domain.com@email2.anonaddy.com`

[2022-07-06 21:58] #448 closed

[2022-07-06 21:58] #917 closed

[2022-07-06 23:01] IvanPizhenko commented on #1884
Thank you, I'll try.

[2022-07-07 06:45] martgil commented on #1479
A new user's suggestion to save a draft email:

https://mail.google.com/mail/u/2/#inbox/FMfcgzGpGnMjPTjqBNCGBnTwDSLrpsvZ

[2022-07-07 14:24] DenBond7 commented on #243
https://stackoverflow.com/questions/54536053/how-to-display-progress-drawable-animation-in-chip-material-component

[2022-07-13 20:41] IvanPizhenko opened #1896 "Use Flowcrypt as link in strings"
From #1895:
[code]

[2022-07-14 15:09] DenBond7 commented on #243
- [ ] chek dark mode
- [ ] fix tests

[2022-07-14 20:35] #1884 closed

[2022-07-15 08:17] DenBond7 commented on #1036
can be completed after #243

[code]

[2022-07-18 14:08] DenBond7 opened #1902 "<item> tag requires a 'drawable' attribute or child tag defining a drawable in res/color/selector_msg_item.xml"
[code]

[2022-07-18 16:09] DenBond7 commented on #1902
https://stackoverflow.com/questions/3592780/selector-on-background-color-of-textview

[2022-07-18 16:53] DenBond7 opened #1904 "version 1.3.6"

[2022-07-18 19:16] #1902 closed, assigned to DenBond7

[2022-07-19 10:23] DenBond7 opened #1905 "Fix day/night bug on some screens"

[2022-07-19 14:26] #1905 closed

[2022-07-19 14:27] DenBond7 commented on #1904
it's ready to be released

[2022-07-21 14:02] #1867 closed

[2022-07-21 14:02] DenBond7 commented on #1904
For me. Check enterprise release in 2 weeks

[2022-07-25 02:02] martgil opened #1907 "[User concern] options to receive encrypted emails only"
Description:
We received an inquiry from a user about an option to receive encrypted emails only. We previously offered this feature on the older version of the app.

@DenBond7 Good Morning, sir! - Do we have plans to bring it back in the future? Thank you!

Reference(s):
https://mail.google.com/mail/u/human@flowcrypt.com/#inbox/FMfcgzGpHHKDKmctHLhzDnGbgPcFGhXt
https://mail.google.com/mail/u/human

[2022-07-25 07:11] DenBond7 commented on #1907
Hi Mart. Unfortunately, I had to disable this feature. Filtering encrypted messages on the server side - it's a little quite difficult thing. I think we will improve it in the future and make it available. But I don't sure that will be soon ((.

[2022-07-25 07:50] martgil commented on #1907
Hello sir, Den. I understand clearly - I'll explain this to the user. Thank you very much for the immediate response!

[2022-08-01 04:21] martgil opened #1922 "nothing happens after clicking the "import backup key" of the "Keys" settings section"
I just noticed that the "import backup key" option does nothing when clicked.  It doesn't throw any error messages after clicking the "import backup key" button.

App version: 1.3.4
Android version: 12

Screenshot:
<img width="337" alt="backup-keys-found" src="https://user-images.githubusercontent.com/46025304/182070090-ab2a33ff-6731-403d-b461-477368d5bc71.png">

[2022-08-01 07:30] DenBond7 commented on #243
Old
![old](https://user-images.githubusercontent.com/2863246/182096040-924d0e21-5457-4e0f-9246-c8c1b0623d87.gif)

New
![new](https://user-images.githubusercontent.com/2863246/182096084-7b7a302c-8e33-43a8-a601-10d21ced597b.gif)

[2022-08-01 12:23] DenBond7 commented on #1922
Thank you, Mart. It's a bug. It will be fixed in the upcoming release.

[2022-08-01 12:26] DenBond7 opened #1923 "version 1.3.7"
- [x] write customer
- [x] build release
- [x] release consumer 20%
- [x] release enterprise in 2 weeks

[2022-08-01 18:27] #243 closed

[2022-08-01 19:05] #1036 closed

[2022-08-01 19:29] #1922 closed

[2022-08-02 09:22] #1434 closed

[2022-08-02 13:01] DenBond7 commented on #1681
I'm closing it. #1898 fixed this issue.

[2022-08-02 13:01] #1681 closed

[2022-08-02 13:05] DenBond7 opened #1928 "Fix visibility of btnSetWebPortalPassword when we use a standard mode."
![image](https://user-images.githubusercontent.com/2863246/182381557-f67b7ccf-b6da-4fbb-b9a9-43c075e1a560.png)

[2022-08-02 16:03] #1928 closed

[2022-08-03 07:43] #1904 closed

[2022-08-03 12:02] DenBond7 commented on #1810
@martgil Please recheck this issue. I can't reproduce it. I can log in via Outlook OAuth.

[2022-08-03 14:49] DenBond7 opened #1932 "Fix issue "You must supply a layout_width attribute" in fragment_user_recoverable_auth_exception.xml"
[code]

[2022-08-03 19:26] #1313 closed

[2022-08-03 19:27] #1932 closed

[2022-08-04 07:34] #1896 closed

[2022-08-04 07:38] martgil commented on #1810
sir, I still have a problem logging in with my account via Outlook OAuth for both emulator (android 9) and real device (android 11) though the OAuth error message box doesn't appear at all. For me, it stops as nothing happens after the authorization process.

Video demo (restricted only for Den's corporate email as it contains personal info): https://drive.google.com/file/d/1TRg0kMXcbtB160Mb_fwnSI

[2022-08-04 07:46] DenBond7 commented on #1810
Thank you Mart for the video. Interesting... I have different behavior on my devices.

[2022-08-04 07:52] martgil commented on #1810
You're welcome, sir, Den. I'd like to add that in my other emulator the error is different when logging in with outlook oauth.

<img width="340" alt="different error" src="https://user-images.githubusercontent.com/46025304/182793747-a357e50c-ec75-4b27-aae4-9bbeaeba0384.png">

[2022-08-05 07:24] #1810 closed

[2022-08-05 15:39] DenBond7 commented on #225
deprecated

[2022-08-05 15:39] #225 closed

[2022-08-05 15:41] DenBond7 commented on #517
I'm reviewing issues @tomholub is it still relevant?

[2022-08-05 15:43] DenBond7 commented on #1121
deprecated

[2022-08-05 15:43] #1121 closed

[2022-08-05 15:43] DenBond7 commented on #1163
already fixed

[2022-08-05 15:43] #1163 closed

[2022-08-05 15:48] DenBond7 commented on #1923
release notes

- Migrated to use Google Chips instead of a custom library(UI)
- Fixed Outlook logging issue
- Fixed some bugs
- Dropped `jcenter` usage
- Added some UI tests

Old
![old](https://user-images.githubusercontent.com/2863246/182096040-924d0e21-5457-4e0f-9246-c8c1b0623d87.gif)

New
![new](https://user-images.githubusercontent.com/2863246/182096084-7b7a302c-8e33-43a8-a601-10d21ced597b.gif

[2022-08-05 19:44] #517 closed

[2022-08-06 11:34] #1603 closed

[2022-08-08 07:41] DenBond7 commented on #1923
@tomholub it's ready

[2022-08-08 07:44] DenBond7 commented on #1769
@tomholub

Do we have any news here?

[2022-08-08 10:33] tomholub commented on #1769
Still postponing. Waiting for feedback on browser implementation first.

[2022-08-08 10:40] tomholub commented on #1923
please edit https://github.com/FlowCrypt/flowcrypt-android/milestone/107 to include the release notes in comments.

Any changes that have no affect on user could be summarized as "internal improvements". Any changes that affect UI but don't change actual functionality can be summarized as "ui improvements". The rest would be things that change functinality, one issue per line.

[2022-08-08 10:42] tomholub commented on #1923
"fixed some other bugs" is too vague - should be more specific, like "fixed a crash when XXX"

`Migrated to use Google Chips instead of a custom library(UI)` can be `ui improvments`

`Dropped jcenter usage` -> `internal improvements`

`Added some UI tests` -> `internal improvements`

[2022-08-08 10:43] tomholub commented on #1923
In other words, more specific when fixing bugs or changing functionality, less specific in other cases.

[2022-08-08 10:47] DenBond7 commented on #1923
@tomholub I've added

[2022-08-08 10:54] tomholub commented on #1923
Looks good. I also updated `fixed Outlook logging issue` to `fixed Outlook login issue`

[2022-08-09 18:58] #1819 closed

[2022-08-10 07:08] DenBond7 opened #1941 "Fix PostHelpFeedbackResponse"
Good one. I will create a separate issue for that.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/pull/1938#discussion_r942094875_

[2022-08-10 07:09] #1820 closed

[2022-08-10 07:55] DenBond7 opened #1943 "Fix deprecation for GeneralUtil.isConnected()"
https://stackoverflow.com/questions/57277759/getactivenetworkinfo-is-deprecated-in-api-29

[2022-08-10 09:30] DenBond7 opened #1945 "Fix Android Room warnings"

[2022-08-10 12:46] DenBond7 opened #1947 "review tests. Part 1"

[2022-08-11 20:43] #1945 closed

[2022-08-11 20:44] #1941 closed

[2022-08-11 20:45] #1943 closed

[2022-08-15 08:34] martgil opened #1953 "app seem to have problem fetching pubkeys from WKD"
Description:
A user asks if our client app supports WKD lookup (which we support). I tried composing an encrypted email with the sample address that the user shared and the browser extension found and loads the public key immediately - response contains an octet-stream non-ASCII armored key from the respective WKD. Doing the same procedure with our app results in the public key not being found eve

[2022-08-26 09:11] martgil opened #1961 "use response code when checking welcome message "sent" status"
From https://github.com/FlowCrypt/flowcrypt-attester-ts/pull/269#discussion_r955218351_, Tom would eventually like to use for response code when checking the welcome message "sent" status in `https://flowcrypt.com/attester/test/welcome` instead of checking for "sent" JSON value from the server response.

Code from `TestWelcomeResponse.kt`
[code]

Please consult @tomholub regarding the priority lev

[2022-08-26 09:40] tomholub commented on #1961
@martgil could you quote the code where `sent` is currently being used on this repo?

[2022-08-26 09:43] tomholub commented on #1961
I see it now

![image](https://user-images.githubusercontent.com/6306961/186876759-43274235-9edf-4fdb-b539-24f17873ffa1.png)

[2022-08-26 10:01] tomholub opened #1962 "pass phrase session length should be configurable with client configuration"
The returned JSON may contain `"in_memory_pass_phrase_session_length": 3600` for example. The number is an integer and to be interpreted as amount of seconds a pass phrase session will last. Currently hard-coded as 4 hours.

This mechanism applies only when browser extension is storing pass phrase in-memory. In other words, it does not affect the decision as to where the pass phrase will be stored

[2022-08-29 08:42] DenBond7 commented on #1953
Hi Mart. Thank you for this feedback. I've found a reason for the issue.

It seems the user's pub key has the wrong `userId`. It doesn't fit [rfc822](https://datatracker.ietf.org/doc/html/rfc822#section-3.3)

We have `Bob D. <bob@test.test>`, but it should be `"Bob D." <bob@test.test>`

![image](https://user-images.githubusercontent.com/2863246/187160811-cce3f3cb-f14c-4442-9a97-bcbf5774dd79.png)

[2022-08-29 08:55] DenBond7 commented on #1953
For me
`val parsed = BetterInternetAddress(userId, verifySpecialCharacters = false)`

[2022-08-29 09:08] martgil commented on #1953
Thank you, sir, Den, for looking into this issue and letting us know the root cause.

Understood, sir. Please take your time.

[2022-08-29 10:21] #1923 closed

[2022-08-29 14:37] DenBond7 commented on #1962
@tomholub
I'd like to clarify a few moments.

1. What about `min` and `max` for `in_memory_pass_phrase_session_length`?
2. Should I check that `in_memory_pass_phrase_session_length` is a positive number?

the `min` value is important. On Android, in

https://github.com/FlowCrypt/flowcrypt-android/blob/f8d0c48b4053afaadb3038078d5d276058005c48/FlowCrypt/src/main/java/com/flowcrypt/email/service/Pass

[2022-08-29 15:30] tomholub commented on #1962
I guess, if someone uses 1 second value, and you check once a minute, that's fine. So a minimum would be 1, even if on Android it effectively means a higher value due to the mechanism.

I don't expect anyone will set it that low. On browser extension, we'll probably set it low during automated tests, so we don't have to wait a minute to perform the test.

[2022-08-29 15:32] tomholub commented on #1962
Yes, please do check that it's a positive integer value. For `max`, choose the largest native integer type on your platform.

[2022-08-31 00:14] #1947 closed

[2022-08-31 00:17] #1961 closed

[2022-08-31 00:24] #1962 closed

[2022-08-31 00:28] #1953 closed

[2022-08-31 11:28] tomholub commented on #1479
One of our enterprise customers expressed interest in this. @DenBond7 let's add it to the current milestone?

The implementation doesn't have to be word-for-word as I've described it. Maybe you have some other idea. If so, please mention it here.

[2022-09-01 06:37] DenBond7 commented on #1479
We can include it in the current milestone.

Got it. It's a quite difficult task. Maybe I will change something during implementation.

How can I test the last iOS version?

[2022-09-01 08:09] tomholub commented on #1479
you can get it from testflight on flowcrypt.com/download

[2022-09-05 12:02] DenBond7 commented on #1479
For me https://developers.google.com/gmail/api/guides/drafts

[2022-09-14 07:35] martgil opened #1976 "Error: No direct-key signature and no user-id signature found when importing a private key"
Description:
A  user was unable to import his private key on the FlowCrypt due to the following error. During our conversation, the same private key was usable on the browser extension.

Screenshot:
![Screenshot from 2022-09-14 13-06-10](https://user-images.githubusercontent.com/46025304/190086603-bed2c67a-0f10-440e-ae50-af4ec8dc0ef7.png)

Step to reproduce:
1. Download or copy the private key (wi

[2022-09-15 02:56] martgil opened #1977 "[User feedback] suggests to support at least android 7 (api level 24)"
A user cannot install the FlowCrypt app as the user's device only runs Android 7.0. We received a suggestion from the user if we can support Android 7.0.

Also, I look for a resource where we can see an overview of the percentage of the users using a particular android version. https://apilevels.com/ might help.

Screenshot:
<img src=https://user-images.githubusercontent.com/46025304/190298732-da9

[2022-09-15 10:59] DenBond7 commented on #1977
Hi Mart

1. Unfortunately, it's impossible. We migrated to use Android 8.0(API level 26) as minSdkVersion because we had only a few percentages of older Android versions. And the support of that few percentages took some additional time.
1. Currently Android 13 is the last version. Support very old versions doesn't allow to integrate new features effectively. Android 7.0 was released in 2016. That

[2022-09-15 10:59] #1977 closed

[2022-09-15 15:18] DenBond7 commented on #1479
- [ ] Store draft encrypted by Android KeyStore(the same as we do it for saving loaded messages)
- [ ] After leaving the compose screen update the local copy of a downloaded draft
- [ ] Need to think about a situation when a user modified some draft, and left the compose screen, but the updated draft was not uploaded to a remote server(maybe an internet issue).

[2022-09-16 13:05] sosnovsky commented on #1479
@tomholub @DenBond7 hi guys, I think we shouldn't implement `if there is already a draft existing in a thread, clicking reply should take me to that draft to continue editing, instead of a new message` - I checked other mail apps and they all allow to create multiple drafts for 1 thread.
And it looks useful, as there are possible cases when users will need several drafts before sending message.

W

[2022-09-16 13:28] tomholub commented on #1479
Sure, I think it makes sense to follow what other email apps, especially Gmail, does.

In either case it should still be possible for me to pick a particular draft from the conversation & continue editing it & send it.

[2022-09-19 09:50] DenBond7 commented on #1479
For history

Gmail has a stable `draftId` for some draft, but different `msgId` for every new change.
For example:

1. We create a new draft - at this point, Gmail API creates a new `draftId`. For example `r777`. This draft - it's a message with `id`= `1212`
2. After that we modify a draft with `draftId` == `r777`. After that Gmail API deletes the message with `id`= `1212` and creates a new one wi

[2022-09-19 09:55] tomholub commented on #1479
btw we don't need to support drafts for IMAP

[2022-09-19 09:56] sosnovsky commented on #1479
@DenBond7 currently iOS doesn't handle this situation, but I think for fixing it we can just refresh drafts list each time when app is opened from background. Then we'll have the latest draft ids

[2022-09-22 14:02] tomholub opened #1984 "attester/initial/legacy_submit and welcome message changes"
I'd like to move away from it, but I suspect we still use it on Android. If yes, please show the context where used.

[2022-09-22 14:44] DenBond7 commented on #1984
1. Here we call this API after a user created a private key
https://github.com/FlowCrypt/flowcrypt-android/blob/fc7c69c76f0458423ffe5bad04dd2b91c5891ea9/FlowCrypt/src/main/java/com/flowcrypt/email/jetpack/viewmodel/PrivateKeysViewModel.kt#L431
2. ref https://github.com/FlowCrypt/flowcrypt-android/issues/773. We were going to use this API when a user adds a new private key from the settings.

[2022-09-22 14:52] tomholub commented on #1984
Are you using https://flowcrypt.com/attester/ or https://flowcrypt.attester.com ?

[2022-09-22 14:54] DenBond7 commented on #1984
I use this one https://flowcrypt.com/attester/

https://github.com/FlowCrypt/flowcrypt-android/blob/9956c47ed3d3db2411c6ed5e9275683b21f66e35/FlowCrypt/build.gradle#L105

[2022-09-22 15:02] DenBond7 commented on #1984
Got it. Will do.

[2022-09-22 15:31] tomholub commented on #1984
Also `attester/initial/welcome` should become `attester/welcome-message` and it should include `Bearer id_token` auth header (not enforced yet but will eventually enforce)

[2022-09-26 10:56] martgil opened #1985 "Unable to connect to Gmail"
Description:
I experienced a problem when connecting my Gmail account to the FlowCrypt app. I don't have any clue to share at the moment since I'm using stock settings on my regular android phone. Furthermore, some users are unable to get their email or connect to the server which may be related to this.

Also, emails are stuck in outboxes while having a strong internet connection. I noticed it on

[2022-09-28 03:09] martgil commented on #1985
@DenBond7 not urgent sir, but I think it is important to check since users are somehow unable to use the app properly. Thank you!

[2022-09-28 14:16] DenBond7 commented on #1479
I would like to discuss it. Do we have to sign a draft? Or maybe even another question - what logic we would use for sending drafts?

I see two different approaches:

1. We are going to use [Method: users.drafts.send](https://developers.google.com/gmail/api/reference/rest/v1/users.drafts/send) to send drafts. First of all, need to say that Gmail UI doesn't allow sending a draft directly. A user ha

[2022-09-28 15:20] tomholub commented on #1479
I guess you could go with second option, and don't sign the draft when composing. Then always sign when actually sending the draft, and ask for pass phrase at that point.

ping @sosnovsky may have input

[2022-09-28 15:24] DenBond7 commented on #1479
@sosnovsky Roma, what do you think? Can the second option be used by your realization?

[2022-09-28 18:38] sosnovsky commented on #1479
@DenBond7 I like the idea of signing message only when sending it, so users won't need to enter passphrase for storing drafts. It should be possible to update my current implementation for such approach.

For sending drafts I'm currently using [users.messages.send](https://developers.google.com/gmail/api/reference/rest/v1/users.messages/send) api method. I think it works the same as [users.drafts.

[2022-09-29 09:08] DenBond7 commented on #1479
Perfect. So we can just encrypt a message with pubkeys.

@tomholub One more question. What we should use: just sender's pub keys or sender+recipients pub keys? As for me, I would prefer to use just the sender's pub keys. It will be safer.

The last version doesn't have draft support. Please ping me when it will be available. I'd like to test compatibility.

[2022-09-29 09:34] tomholub commented on #1479
I would use sender + receipient because I think there is some chance somebody will navigate to the encrypted draft, on mobile device, and tap send from there.

[2022-09-29 10:38] sosnovsky commented on #1479
Browser extension also adds `[flowcrypt:link:draft_compose:DRAFT_ID]` before draft's encrypted message.
It seems we need to use it in mobile apps too, so users will be able to edit drafts from apps in the browser.

[2022-09-29 10:40] DenBond7 commented on #1479
@sosnovsky Please look at here https://github.com/FlowCrypt/flowcrypt-browser/issues/4691

[2022-09-29 10:41] sosnovsky commented on #1479
Thanks!

[2022-09-29 16:15] tomholub opened #1990 "drop `uuid`, use id_token"
Also should drop `uuid` mechanism from iOS and Android, and use id_token there too.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-browser/issues/4686#issuecomment-1262505327_

[2022-09-29 16:16] tomholub commented on #1990
This will clean up the code too, since it's simpler.

[2022-09-30 14:36] DenBond7 commented on #1479
Finally, I did it. I've added base 'drafts' functionality for Gmail API. I'd like to add some comments.

1. I've checked checkboxes that were completed as described.
2. these requirements can't be added for now. We don't use `threads` yet on Android

3.

unfortunately, it will be a single PR due to too many architecture changes that can't be split.
4. Next week I will work on testing the current b

[2022-09-30 14:44] tomholub commented on #1479
I don't think we need IMAP drafts for a very long time. Can re-consider end of 2023.

[2022-09-30 14:50] DenBond7 commented on #1479
Got it. IMAP and Gmail API - that's just a protocol for how to communicate with a server. In most cases, in the app, we have the same logic for both of them (UI and so on). That's why around 75% are already covered.

[2022-10-05 06:57] DenBond7 commented on #1985
Hi @martgil. I've added some changes to the code. Please try to compile a debug version and test it.

Use this branch https://github.com/FlowCrypt/flowcrypt-android/tree/issue_1985_gmail_smtp_connection_issue

[2022-10-05 07:41] martgil commented on #1985
Hello sir, @DenBond7 - I can log in using the branch [issue_1985_gmail_smtp_connection_issue](https://github.com/FlowCrypt/flowcrypt-android/tree/issue_1985_gmail_smtp_connection_issue). The login process is very smooth this time.

![image](https://user-images.githubusercontent.com/46025304/194006510-825bb8a5-9a28-4928-9e41-e728bea96bf0.png)

[2022-10-05 07:49] DenBond7 commented on #1985
@martgil by the way, please test the sending process(just in case)

[2022-10-05 07:55] martgil commented on #1985
@DenBond7 Yes, sir. I have tested the sending process and the email is no longer stuck in my outbox.

[2022-10-06 13:55] DenBond7 opened #2002 "Review removing aliases from CC"
Gmail for Android uses the same logic. It removes aliases from `CC`. It's quite old code. Firstly it was written in Java. After it was converted to Kotlin. Maybe it should be reviewed. I'm trying to look over the history, but it's really old code. I still can't find a commit where it was added. I will create an issue for that.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcr

[2022-10-06 14:09] DenBond7 opened #2003 "Add a test for forwarded messages"
ha... @ioanmo226 You've found a bug. I'm fixing it here and I will create an issue for a test.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/pull/1983#discussion_r989098701_

[2022-10-06 14:32] tomholub opened #2004 "mock gmail api + draft tests"
For me, the PR is good to merge once Roma and Ioan had a chance to comment on the code.

--------------------------

In the meantime, you can start preparing / working on infrastructure for mock tests. You'll probably need to write a HTTP server similar to Gmail API. Here is something to get you started:

Gmail / Google:
endpoints: https://github.com/FlowCrypt/flowcrypt-browser/blob/90b152a474ace3

[2022-10-06 14:46] DenBond7 opened #2005 "go over the whole codebase and looks for similar opportunities to simplify"
I hope all of these can be identified, as Ioan did, and then fixed. It will make the codebase a lot easier to follow. @DenBond7 please file an issue for you to go over the whole codebase and looks for similar opportunities to simplify. It will be a lot of work, but worthwhile.

@ioanmo226 please do highlight any other places like this that you notice, and we can file them all for fixing / improvem

[2022-10-06 16:45] #1479 closed

[2022-10-11 18:59] DenBond7 opened #2010 "version 1.3.8 (enterprise 2022-10-31)"
- [x] write customer
- [x] build release
- [x] release consumer 20%
- [x] release enterprise 2022-10-31

[2022-10-11 19:01] tomholub commented on #1990
@ioanmo226 I just realized that Den is working on the same issue soon - therefore you can discuss this together as needed.

browser-extension link https://github.com/FlowCrypt/flowcrypt-browser/issues/4686

[2022-10-11 19:05] tomholub commented on #1984
for submitting public key on accounts that don't have id token, you can always use `submitPubkeyWithConditionalEmailVerification`

you may skip `welcome-message` calls on accounts that don't have an idToken

[2022-10-11 19:18] DenBond7 commented on #1990
@tomholub Can we move it to the next milestone? To make a new release faster.

[2022-10-11 20:55] tomholub commented on #1990
ok

[2022-10-12 06:38] #1985 closed

[2022-10-12 09:27] ioanmo226 opened #2013 "Fix SemaphoreCI test"
Tests fail randomly in semaphoreci and need to retry several times to succeed.
ex: https://flowcrypt.semaphoreci.com/workflows/6615e732-8aca-4075-806f-4aabf4c97ca1?pipeline_id=a7306829-f9b6-45c4-a47c-b572a36f25df

Need to investigate and fix.

[2022-10-12 10:22] DenBond7 commented on #1984
- [ ] attester/pub
- [ ] attester/welcome-message

[2022-10-12 10:58] DenBond7 commented on #1984
@tomholub For `submitPrimaryEmailPubkey` I receive the following error
`<-- 401 Unauthorized https://flowcrypt.com/attester/pub/...@gmail.com (154ms)`

[code]

Is it Ok?

[2022-10-12 11:25] tomholub commented on #1984
What is the audience that it is sending?

[2022-10-12 11:28] DenBond7 commented on #1984
@tomholub I've sent you `idToken` via email

[2022-10-12 11:41] DenBond7 commented on #1984
just in case

[code]

[2022-10-12 11:49] tomholub commented on #1984
Fyi jwt.io website can be used to parse these.

Indeed I was missing the Android audience on flowcrypt-attester-ts. I've updated it and I'm re-deploying, it should start working in 10-15 minutes.

[2022-10-12 15:27] DenBond7 commented on #1984
Now it works well
`OkHttpClient: Public key successfully replaced`

[2022-10-12 17:56] DenBond7 commented on #1984
@tomholub Btw, we use `https://flowcrypt.com/attester/test/welcome`, not `attester/initial/welcome`

[2022-10-12 17:57] tomholub commented on #1984
Yes, that was my typo

[2022-10-12 17:58] DenBond7 commented on #1984
Got it

[2022-10-13 07:27] DenBond7 commented on #1984
@tomholub Please look at #767 and #768. It seems this functionality was broken. Is relevant nowadays? These issues relate to the current issue as they use `attester/initial/legacy_submit`

[2022-10-13 08:40] tomholub commented on #1984
it broke recently. it was the last endpoint still served by legacy server, which i shut down and removed. only later i realised android is still using it, but luckily ignoring errors.

it does work ok using new api?

[2022-10-13 08:41] tomholub commented on #1984
have we ever implemented use of ldap-relay endpoint on android? i suppose not. that would probably mean that enterprise test will remain broken for now. i believe, this very moment, they are not using that feature on android. i'll double check

[2022-10-13 08:48] DenBond7 commented on #1984
It seems it was broken after some code changes or migration to new approaches. It doesn't relate to your changes. But it seems we don't receive any feedback so it's not a big problem.

Just to notify you that we don't update a pub key when a user imports a private key from anyway (setup or from the settings).

not sure about that. All endpoints ->

https://github.com/FlowCrypt/flowcrypt-android/bl

[2022-10-13 08:49] DenBond7 commented on #1984
Anyway, it would be simpler to cover updating a public key during the import of a private key in a separate issue. + tests

[2022-10-13 08:56] DenBond7 commented on #1984
Got it. I will create a new issue for that

[2022-10-13 08:57] DenBond7 opened #2014 "Fix submitting pub key when setting up with imported key"
Got it. I will create a new issue for that

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1984#issuecomment-1277270871_

[2022-10-13 08:58] tomholub opened #2015 "SETUP_ENSURE_IMPORTED_PRV_MATCH_LDAP_PUB client configuration with ldap-relay"
For #768 you will need a new endpoint `ldap-relay` like was used here https://github.com/FlowCrypt/flowcrypt-browser/issues/4609 . However, the client that was to use this functionality did not deploy android yet, due to other blocking issues. Therefore we can file a new issue for this, but don't have to work on it until we see renewed interest in this.

_Originally posted by @tomholub in https://

[2022-10-13 09:00] tomholub commented on #2015
@martgil the page at https://flowcrypt.com/docs/technical/enterprise/configuration/client-configuration.html still shows USE_LEGACY_ATTESTER_SUBMIT but we have transitioned to `SETUP_ENSURE_IMPORTED_PRV_MATCH_LDAP_PUB`, please replace it there, describing what it does per issue https://github.com/FlowCrypt/flowcrypt-browser/issues/4609 and per the implementation on browser.

Then update the table

[2022-10-14 07:04] DenBond7 commented on #2010
Release notes(milestone info was updated)

- Added support saving drafts during compose or reply for users who use Gmail API
- Added ability to configure pass phrase session length depending on a client configuration
- Fixed fetching public keys from WKD
- Fixed SMTP connection issue for Gmail users
- Internal improvements

[2022-10-14 08:31] #1984 closed

[2022-10-19 06:33] martgil opened #2018 "[Question] How to update private key directly on Android app"
Hello @DenBond7,

Sorry for the question. I can't recall if I already asked this question before.

I'm trying to find a way to update my private key directly on the app by importing an updated key but it doesn't work. Can you please enlighten me on whether it is supported on the current version or not?

Thank you,
Mart

[2022-10-19 06:41] DenBond7 commented on #2018
Hi @martgil. The Android app doesn't support updating existing private keys manually. You need to delete the existing key and import a new version manually. If there is only one private key you need to make a temp private key via other PGP tools (`GnuPG` and etc.), import a created key, delete a key that you are going to update, import an updated version of a deleted key, delete the temp key.

[2022-10-19 06:43] DenBond7 commented on #2018
Btw, we already have an issue https://github.com/FlowCrypt/flowcrypt-android/issues/1287

[2022-10-19 06:54] DenBond7 opened #2019 "No enum constant com.flowcrypt.email.service.actionqueue.actions.Action.Type.REGISTER_USER_PUBLIC_KEY"
[code]

[2022-10-19 07:02] martgil commented on #2018
Thank you, sir, Den!

That's a pretty neat trick you have there. Then after the update key is loaded, the user can go to `Backup` and save the a copy of private key inside of user's inbox.

Got it, sir. I'll close this one now. Thank you very much!

[2022-10-19 07:02] #2018 closed

[2022-10-19 07:38] martgil opened #2020 "[Question] Labels management support for FlowCrypt app"
A user seemed interested in organizing their emails in FlowCrypt but it looks like the app is not capable of managing labels. In the meantime, they would have to use the Gmail app/website when organizing their emails/labels.

Please close this issue if it was not within the FlowCrypt app's development roadmap. Thank you!

Reference: https://mail.google.com/mail/u/human@flowcrypt.com/#inbox/FMfcgzG

[2022-10-19 07:44] DenBond7 commented on #2020
I think labels will be available only for Gmail users (as Gmail supports it). But I'm not sure that it will be available soon. For now, I'm moving it to `even later`. Maybe @tomholub will have another opinion on this issue.

[2022-10-19 08:24] DenBond7 opened #2021 "Notification runtime permission for Android 13 (API level 33) and high"
https://developer.android.com/develop/ui/views/notifications/notification-permission

[2022-10-19 09:01] DenBond7 commented on #2021
Need to add a test for this issue after migration to an emulator with API level 33

[2022-10-19 09:01] DenBond7 opened #2022 "Test notification runtime permission"
Need to add a test for this issue after migration to an emulator with API level 33

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/2021#issuecomment-1283668362_

[2022-10-19 09:09] DenBond7 opened #2024 "Fix lint deprecation"

[2022-10-19 12:18] #2021 closed

[2022-10-20 03:26] martgil opened #2026 "Message is not quite readable in dark mode"
Description:
The FlowCrypt ios app's font text doesn't have a better color making it hard for users to read messages. In my opinion, we may also consider adjusting the email subject's font color and the message body's background.

<img width="342" alt="image" src="https://user-images.githubusercontent.com/46025304/196848662-2c1a0782-e99d-49ff-9e69-55f827085089.png">

Reference: https://mail.google

[2022-10-20 07:33] #2024 closed

[2022-10-25 08:17] martgil commented on #1985
Android users has been informed about this patch (1.3.8) - https://mail.google.com/mail/u/human@flowcrypt.com/#sent/QgrcJHsNjpkhrFlZkrVpSTrzWxDFTHsgpbB

[2022-10-25 08:26] martgil commented on #1985
Thank you, sir, @DenBond7 for the hint.

[2022-10-26 10:51] tomholub commented on #1532
same as https://github.com/FlowCrypt/flowcrypt-ios/issues/897 - thank you

[2022-10-27 07:32] DenBond7 commented on #2013
I've temporarily excluded flaky tests. They will be fixed in a separate issue.

[2022-10-27 07:32] DenBond7 opened #2038 "Fix flaky tests"
I've temporarily excluded flaky tests. They will be fixed in a separate issue.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/2013#issuecomment-1293111618_

[2022-10-27 09:52] #2013 closed

[2022-10-28 06:39] DenBond7 commented on #1990
- [ ] Remove `uuid` from `accounts` table

[2022-10-28 10:54] DenBond7 commented on #1990
@ioanmo226 @tomholub I have a question. We use `uuid` for the following

1. https://flowcrypt.com/api/account/get

https://github.com/FlowCrypt/flowcrypt-android/blob/de725b28c04847cd972dc2f22236fde1516ec76a/FlowCrypt/src/main/java/com/flowcrypt/email/api/retrofit/ApiService.kt#L124

2. https://flowcrypt.com/api/account/login where we use `LoginModel` too.

https://github.com/FlowCrypt/flowcrypt-a

[2022-10-28 10:59] DenBond7 commented on #1990
@martgil Just in case I ping you too

[2022-10-28 11:03] DenBond7 commented on #1990
Just adding `Authorization: Bearer XXXXX...XXXX` does not make a server happy.

[code]

[2022-10-28 11:50] martgil commented on #1990
Hello sir, Den. Could you please try adding an empty json body and see if
that works?

On Fri, Oct 28, 2022 at 7:03 PM Den ***@***.***> wrote:

[2022-10-28 11:51] ioanmo226 commented on #1990
Here's curl request.
I think you shouldn't add `account` param(the line right after `api-version`).

`
{"account":"den@flowcrypt.com"}
`

[code]

[2022-10-28 12:12] DenBond7 commented on #1990
@martgil @ioanmo226 Thanks!

It works well

[2022-10-28 16:22] DenBond7 commented on #1990
@martgil @ioanmo226

[code]

Have I missed something?

[2022-10-31 03:14] martgil commented on #2026
Users to notify (for me):

https://mail.google.com/mail/u/human@flowcrypt.com/#archive/FMfcgzGqRPvFVNqVfCtwmXlkdCWvVsPC
https://mail.google.com/mail/u/human@flowcrypt.com/#inbox/FMfcgzGqRPvFVLXdWNMGjFjbtMFGtNfk

[2022-10-31 03:53] martgil opened #2041 "Consideration in applying for Google Advanced Protection"
A user suggests that we can consider submitting our app to Google Advanced Protection Program whitelist for enrolled users.

We can use the following form below to apply and submit our app:
https://docs.google.com/forms/d/1FWZf2xcRPms04XIImRD6f65U0YeQTZRILaFIGWxaOOM/viewform?edit_requested=true

Reference:
https://support.google.com/accounts/answer/9764949
https://mail.google.com/mail/u/human@flow

[2022-10-31 06:31] ioanmo226 commented on #1990
Still checking. 👀  But not sure yet.

[2022-10-31 06:46] ioanmo226 commented on #1990
Did you try with curl?

[2022-10-31 06:46] martgil commented on #1990
Hello @DenBond7, I just realized that my reply wasn't actually sent. For the endpoint `/api/account/login` it still accepts uuid and account JSON parameters, all other authenticated pages accept JWT authentication.

[2022-10-31 07:43] #2010 closed

[2022-10-31 07:53] #2019 closed

[2022-10-31 08:42] DenBond7 commented on #1990
@ioanmo226 No, I didn't. I use curl just to transform requests to [retrofit](https://square.github.io/retrofit/) implementation.

[2022-10-31 09:34] DenBond7 commented on #1532
https://github.com/pgpainless/pgpainless/issues/328

[2022-10-31 09:43] DenBond7 commented on #1532
@tomholub The current realization of `PGPainless` doesn't allow us to complete this issue. I've posted an issue and I'm waiting for a Paul's reply.

[2022-10-31 17:12] DenBond7 commented on #1532
This one will be completed after PGPainless 1.3.8 will be released.

[2022-11-01 07:23] martgil commented on #2041
@tomholub just sharing it with you. Thanks!

[2022-11-01 10:21] tomholub commented on #2041
Same issue as https://github.com/FlowCrypt/flowcrypt-browser/issues/1325 , not this year or the next.

[2022-11-01 10:21] #2041 closed

[2022-11-01 10:22] tomholub commented on #2041
Unless there is a larger customer who requires it. That would allow us to give it closer consideration. For now, we are busy with requests of paying customers.

It appears the cost of audits for this could run 80-100 thousand USD. Hard to justify for the few individual users who requested it so far.

[2022-11-01 10:23] tomholub commented on #2041
Unless I'm mistaken and this won't require a security audit? I may be remembering wrongly.

[2022-11-05 07:25] DenBond7 commented on #1990
@tomholub Ping you just in case. I'm not sure who is responsible for the backend.

We don't sure that `/api/account/login` was migrated to `id_token` usage.

[2022-11-06 07:56] tomholub commented on #1990
no need to use /login anymore.

login now happens automatically on other endpoints when id token is used

[2022-11-07 11:55] #1990 closed

[2022-11-08 09:52] ioanmo226 opened #2050 "Extend draft test"
Thinking... The above scenario looks too complex. It tests too many things that should be split. Also, the current Android realization and Espresso testing will not cover it without `dirty` code. On Android creating/updating a draft is a background task(out of the screen/Activity).

We can split the above scenario into the following
### Check the correct creating and updating
[code]

### Check the

[2022-11-08 09:52] #2004 closed

[2022-11-14 08:36] DenBond7 opened #2072 "Fix using flavor settings(NPE)"
https://github.com/FlowCrypt/flowcrypt-android/blob/5c582c2ad6a9e124461cfee4120ee8ce9104dda0/FlowCrypt/src/main/java/com/flowcrypt/email/api/email/gmail/GmailApiHelper.kt#L182

need to fix a bug after #2004

[2022-11-14 09:28] DenBond7 commented on #2026
ref https://issuetracker.google.com/issues/243570060

[2022-11-14 09:37] #2072 closed

[2022-11-14 17:25] DenBond7 commented on #2026
I'm still in a progress. But have some thoughts.

For now, as a quick fix, I can propose the following
### Night
![image](https://user-images.githubusercontent.com/2863246/201725265-7fc4f6df-9490-4430-8277-18452c655769.png)
### Day
![image](https://user-images.githubusercontent.com/2863246/201725374-30e4ef66-b0bf-459e-8a89-ed23e53f907a.png)

Not perfect, but is much better than we have before.

[2022-11-14 17:39] DenBond7 commented on #2026
But in another hand, we will still have bad UI for the night mode. There is a problem with the repeatable background image. It would be nice to resolve this issue on the HTML side.

Currently, the app produces the following HTML
[code]

We need to modify `background-image: url( ` somehow to be able to use `night` and `day` version of the background.
Maybe we can use `SVG` there. And after generati

[2022-11-14 17:39] DenBond7 opened #2075 "Support dark mode for message details"
But in another hand, we will still have bad UI for the night mode. There is a problem with the repeatable background image. It would be nice to resolve this issue on the HTML side.

Currently, the app produces the following HTML
[code]

We need to modify `background-image: url( ` somehow to be able to use `night` and `day` version of the background.
Maybe we can use `SVG` there. And after generati

[2022-11-14 17:51] DenBond7 commented on #2075
@tomholub I have only base HTML knowledge. Maybe you can attach someone here or you will have some thoughts.

The simplest way there is to have at least [SVG as background image inlined in style attribute](https://stackoverflow.com/questions/55824731/svg-as-background-image-inlined-in-style-attribute).
The best way - add full support for day/night on the HTML side.

Some useful links:

- [App colo

[2022-11-14 17:53] DenBond7 commented on #2075
We should receive the following
![image](https://user-images.githubusercontent.com/2863246/201730982-01cc7839-7cc2-4cc4-b125-547abb45ab04.png)

![image](https://user-images.githubusercontent.com/2863246/201731369-0ed639ba-00d1-4b71-9de3-be3406d2a41d.png)

[2022-11-14 17:55] DenBond7 commented on #2075
For me, background dark version

`data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAMAAAAPdrEwAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAACxMAAAsTAQCanBgAAAeYelRYdFJhdyBwcm9maWxlIHR5cGUgZXhpZgAAeNq9WGmS6ywS/M8p5gjUBsVxWCPmBnP8yZLdfr25l/dNjBUWMkJQ1JKZctr/+fdJ/8KHa8lJrXpppWR8tGnjjgvPt0+7zpT1Ol8f6/d79LY/PW4wugSt3H7Wez919NufB17WoPG2P/n9Dvt9InpMfH0kVo7r9dpI9POtn/Q+Udu3i9K8vjZ13Cea94GXKfev

[2022-11-15 09:13] DenBond7 commented on #2075
pattern
[code]
![pattern](https://user-images.githubusercontent.com/2863246/201878918-138ab146-ca68-452c-89b9-9a330f9fbd68.svg)

[2022-11-15 09:53] DenBond7 commented on #2026
@martgil Just in a case while I remember. If you will receive any feedback from users about issues with dark UI, first of all, please ask them to update [Android System WebView](https://play.google.com/store/apps/details?id=com.google.android.webview&hl=en&gl=US).

[2022-11-15 09:54] DenBond7 commented on #2026
ref https://stackoverflow.com/questions/57449900/letting-webview-on-android-work-with-prefers-color-scheme-dark

[2022-11-15 12:09] #2026 closed

[2022-11-16 05:07] martgil commented on #2026
Got it, sir - Thank you!

[2022-11-17 13:49] #1575 closed

[2022-11-21 04:40] #2002 closed

[2022-11-23 06:02] #2014 closed