[2021-07-10 23:58] seisvelas opened #1338 "IMAP: P3 BAD User is authenticated but not connected"
The user sees this error when trying to authenticate via Outlook:

![Screenshot_20210703_003459_com flowcrypt email](https://user-images.githubusercontent.com/44826516/125179098-557ddf80-e1a8-11eb-8e12-a273f5e14322.jpg)

Suggestions?

[2021-07-10 23:58] seisvelas commented on #1338
ref: https://mail.google.com/mail/u/human@flowcrypt.com/#inbox/FMfcgzGkZGgXnpZXhtKwRKNJhfBdBsfn

[2021-07-11 04:45] DenBond7 commented on #1338
It seems that the user uses a regular connection type(not OAuth 2.0). There can be different issues. For example he can use 2FA. In that case he should create the app password instead of using the account password. Also IMAP access can be disabled in the settings.

[2021-07-11 06:43] seisvelas commented on #1338
Okay, thanks! I've asked whether the user has 2FA enabled on Outlook.

[2021-07-11 19:21] gjikia commented on #1296
So I've created a test key using the procedure, mentioned above, which produces the error ""Incorrect pass phrase" in Flowcrypt
[test-key.zip](https://github.com/FlowCrypt/flowcrypt-android/files/6797533/test-key.zip).
The password is password12345678

[2021-07-11 19:50] tomholub commented on #1296
Thank you!

@IvanPizhenko when you have some time please investigate this one

[2021-07-11 19:52] tomholub commented on #1296
If I understand it correctly, the above keypair works in FlowCrypt browser extension, but does not work in FlowCrypt Android app, suggesting an incompatibility.

If the issue ends up being in PGPainless, then we can report it there with some minimal repro.

[2021-07-16 19:56] IvanPizhenko commented on #1118
Doesn't seem like there will be a reaction to this issue. There is no activity on their repo for over a month.

[2021-07-18 19:38] IvanPizhenko commented on #1296
Yes, this goes down to PGPainless. I've opened an issue https://github.com/pgpainless/pgpainless/issues/154

[2021-07-18 23:59] seisvelas opened #1342 "When will new version be released?"
ref: https://mail.google.com/mail/u/human@flowcrypt.com/#inbox/FMfcgzGkZQKvJnHbTTpjcxtPmSzRZRQf

A user is awaiting for some fixes in the new version and wants to know when it will be available.

[2021-07-19 01:19] seisvelas commented on #1338
2FA is enabled, as is IMAP in Outlook settings. Any other suggestions?

[2021-07-19 06:50] DenBond7 commented on #1342
@tomholub What do you think about that? Since 1.1.8 we have the following changes:

- Added the full support for keeping a pass phrase in RAM
- Fixed a bug of importing pub keys (#1304)
- Added using EKM to pull keys during setup

[2021-07-19 07:03] tomholub commented on #1342
Let's do a release now. I was waiting until you are available again, just in case.

[2021-07-19 07:04] DenBond7 commented on #1342
Got it. I'll let you know when it will be ready.

[2021-07-19 07:05] DenBond7 opened #1343 "version 1.1.9"

[2021-07-19 07:05] DenBond7 commented on #1342
ref #1343

[2021-07-19 07:06] #1342 closed

[2021-07-19 08:49] DenBond7 commented on #1343
@tomholub it's ready

Since 1.1.8 we have the following changes:

- Added the full support for keeping a pass phrase in RAM
- Fixed a bug of importing pub keys (#1304)
- Added using EKM to pull keys during setup

https://github.com/FlowCrypt/flowcrypt-android/compare/1.1.8...master

[2021-07-19 09:30] DenBond7 commented on #1338
What about the app password? Does he use the app password or the account password?

Btw, could you add me to the conversation?

[2021-07-19 09:37] DenBond7 commented on #1327
1. Do you mean the following `if orgRules.usesKeyManager() == true`?

1. About `forbid`. Would you like to see a toast with a hint or should I hide `Views(buttons and etc.)` if possible?

[2021-07-19 09:55] tomholub commented on #1327
Best is to hide buttons that lead to views, and then also the view itself should self-disable in case user ends up on it anyway through some other bug or oversight.

[2021-07-19 21:56] seisvelas commented on #1338
I asked, and cc'd the email to you

[2021-07-21 06:23] DenBond7 commented on #1343
@tomholub If you didn't make a new release we can include https://github.com/FlowCrypt/flowcrypt-android/issues/1296 to 1.1.9. PGPainless has a newer version.

[2021-07-21 06:39] DenBond7 commented on #1296
@tomholub I confirm that PGPainless `org.pgpainless:pgpainless-core:0.2.4` fixes this issue.

[2021-07-21 07:15] DenBond7 commented on #1101
PgpMsg.fmtContentBlock()
--------------------------------------Node-------------------------------------------------------Kotlin------------------------------------------------

![image](https://user-images.githubusercontent.com/2863246/126447179-cb9672ab-9ac2-4665-8d4f-8b7fd1258614.png)

[2021-07-21 07:42] tomholub commented on #1343
ok let’s include it

On Wednesday, July 21, 2021, Den ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-21 08:20] DenBond7 commented on #1296
fixed by #1344

[2021-07-21 08:20] #1296 closed

[2021-07-21 08:22] DenBond7 commented on #1343
@tomholub it's ready. The changes have been added.

[2021-07-21 08:50] tomholub commented on #1101
Hm it's missing some chunks of text - not good. I'll file an issue and @IvanPizhenko can have a look.

[2021-07-21 08:50] tomholub opened #1346 "PgpMsg.fmtContentBlock() missing chunks of text"
PgpMsg.fmtContentBlock()
--------------------------------------Node-------------------------------------------------------Kotlin------------------------------------------------

![image](https://user-images.githubusercontent.com/2863246/126447179-cb9672ab-9ac2-4665-8d4f-8b7fd1258614.png)

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1101#issuecomment-883

[2021-07-21 08:51] DenBond7 commented on #1346
@IvanPizhenko Please look at this issue after #1101

[2021-07-21 08:53] tomholub commented on #1346
Isn't it the same issue? :-) I've just created a more specific one with this bug above, as pre-requisite to continue with #1101

[2021-07-21 09:16] IvanPizhenko commented on #1346
@DenBond7 Please tell me:
1. At which branch should I look? is it `issue_1101_use_pgpainless_for_msg_decryption`? I've looked at your recent commits and you seem to  have made lots of changes after me. I will start from the last commit on that branch.
2.  Please add new or point me to an existing test email message, which I can use to investigate this.

[2021-07-21 09:24] DenBond7 commented on #1346
@IvanPizhenko

`issue_1101_use_pgpainless_for_msg_decryption`

Do you have access to `flowcrypt.compatibility`?

[2021-07-21 09:37] tomholub commented on #1346
I've sent Ivan the credentials on company email. There, you can find the email by subject

[2021-07-21 10:14] tomholub commented on #1202
Currently, we request OrgRules from backend. There is one FlowCrypt backend for all customers.

However some customers want to have more control. They want to run their own FES server: https://flowcrypt.com/docs/technical/enterprise-server/latest/enterprise-server.html which will serve OrgRules for them.

Therefore, in the app, we will test if FES is running on customer domain, which is `https://f

[2021-07-21 10:19] tomholub commented on #1203
Here is the implementation in OrgRules class:

https://github.com/FlowCrypt/flowcrypt-browser/blob/48cb02a244b71a2acffbbc0fdb6ed4254baa0da3/extension/js/common/org-rules.ts#L170-L184

Here is the implementation in public key lookup code:

https://github.com/FlowCrypt/flowcrypt-browser/blob/48cb02a244b71a2acffbbc0fdb6ed4254baa0da3/extension/js/common/api/key-server/attester.ts#L22-L28

[2021-07-21 10:28] tomholub opened #1347 "security: PGPainless ignoring bad checksum?"
The behavior on the Android app is faulty when using the Kotlin implementation (on right side). It's supposed to fail, like it did with NodeJS (on the left).

![image](https://user-images.githubusercontent.com/6306961/126474257-0a4a37c7-fff2-4705-9f43-8835d2d2ef92.png)

@IvanPizhenko could you see if this is because we have some custom code for parsing armored messages (in which case we should use

[2021-07-21 11:13] DenBond7 commented on #1346
@IvanPizhenko

by subject and date

[2021-07-21 11:56] DenBond7 opened #1348 "Kotlin decryption. don't break message render view when a public key is not valid"
![image](https://user-images.githubusercontent.com/2863246/126484758-27dd5ffd-cb2c-40fb-a2bc-759f308331bc.png)

ref https://github.com/pgpainless/pgpainless/issues/158

[2021-07-21 12:27] tomholub commented on #1348
There are probably two issues here.

One, when any error happens parsing the public key, it should only affect the rendering of pubkey block, but still render the rest of the message normally.

Two, this looks like some incompatibility between OpenPGP.js and PGPainless that could probably be addressed in PGPainless.

[2021-07-21 12:29] DenBond7 commented on #1348
I think so

[2021-07-21 13:20] tomholub commented on #1343
still trying to upload to play console with a 10% rollout

[2021-07-21 13:36] tomholub commented on #1118
Got it. When we have more time at the end of this year, we could fix it in that repo ourselves. Maybe fork it.

[2021-07-21 15:34] tomholub commented on #480
@DenBond7 I suppose we are already testing this now, with new Kotlin code? If not, the Kotlin functionality should be able to give you `usableForEncryption` attribute to check during import of private keys.

[2021-07-22 07:06] DenBond7 opened #1353 "Support MsgBlock.Type.SIGNED_MSG (Kotlin)"
![image](https://user-images.githubusercontent.com/2863246/126601147-0a013228-b06f-4103-b9d1-a52ccacd05e6.png)

[2021-07-22 07:09] DenBond7 commented on #1353
It looks like this one

  -----BEGIN PGP SIGNED MESSAGE-----
 Hash: [Hash algorithm]
 [Human Readable Message Body]
 -----BEGIN PGP SIGNATURE-----
 [Signature]
 -----END PGP SIGNATURE-----

We should display `[Human Readable Message Body]` for a user

[2021-07-22 07:15] DenBond7 commented on #1353
[#1353.patch.txt](https://github.com/FlowCrypt/flowcrypt-android/files/6860525/1353.patch.txt)

[2021-07-22 07:49] DenBond7 opened #1354 "Kotlin decryption. Fix showing inline attachments"
it seems that Ivan's realization of recognizing inline attachments works well. Just need to fix the Android side.

![image](https://user-images.githubusercontent.com/2863246/126605352-5abfe87f-a132-465b-b265-be5e4ccdefa0.png)

[code]

ref https://github.com/FlowCrypt/flowcrypt-android/blob/68d4a88da0eb115cc26915aae6e23441a45b5b14/FlowCrypt/src/main/java/com/flowcrypt/email/api/retrofit/response/no

[2021-07-22 08:17] DenBond7 opened #1355 "Kotlin decryption. Fix displaying decryption errors"
![image](https://user-images.githubusercontent.com/2863246/126608924-32103200-d4b7-4099-bdcb-8489b7667aa0.png)

[2021-07-22 08:17] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126608995-e9c14e91-bfaa-4824-bd8b-ab83cb36ac23.png)

[2021-07-22 08:18] DenBond7 opened #1356 "Fix displaying inline images(Kotlin)"
![image](https://user-images.githubusercontent.com/2863246/126609188-f767f2c2-c0b3-4798-b605-8d0e2f623d86.png)

[2021-07-22 08:19] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126609305-029c065f-c870-4898-8fce-3c4be3f475f3.png)

[2021-07-22 08:20] DenBond7 commented on #1346
![image](https://user-images.githubusercontent.com/2863246/126609426-689edb3d-cd57-4f70-9734-2cd56724bb32.png)

[2021-07-22 08:21] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126609605-5df79dfe-ffd9-4e6f-b4a5-2e311efd0719.png)

[2021-07-22 08:23] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126609782-8bfd3ea8-e318-46e6-870b-5a9fb1489d6e.png)

[2021-07-22 08:24] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126609922-2391afc6-ae24-45b6-b86a-0b6d513ee0d8.png)

[2021-07-22 08:25] DenBond7 opened #1357 "Fix "signed msg that looks like encrypted" (Kotlin)"
![image](https://user-images.githubusercontent.com/2863246/126609922-2391afc6-ae24-45b6-b86a-0b6d513ee0d8.png)

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1355#issuecomment-884738873_

[2021-07-22 08:26] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126610087-5200f0ca-e51b-4ccb-b5d8-4efe1716c16e.png)

[2021-07-22 08:26] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126610161-3b6b3d18-6639-4b88-bcad-9343a418f77c.png)

[2021-07-22 08:27] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126610327-bcf74d90-2813-40c2-83aa-7df58c1b6d58.png)

[2021-07-22 08:29] DenBond7 commented on #1347
I'm posting it here but maybe it will be for a separate issue
![image](https://user-images.githubusercontent.com/2863246/126610445-03ba59d2-eb63-4f4d-b7a9-c93ffe8807c9.png)

[2021-07-22 08:30] DenBond7 commented on #1347
![image](https://user-images.githubusercontent.com/2863246/126610633-35f382f1-e2bc-403d-af97-90cae72deab0.png)

[2021-07-22 08:32] DenBond7 opened #1358 "PGPainless: compatibility issue?"
![image](https://user-images.githubusercontent.com/2863246/126610835-11b56d2e-d6fa-4aaf-8b52-855838055687.png)

[2021-07-22 08:33] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126610999-06e95005-e2dc-46c2-9e43-010912fefdaa.png)

[2021-07-22 08:35] DenBond7 opened #1359 "plain body parts should be border-less"
![image](https://user-images.githubusercontent.com/2863246/126611233-caf5329c-6415-4710-9b18-780083ca9652.png)

[2021-07-22 08:37] DenBond7 commented on #1348
![image](https://user-images.githubusercontent.com/2863246/126611439-a9e6d88d-0512-4649-84a2-8f8a2e2e8d00.png)

[2021-07-22 08:38] DenBond7 commented on #1355
![image](https://user-images.githubusercontent.com/2863246/126611565-7ee09f27-2cdd-493d-9263-ff2182ae8097.png)

[2021-07-22 08:45] DenBond7 commented on #480
unfortunately, no. We don't have such logic.

[2021-07-22 08:52] DenBond7 opened #1360 "Kotlin decryption. Test decryption errors after moving to use PGPainless for the message decryption"
It would be nice to have such tests. I think it's very important to prevent security bugs (for example after upgrading PGPainless to a newer version). We should be sure that a received content is parsed to expected `blocks` and Android shows the expected UI.

[2021-07-22 08:54] DenBond7 commented on #1360
I'm talking about things like this one

![image](https://user-images.githubusercontent.com/2863246/126613373-3cb52543-b588-490c-aadd-bd8e3beddb51.png)

[2021-07-22 08:55] DenBond7 commented on #1360
@tomholub It would be nice to create a list of the decryption errors that we would like to handle. I think it will be useful for all platforms

[2021-07-22 09:36] tomholub commented on #1360
Yes. All error scenarios that are interesting are represented in flowcrypt.compatibility account as email messages, so we can extract them from there (as you have done)

[2021-07-22 09:38] tomholub commented on #1360
`tests/decrypt error` label should have most of them. If you see any that are (expected) errors and not labeled that way, feel free to add the label, so that they are all in one place.

[2021-07-22 09:40] tomholub commented on #480
Ok. The rule should be that at least the first key that I import for some account (when importing manually) should be usable for encryption.

If user then wants to add more keys in settings, that are expired (and therefore not usable), that's fine.

If the first one is not usable when it's imported, user should see an error, telling them that the first imported key must be usable for encryption, b

[2021-07-22 09:41] tomholub commented on #480
We can wait with this until later, I'm just commenting for future clarity.

[2021-07-22 09:43] tomholub opened #1361 "signed message that looks like encrypted"
![image](https://user-images.githubusercontent.com/2863246/126609922-2391afc6-ae24-45b6-b86a-0b6d513ee0d8.png)

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1355#issuecomment-884738873_

These screenshots are funny because both the before, and the after, are wrong.

However, this is such a rare occurrence that we can leave it until much later.

[2021-07-22 09:44] tomholub commented on #1361
#1357

[2021-07-22 09:44] #1361 closed

[2021-07-22 09:46] tomholub commented on #1357
These screenshots are funny because both the before, and the after, are wrong.

However, this is such a rare occurrence that we can leave it until much later. And the new behavior is actually an improvement over the previous one.

The fix should be, that in this case, the border should show gray instead of green, because this message is only signed. Otherwise it looks correct.

[2021-07-22 09:51] tomholub commented on #1359
@DenBond7 I suspect the new behavior is more correct.

But the interesting thing is that on browser extension, it doesn't even show the footer:

![image](https://user-images.githubusercontent.com/6306961/126620756-c3603efa-5668-44fd-9dd0-d5b6fc2189b5.png)

That's a bug on browser extension, and I'll file it there. The Kotlin implementation looks correct.

[2021-07-22 09:53] tomholub opened #1362 "encrypted message wrongly hides plain text"
@DenBond7 I suspect the new behavior is more correct.

On browser extension, it should show footer but doesn't.

![image](https://user-images.githubusercontent.com/6306961/126620756-c3603efa-5668-44fd-9dd0-d5b6fc2189b5.png)

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1359#issuecomment-884788063_

You can find this email in `flowcrypt.compatibility` acc

[2021-07-22 09:57] tomholub commented on #1359
Actually, there is one issue on the screenshot - this bottom part should not be in gray frame.

It should be frameless. Gray means signed, but that part was not signed.

![image](https://user-images.githubusercontent.com/6306961/126621571-60d5ad23-d3f2-4c61-a2d5-4a5b226a0de0.png)

[2021-07-22 09:58] tomholub commented on #1359
but I'm marking it for later, it's minor

[2021-07-22 09:59] tomholub commented on #1347
@DenBond7 the bad checksum needs to be fixed in PGPainless

However, the MDC looks like this would be for you to fix - most likely PGPainless already returns that error, but the error is not getting rendered I think?

[2021-07-22 10:00] tomholub commented on #1347
I'll move this into a separate issue.

[2021-07-22 10:00] tomholub opened #1363 "Kotlin decrypt: rendering of MDC error"
I'm posting it here but maybe it will be for a separate issue
![image](https://user-images.githubusercontent.com/2863246/126610445-03ba59d2-eb63-4f4d-b7a9-c93ffe8807c9.png)

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1347#issuecomment-884741700_

[2021-07-22 10:01] tomholub commented on #1363
![image](https://user-images.githubusercontent.com/6306961/126621996-538a109c-5fde-49fa-b1ed-4c32eeb57123.png)

[2021-07-22 10:02] tomholub commented on #1356
Thank you for filing all of these! I'm setting this one also to later, as it's not a security issue and not crucial.

[2021-07-22 10:09] tomholub commented on #1346
The last screenshot with different css height is minor, I think it's ok to ignore it.

[2021-07-22 10:13] DenBond7 commented on #1363
@tomholub Also please specify a milestone

[2021-07-22 10:16] DenBond7 commented on #1347
It can be true. I haven't investigated that yet.

[2021-07-22 10:21] tomholub commented on #1348
@DenBond7 I think PGPainless rejected the public key correctly. So the only task here is to make sure that when parsing of public keys fails or they fail verification, it does not affect the whole rendering.

In this case, best would be to render everything as it was on the left, but in stead of the public key part, add a red box with `This message contained a Public Key that was not valid:\n\n${e

[2021-07-22 10:27] tomholub commented on #1343
the play console is giving me a lot of trouble these days (it fails a lot when uploading / takes forever). I'll try again.

[2021-07-22 10:28] tomholub commented on #1358
This would be something to report to PGPainless likely

[2021-07-22 10:29] tomholub commented on #1358
@DenBond7 however an actionable item here for you will later be the same as https://github.com/FlowCrypt/flowcrypt-android/issues/1348 - not break the whole decrypt view when this happens, and still render the other parts.

[2021-07-22 10:58] tomholub commented on #1343
released 10% on consumer
full release on enterprise

[2021-07-22 10:58] #1343 closed

[2021-07-22 12:49] DenBond7 commented on #1202
Yup :-). I'm going to create a new one.

Please let me ask you a question. For now, after login, we call `https://flowcrypt.com/api/account/get` to get `OrgRules`. Does it mean instead of calling it I should firstly call `https://fes.<domain>/api/`?

[2021-07-22 12:51] tomholub commented on #1202
Correct. Only once you find out that FES is not running on that domain (with `isFesInstalledAndAvailable` returning false) would you proceed to do the original thing - get OrgRules from `flowcrypt.com/api/`.

[2021-07-22 15:28] DenBond7 commented on #1202
![image](https://user-images.githubusercontent.com/2863246/126665790-59dbe5ef-0aa6-4a21-9dee-4cb5e335d608.png)

[2021-07-22 15:35] tomholub commented on #1202
Thank you for making this chart.

We should completely avoid calling `flowcrypt.com` API if there is FES running. If a customer runs FES, they want nothing to do with our own flowcrypt.com/api server.

continue with gmail -> get FES /api/ -> service == enterprise.server -> GET FES client-configuration.

Only if the steps above showed that there is no FES running, then you fallback to loging into f

[2021-07-22 15:36] tomholub commented on #1202
Here a bit more clarity, maybe :-)

![image](https://user-images.githubusercontent.com/6306961/126667088-2b147d85-5f6b-414a-b734-f2cac60969d5.png)

[2021-07-22 15:45] DenBond7 commented on #1202
@tomholub Please recheck
![#1202_FES (1)](https://user-images.githubusercontent.com/2863246/126668303-75c1eb7e-1c13-4b46-afc3-8d247d8bf816.png)

[2021-07-23 09:18] DenBond7 commented on #1202
@tomholub

I'd like to clarify this one.

I can configure the following values:
[code]

Connect to the sever -> Make a request(send some data) -> read a reply from the server

[2021-07-23 10:19] tomholub commented on #1202
That looks ok enough, you could do 3 seconds each. But it would be best if there was a way to set 3 seconds overall, but not too important.

[2021-07-23 10:21] tomholub commented on #1202
This part was skipped:

Notice that the handling here is different from error 5xx or 4xx. We first check if internet is available.

[2021-07-23 10:23] DenBond7 commented on #1202
in that case, we will receive 9 seconds as max time. But here `Make a request` will be fast, so the max time will be 6 seconds(aproximatelly)

[2021-07-23 10:23] tomholub commented on #1202
Yes, that's workable.

[2021-07-23 10:30] tomholub commented on #1202
Here another adjustment to the flow. Let's say I'm a consumer user, a small business with domain example.com. I may have configured DNS that anything.example.com will show a landing page or something else. So when the app calls https://fes.example.com/api/ it may for example return 200 ok HTML page, or a JSON with a different structure and so on.

If this is consumer app, it should consider as FES

[2021-07-23 10:31] tomholub commented on #1202
By the way, where do you keep the source files for these? It would be best to add them all to https://github.com/FlowCrypt/flowcrypt-docs/tree/master/sources

[2021-07-23 10:35] DenBond7 commented on #1202
I use https://lucid.app for that. But for free usage here available only 2 charts at the same time.

[2021-07-23 11:21] tomholub commented on #1202
understood

[2021-07-23 11:22] tomholub commented on #1202
there are some intellij (and probably android studio) plugins that do this for free in the IDE - may be worth a look, so we can retain the source and edit them over time.

[2021-07-23 11:33] DenBond7 commented on #1202
a new one

![#1202_FES (3)](https://user-images.githubusercontent.com/2863246/126776090-e06b32a6-2625-4406-a611-d61e6c9549a5.png)

[2021-07-23 11:42] tomholub commented on #1202
I think this is almost there, except:
 - test for 404 response should be before testing for connection. If you received an actual response from the server, no point testing internet connection
 - test for 5xx and other 4xx should similarly be before testing for connection
 - only if there was server unreachable or timeout does it make sense to test if internet connection is available

plus it's mi

[2021-07-23 11:44] DenBond7 commented on #1202
We can use https://app.diagrams.net/(draw.io). it supports saving on GitHub and it's free(open source). It's not so good as `lucid` but still usable

[2021-07-23 11:58] DenBond7 commented on #1202
test for 5xx and other 4xx should similarly be before testing for connection

it works a little differently on Android :) The connection issue is a little difficult.

For example;

- Connection available(wifi or GSM). We try to connect to the wrong address.

[code]

- No connection(no wifi, no GSM).
[code]

Also, we will receive the same if `wifi == true && router has no connection to the INTERNET

[2021-07-23 12:25] tomholub commented on #1202
If you have received a HTTP response and it says 404, or it says 5xx or other 4xx, you don't need to test for good connection, on any platform. You can follow the response and handle it, you have received it from the server, so connection was definitely good at least in that moment.

There is only a need to check for good connection if you have not received any response, which is what you describe

[2021-07-23 12:48] DenBond7 commented on #1202
I think it's my fault, I had to add more text. On my side "Failed" doesn't mean that we received a response. It means that the call was not successful (due to the connection issue or errors from the server)

![image](https://user-images.githubusercontent.com/2863246/126783691-07a651fa-1ec5-4325-882b-1f392c577281.png)

[2021-07-23 13:45] DenBond7 commented on #1202
With added changes
![image](https://user-images.githubusercontent.com/2863246/126790481-91b3b9d5-b606-47f9-8a20-b3c2733e82bc.png)

[2021-07-23 14:25] tomholub commented on #1202
Where it says `is it connection issue?` the YES branch needs to be more complicated, unfortunately.

[code]

The consumer and enterprise apps for now will behave the same in this branch, but we should branch it out in code anyway, and add this comment, and create a separate issue after this that highlights the code and the comment.

Nevertheless, this following change needs to be reflected in the

[2021-07-23 14:27] tomholub commented on #1202
By the way you could probably simplify the diagram a lot - instead of 3x `is it consumer release?` you could just have one such box. Because the result is always either retry, or regular flow. You could always bring the retry all the way to the beginning, that doesn't hurt. Then just one box is enough.

[2021-07-23 14:28] DenBond7 commented on #1202
Could you explain what do you mean here(your visionn)?

[2021-07-23 14:34] tomholub commented on #1202
Some customers may run FES on their domain. But they have to license it from us, so most customer's won't.

The app doesn't know if it should expect FES to run there or not, so it has to try (opportunistically).

If it tries and it's connection / server unreachable error or timeout, is it because of FES being down or no network? We don't know.

If it's because of network actually not accessible /

[2021-07-23 14:40] DenBond7 commented on #1202
it's clear what you said :-). But asked just about the meaning of "internet works".

It's important. Because I can't say do we have access to the GLOBAL NETWORK. I can't just say that we have an active GSM or WIFI connection.

[2021-07-23 14:54] tomholub commented on #1202
can you call google.com to confirm?

On Friday, July 23, 2021, Den ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-23 14:55] DenBond7 commented on #1202
Of course

[2021-07-23 17:27] tomholub commented on #1202
Next week please update the diagram to reflect all this. Thanks!

[2021-07-24 05:47] IvanPizhenko commented on #1202
I've read a bit your thread, and there is quite good and open source/free software for diagrams called Dia. I recommend to try it out.

[2021-07-24 06:37] IvanPizhenko commented on #1346
I've tried to use @DenBond7 branch, but unit tests even do not compile on it. So first please make all present unit tests compiled successfully and passing, after that I can proceed further on that branch. Another way, (which I think I will take now) is to use master as base. Later on either me or @DenBond7 will have to merge any fixes into his branch.

[2021-07-24 07:17] DenBond7 commented on #1346
@IvanPizhenko I think you can use the master branch

[2021-07-24 07:59] DenBond7 commented on #1202
![image](https://user-images.githubusercontent.com/2863246/126861834-7f2f5ddc-75a0-4b2d-9a8f-9ce8a6a7ccd0.png)

[2021-07-24 19:05] IvanPizhenko commented on #1346
Seems to have fixed it. I can't make warranty that content and visual look will be absolutely identical with Node and Kotlin, but now there should not be losses of text like this.

[2021-07-24 19:37] tomholub commented on #1346
Excellent. Identical result is not the goal of course. Thanks!

[2021-07-24 19:53] IvanPizhenko commented on #1358
@DenBond7 @tomholub I have found this email in the "compatibility" mailbox, copied key out of it, and added simple unit test with it:
[code]
And this unit test passes, key can be parsed successfully. I was using current version on the master. So it is unlikely PGPainless or maybe last PGPainless update has fixed it. I will post PR with some updated tests.

[2021-07-26 05:55] IvanPizhenko commented on #1347
This may go down to BouncyCastle as long as it is actually used to read armor. Or we may need to do something extra to detect this error.

[2021-07-26 06:20] IvanPizhenko commented on #1347
It may be BouncyCastle issue. Despite BC ArmoredInputStream promises that it will throw on bad checksum, it actually does not. So either checksum is right, or there is bug in it.

[2021-07-26 06:54] IvanPizhenko commented on #1347
@tomholub I am going to report it, but BouncyCastle release cycle is quite long (may be half of year or even year), so their fix is very unlikely to be available quickly. So I suggest to take BC's ArmoredInputStream code, put it into separate class and try to fix and use that fixed class until BC developers fix their original one and publish new BC version with that fix. If we fix that, we may eve

[2021-07-26 07:31] IvanPizhenko commented on #1347
@tomholub Or maybe we should put that fixed stream into PGPainless.

[2021-07-26 08:19] martgil opened #1367 "[Potential Security Issue] Users can use web view to visit web pages other than the flowcrypt.com/privacy|terms"
Description:
Flowcrypt for android displays their /privacy and /terms web pages for their users to see. The problem is that users can use the Web View as a regular browser since it allows interactions of the links that will change its constant values which in this case the flowcrypt.com/privacy and /terms.

Problem:
It can be used for phishing by the malicious user by clicking a series of links th

[2021-07-26 08:28] #1346 closed

[2021-07-26 08:34] tomholub commented on #1347
correct, best to put it into pgpainless. maybe let paul look into it, then
you could look into other issues on our end

On Monday, July 26, 2021, Ivan Pizhenko ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-26 09:09] IvanPizhenko commented on #1358
@DenBond7 Reassigned to you, since there seems to be no issues on the PGPainless side, please look into Android specific parts.

[2021-07-26 09:34] IvanPizhenko commented on #1347
@tomholub Can I publish test PGP message file that causes this issue under open source license, like MIT or Apache? I am asking because actually Flowcrypt app is only "source available" but not completely "open source".

[2021-07-26 09:36] tomholub commented on #1347
to be fair you can take any message at all and change the checksum. so you
cabn create your own, no need to worry about license. thank you for asking

On Monday, July 26, 2021, Ivan Pizhenko ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-26 10:06] IvanPizhenko commented on #1347
@tomholub you know, I am not sure that just "any message" or my own created message will work. ArmoredInputStream alrady has checksum computation and check, so I assume (I didn't make more tests) it should generally work, so it just didn't work for that particulat message, so I'd like to take exactly it.

[2021-07-26 10:25] DenBond7 commented on #1227
It seems there is a problem with signing. All users after 1.1.7(include) were affected. It can be a compatibility issue(`PGPainless`) or incorrect library usage(`PGPainless`). I'm investigating it.

[2021-07-26 10:30] tomholub commented on #1347
ok to relicense

if i take any armored  message and change armor checksum at the end to
=0000, does it fail?

On Monday, July 26, 2021, Ivan Pizhenko ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-26 10:49] tomholub commented on #1367
I don't think it's a vulnerability, but it's unintended that users could browse the web like on normal browser.

[2021-07-26 12:10] tomholub commented on #1202
The diagram can be simplified if you get rid of the `connection timeout` box and instead include it in the `is it connection issue` so that it becomes `is it connection issue, timeout or server down?`

[2021-07-26 12:12] tomholub commented on #1202
I think you can further simplify it by combining boxes `was there error 404` and `was there error 5xx or 4xx`. Let's make it a single box that says `Was the HTTP status code a 404?` with a yes/no. `Yes` goes to `normal login flow`, `no` goes to `is it consumer release`.

[2021-07-26 12:18] DenBond7 commented on #1202
I'm starting to get confused :) I use https://app.diagrams.net/ and saving to GitHub. I think we can collaborate together. Or please provide arguments with images.

[2021-07-26 12:32] tomholub commented on #1202
I'll draw on the diagram and post it below

[2021-07-26 13:02] tomholub commented on #1202
Here

![image](https://user-images.githubusercontent.com/6306961/126993044-30983da3-fbd4-4a73-a898-99d4f062f1f0.png)

[2021-07-26 13:04] tomholub commented on #1202
Deleted my last post, still wrong

[2021-07-26 13:05] tomholub commented on #1202
![image](https://user-images.githubusercontent.com/6306961/126993463-3c738bf8-45d8-4f79-a156-ce25473b069c.png)

[2021-07-26 13:07] tomholub commented on #1202
Ok I think the above one is correct. Let me know if this makes sense, if not, it's better to ask.

[2021-07-26 13:27] DenBond7 commented on #1202
If server != enterprise-server you propose to use a regular flow in both
cases. Right? Don't we show "wrong FES server settings" for enterprise
users?

On Mon, Jul 26, 2021, 16:08 Tom J ***@***.***> wrote:

[2021-07-26 13:38] vanitasvitae commented on #1347
Do you guys want to create an upstream issue for this, or should I?

[2021-07-26 13:38] vanitasvitae commented on #1347
Also, see https://github.com/pgpainless/pgpainless/issues/159#issuecomment-886694555

[2021-07-26 13:44] tomholub commented on #1202
You're right, I missed that. Let me update it.

[2021-07-26 13:45] tomholub commented on #1347
I'll leave this all up to you Paul to file - thanks!

[2021-07-26 13:47] vanitasvitae commented on #1347
I opened https://github.com/bcgit/bc-java/issues/998

[2021-07-26 13:47] tomholub commented on #1202
Actually, I think we can leave it the way I did it in the last diagram.

It's more lax now, but that will get fixed after we later add the "later" part of the diagram.

[2021-07-26 14:22] vanitasvitae commented on #1347
https://github.com/bcgit/bc-java/issues/999 should fix this upstream.

[2021-07-26 18:35] IvanPizhenko commented on #1347
on my side, I've also implemented unit test, and waiting for new version of PGPainless on the Maven Central.

[2021-07-26 18:38] IvanPizhenko commented on #1122
@DenBond7 @tomholub
Since this may result in a lot of merge conflicts, this is probably best to be done when big tasks like Node removal are finished.

[2021-07-26 18:48] tomholub commented on #1122
I had the same thought, not a good time for this now.

Please help us look into #1317 next - thank you!

[2021-07-27 06:16] IvanPizhenko commented on #1347
@vanitasvitae After upgrading PGPainless to new version the issue still reproducible (in the sense I don't get error from PGPainless) in the my in-app test.
We are finally doing following:
[code]
Are you sure your fix has covered this? We have had manual armor detection and wrapping of original byte stream into ArmoredInputStream, but I have removed that, and issue still here. Can you please have

[2021-07-27 09:50] vanitasvitae commented on #1347
I will check. My test only checked, whether reading via `StreamUtil.pipeAll(in, out)` succeeded.
I suspect, that BC internally calls `read(bytes, offset, length)` on the ArmoredInputStream, and that might be harder to fix :/

[2021-07-27 10:10] IvanPizhenko commented on #1347
@vanitasvitae Can we have in PGPainless a stream class derived from ArmoredInputStream that fixes the issue?
Then we detect armor and wrap ByteArrayInputStream into that stream class.

[2021-07-27 10:11] vanitasvitae commented on #1347
That might be a possible solution.
I will investigate!

[2021-07-27 15:14] DenBond7 commented on #1202
Tests(no completed, will be updated)
- [ ] fes availability == false && request timeout == true && no connection == true
- [ ] fes availability == true && service == "enterprise-server" && GET "https://fes.$domain/api/v1/client-configuration?domain=$domain" == SUCCESS

[2021-07-28 06:08] IvanPizhenko commented on #1347
@vanitasvitae Now it works as expected! Thank you!

[2021-07-28 06:39] IvanPizhenko commented on #1317
@tomholub I could not find ready client for WKD, but it looks like it should not be very hard to implement it.
Regarding ZBase32 - there is library (actually additional codec for the Apache Commons Codec framework)
https://mvnrepository.com/artifact/com.sandinh/zbase32-commons-codec

[2021-07-28 06:41] IvanPizhenko commented on #1317
Btw, zbase32 is not hash algorithm, it is data encoding algorithm, like base64.

[2021-07-28 07:27] IvanPizhenko commented on #1317
@tomholub So I still not sure should we use that zbase32 library or not because it is uncertain which license does it use. Please check it and explicitly approve or deny.

[2021-07-28 07:46] IvanPizhenko commented on #1347
We've run into another issue with this:
Typescript code contained following comment:
[code]
which was ported to Kotlin too.
After recent changes, this started to fail with error: `crc check not found`. This is thrown from BC `ArmoredInputStream`, but I believe it was swallowed before. So maybe we need special option in PGPainless to ignore this exception.

I've found two throws in the ArmoredInput

[2021-07-28 07:52] vanitasvitae commented on #1347
I guess you are right. The sequoia test suite also expects messages with missing checksum to be valid:
https://tests.sequoia-pgp.org/#Mangled_ASCII_Armored_Ciphertexts

[2021-07-28 08:02] tomholub commented on #1317
Thank you for checking this thoroughly! :+1:

Both Apache 2.0 and MIT License, or a combination, is fine. Let's start using it, and if it turns out the license is something else, we'll have to re-implement it.

Sorry for the brain fart in the description, of course it's an encoding mechanism, a pretty simple one.

[2021-07-28 08:25] tomholub commented on #1347
It's funny PGPainless was compliant by accident. A "load-bearing" bug.

Yes, this would be good to also update.

[2021-07-28 14:38] vanitasvitae commented on #1347
Hehe, technically it was BC that was compliant by accident :P

I updated my PR againt the BC repo to allow ignoring missing CRC checksums.
Next I will try to also implement a workaround for this in PGPainless, though I believe it to be non-trivial.

[2021-07-28 15:02] tomholub commented on #1347
for better or worse, bc warts became ours since we use it as a dependency.
thanks for looking into this!

On Wednesday, July 28, 2021, Paul Schaub ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-29 08:58] #1202 closed

[2021-07-29 09:36] DenBond7 opened #1374 "Update libs"

[2021-07-29 09:39] tomholub commented on #1317
Here is the actual class to port - sorry I failed to mention it earlier:

https://github.com/FlowCrypt/flowcrypt-browser/blob/master/extension/js/common/api/key-server/wkd.ts

[2021-07-29 09:39] tomholub commented on #1317
I now see I mentioned it, just forgot to link it.

[2021-07-29 09:48] DenBond7 commented on #1327
I'm thinking about this one. For now, I just store `flags` for `OrgRules`. But it seems it's not enough.

![image](https://user-images.githubusercontent.com/2863246/127470395-77e59a63-9b3d-4fd0-9044-defe1d883cfe.png)

Looks like I need a separate table to store full details about `OrgRules`. I'm not sure about that because I don't know the full logic for the enterprise. @tomholub What do you think

[2021-07-29 09:50] tomholub commented on #1327
You'll need to store OrgRules it it's complete form, not just the flags - they are useful throughout.

Actually, it may not be completely wrong to store it as a JSON in a single field. Then it's flexible to changes, when we add more OrgRules attributes for example.

[2021-07-29 09:54] DenBond7 commented on #1327
I thought about JSON too. As we support compatibility for older versions for that API, JSON can be a good candidate

[2021-07-29 11:11] DenBond7 commented on #1327
@tomholub I need advice about migration.

What we have now (ver 1.1.9)

we call https://flowcrypt.com/api/account/get and receive the following

[code]
then I save `AccountEntity.domainRules` as `String = "NO_PRV_CREATE, NO_PRV_BACKUP, ..."`

After the migration, I should have the following

`AccountEntity.domainRules` as `String = "{"flags": ["NO_PRV_CREATE", "NO_PRV_BACKUP", "NO_ATTESTER_SUBMIT"

[2021-07-29 11:34] tomholub commented on #1327
Don't worry about them, there are no actual customers using it right now. Only users on flowcrypt.com domain.

It's ok to migrate it as `{"flags": [...]}` only and ignore the other parts.

Separately/alternatively, we should be eventually pulling OrgRules again from FES on every startup of the app, in background (don't hold up UI functionality while fetching). It doesn't need authentication, so it

[2021-07-29 11:35] tomholub opened #1375 "refetch client configuration on every startup"
we should be pulling client configuration again from FES on every startup of the app, in background (don't hold up UI functionality while fetching). It doesn't need authentication, so it should be pretty easy to loop through all set up accounts and re-fetch/re-save the client configuration. I'll save another issue. That will also solve this.

_Originally posted by @tomholub in https://github.com/F

[2021-07-29 11:40] DenBond7 commented on #1327
Got it.

In that case, I propose to delete `domainRules` and add `clientConfiguration` column. There are no too many users for `flowcrypt.com`, they should relogin in the app to have a workable version, because after upgrading they will have `clientConfiguration == null`

[2021-07-29 11:45] DenBond7 commented on #1327
- [ ] database migration

[2021-07-29 11:48] tomholub commented on #1327
I'd make the default client configuration to be `{"flags":[]}`. Then you have fewer special cases, one less null to worry about?

[2021-07-29 11:49] tomholub commented on #1327
It's an implementation detail, I'll leave it up to you. Just a thought

[2021-07-29 11:51] DenBond7 commented on #1327
I can do that. But for regular users, we will have `clientConfiguration = null`

[2021-07-29 11:58] tomholub commented on #1327
For regular users you could exactly put `{"flags":[]}` since that's the same as null, but less special.

[2021-07-29 12:15] DenBond7 commented on #1327
Agree. But it's not clear. Regular users should not have any configuration. For me `no configuration == null`. It's clearer than `{"flags":[]}`.

[2021-07-29 12:43] tomholub commented on #1327
up to you. on other platforms we put empty client configuration, but it
amounts to the same

On Thursday, July 29, 2021, Den ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-29 14:38] DenBond7 commented on #1327
Does it fit all the requirements?

![ezgif com-gif-maker](https://user-images.githubusercontent.com/2863246/127511570-8c2f4855-7d48-4bc9-89da-bc77cf0b8405.gif)

[2021-07-29 14:53] DenBond7 commented on #1327
forbid updating or modifying keys in settings -> keys
 forbid removing keys in settings -> keys
 forbid exporting or showing private keys

What about a case like this one?

![image](https://user-images.githubusercontent.com/2863246/127514310-7bde62b2-f545-478d-a810-e3fd1edf85d9.png)

[2021-07-29 17:11] tomholub commented on #1327
also change, please say: your keys cannot open this message.

then remove first button

change text of second button to say: inform the sender

thanks!

On Thursday, July 29, 2021, Den ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-07-30 05:46] DenBond7 opened #1376 "use Java 11 as `compileOptions`"
I think we can migrate to use Java 11 as `compileOptions`. It will be for a separate issue.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1372#issuecomment-889644748_

[2021-07-30 15:46] IvanPizhenko commented on #1317
Thank you!

[2021-07-31 15:28] #1317 closed

[2021-07-31 15:28] IvanPizhenko opened #1378 "Add WKD client test for request timeout"
So I am merging this as and test for timeout will be added in separate issue. I think I've got an idea how to do it.

_Originally posted by @IvanPizhenko in https://github.com/FlowCrypt/flowcrypt-android/issues/1377#issuecomment-890364719_

[2021-08-03 07:27] DenBond7 commented on #1296
@gjikia A new version with this fix is already available on `Google Play`

[2021-08-03 09:51] #1376 closed

[2021-08-03 15:27] #1378 closed

[2021-08-04 14:14] DenBond7 opened #1383 "version 1.2.0"
- [x] check updating from old versions to 1.2.0 (we have a database migration to v26)

[2021-08-05 08:01] DenBond7 commented on #1358
it was encountered on `pgpainless-core:0.2.4`. After trying to use `pgpainless-core:0.2.7` I can't reproduce an error. We can close it.

[2021-08-05 08:01] #1358 closed

[2021-08-05 08:22] DenBond7 commented on #1203
@tomholub Could you clarify what place should I change. As I understand, I should modify the logic on the following screen

![image](https://user-images.githubusercontent.com/2863246/128317179-b6e72139-cdc4-4119-a70d-5b743b41b09c.png)

[2021-08-05 08:26] DenBond7 commented on #1203
It can be done after https://github.com/FlowCrypt/flowcrypt-android/pull/1382 will be merged

[2021-08-05 08:35] DenBond7 commented on #1227
it was fixed by https://github.com/pgpainless/pgpainless/issues/160 and https://github.com/FlowCrypt/flowcrypt-android/pull/1384.

I've checked it myself. @seisvelas This fix will be included in the upcoming release(I hope it'll be next week)

[2021-08-05 08:35] #1227 closed

[2021-08-05 10:37] tomholub commented on #1203
The behavior throughout the app needs to be modified. Any place that calls flowcrypt.com/attester. Instead of changing several places, you should just change the API client class instead.

On browser extension, we have a `PubLookup` class which will call `Wkd` class first, then `Attester`. Every time we need to look up public keys externally, we use the general `PubLookup`. Then the logic to skip

[2021-08-05 18:42] IvanPizhenko commented on #1347
@vanitasvitae do you have any news?

[2021-08-05 21:05] vanitasvitae commented on #1347
@IvanPizhenko the 0.2.7 release should have fixed this.

[2021-08-05 21:07] vanitasvitae commented on #1347
The CRC sum will be checked once you call `decryptionStream.close()`.

[2021-08-05 22:39] IvanPizhenko commented on #1347
Had to change our code a bit, but it works. This is what I have now:
[code]

[2021-08-06 03:19] martgil opened #1389 "[connectivity issue] Unreliable show only encrypted message"
Description:
One of the FlowCrypt for Android user experience some network connectivity issues. I have further explored it based on the user's description. I can confirm that it is indeed not a connection issue but maybe a faulty function in showing the only encrypted messages. When the "show only encrypted message" was toggled to ON, the application will return a connection error at least for Gma

[2021-08-06 06:23] #1327 closed

[2021-08-06 06:24] #1374 closed

[2021-08-06 08:53] DenBond7 commented on #1203
I understand the described logic. I've alredy added support of `disallow_attester_search_for_domains`. But it looks a little different due to the existing approaches for Android and the app. In the Android app, the main point for API calls is `FlowcryptApiRepository`. Maybe when I will see the full logic with WKD I will try to make it looks closer to your realization.

[2021-08-06 13:50] vanitasvitae commented on #1347
Catching exceptions caused by missing CRC might be a good idea.

[2021-08-08 10:02] #1347 closed

[2021-08-08 16:15] vanitasvitae commented on #1347
In the master branch I do catch IOExceptions caused by missing CRC sums, so we only throw for invalid sums now.

[2021-08-09 09:58] DenBond7 commented on #1330
![image](https://user-images.githubusercontent.com/2863246/128689515-b7f132a3-7c24-4188-a53c-6434f36360fe.png)

[2021-08-09 20:58] #1330 closed

[2021-08-10 06:42] DenBond7 commented on #1383
Since 1.1.9 we have the following changes:

- Updated libs
- Added WKD client(not used yet, #1317)
- Added additional EKM updates (#1327)
- Added handling disallow_attester_search_for_domains OrgRule (#1203)
- Added retrieving OrgRules from FES(#1202)
- Fixed a bug for Thunderbird users (#1227)

https://github.com/FlowCrypt/flowcrypt-android/compare/1.1.9...master

[2021-08-10 07:55] DenBond7 commented on #1383
@tomholub It's ready

[2021-08-10 08:24] tomholub commented on #1383
Nice!

[2021-08-10 08:26] tomholub commented on #1383
@DenBond7 I forgot to add in this one: https://github.com/FlowCrypt/flowcrypt-android/issues/1201 (it was waiting for Ivan's work on https://github.com/FlowCrypt/flowcrypt-android/issues/1317 when I categorized it)

Can you please have a look still in this milestone? That way we can close https://github.com/FlowCrypt/flowcrypt-android/issues/1298 and focus on PGPainless in upcoming milestone.

[2021-08-10 08:28] DenBond7 commented on #1383
Got it. we can include it in the current milestone

[2021-08-10 10:36] tomholub opened #1392 "sometimes - my own email wrongly in cc when I click reply"
To reproduce:
1) find an encrypted email from `user@example.com` to `me@example.com`
2) click reply all on that email
3) `me@example.com` unexpectedly shows in `Cc` in gray - loading forever. In fact, this email has public key on it.

![image](https://user-images.githubusercontent.com/6306961/128852638-1098b5d8-9f6b-46a7-b3d3-1a50510ef0fc.png)

But it only happens sometimes. It seems I can reprodu

[2021-08-10 10:48] tomholub opened #1393 "Bcc loads forever after expanded"
this is different from #1392 - it was observed every single time when #1392 did not misbehave.

To reproduce:
1) find an encrypted email from `user@example.com` to `me@example.com`
2) click reply all on that email
3) `me@example.com` does NOT show in `Cc` in gray. This is correct and expected. Loading is finished. The only visible recipient is `user@example.com` and that is green. This means that

[2021-08-10 10:54] tomholub opened #1394 "click on attachment in compose box to download it back"
same as https://github.com/FlowCrypt/flowcrypt-browser/issues/3896

eg, I attach an image. Now I'm not sure it's the right image (not obvious from name). I want to view it back to double check it.

[2021-08-10 12:03] DenBond7 commented on #1201
@tomholub Could you show me the logic that you use from the web extension? Where you use the `WKD` client to fetch pub keys.

[2021-08-10 12:28] tomholub commented on #1201
Every single time when public key is pulled from external sources, it would use a general `PubLookup` class, which has `lookupEmail(email: string)` method on it.

It's implemented here: https://github.com/FlowCrypt/flowcrypt-browser/blob/master/extension/js/common/api/pub-lookup.ts

When the method is called:
1) it will try pulling from WKD. If WKD returns any result, then the PubLookup method its

[2021-08-10 12:29] tomholub commented on #1201
Inside the `Attester` class, `disallow_attester_search_for_domains` would be used so that it returns empty in case searching is disabled on that domain (or completely), meaning this setting does not affect searching on WKD.

[2021-08-10 12:30] tomholub commented on #1201
I recommend to open above code in vscode so that you can explore it (with ctrl+click) and get a better understanding of where it is used (right click + see usages) or how it fits together.

[2021-08-10 12:37] DenBond7 commented on #1201
As I understand it relates to `search by email` only (for fingerprints we use `attester`). Right?

I'd like to remind you what logic we use:

1. User types `user@example.test`
2. We search `by email` via `attester`
3. User sends a message. We already have a pub key for `user@example.test` in the cache
4. User creates a new message again
5. User types `user@example.test`
6. As we already have a pub

[2021-08-10 12:56] tomholub commented on #1201
The browser extension logic is here:

https://github.com/FlowCrypt/flowcrypt-browser/blob/ecf83dda1cb272a1096321ab4ff244ca567364ca/extension/chrome/elements/compose-modules/compose-storage-module.ts#L141

1) This should be using `PubLookup` as well - a general place to search for external public keys

2) `PubLookup.getFingerprint(fingerprint: string)` should only try Attester, because WKD does not

[2021-08-10 12:56] tomholub opened #1395 "support keeping public keys fresh through WKD - by email"
The browser extension logic is here:

https://github.com/FlowCrypt/flowcrypt-browser/blob/ecf83dda1cb272a1096321ab4ff244ca567364ca/extension/chrome/elements/compose-modules/compose-storage-module.ts#L141

1) This should be using `PubLookup` as well - a general place to search for external public keys

2) `PubLookup.getFingerprint(fingerprint: string)` should only try Attester, because WKD does not

[2021-08-10 13:13] DenBond7 commented on #1201
It's already `true` for now = if disallow_attester_search_for_domains is set to ["*"] then attester always return an empty result

[2021-08-10 13:17] tomholub commented on #1201
Even when calling by fingerprint? Just checking :-)

[2021-08-10 13:24] DenBond7 commented on #1201
Yup :)

https://github.com/FlowCrypt/flowcrypt-android/blob/4771ba023fe437cce404ad7b2f851b8474106c42/FlowCrypt/src/main/java/com/flowcrypt/email/api/retrofit/FlowcryptApiRepository.kt#L113

[2021-08-10 13:25] tomholub commented on #1201
Ok, then you can follow https://github.com/FlowCrypt/flowcrypt-android/issues/1201#issuecomment-896004144 - let me know and I'll be happy to clarify further.

[2021-08-10 13:39] DenBond7 commented on #1201
Btw, does the `WKD` server always return a single pub key?

[2021-08-10 13:40] tomholub commented on #1201
Definitely not - it's an array of public keys, may be zero, one or more than one. Good question.

[2021-08-10 13:42] DenBond7 commented on #1201
For now, our logic works just with a single key. Should I use the first matched?

[2021-08-10 13:44] tomholub commented on #1201
Ok but that's only a temporary solution.

All public keys returned from WKD should be processed, they should all be inserted or updated in local storage (comparing them by fingerprint), and when sending out a message, instead of choosing the best fitting public key like we did before, we should encrypt for all valid pubkeys that we have for that person. I'll file another issue.

[2021-08-10 13:45] tomholub opened #1396 "process multiple public keys from WKD"
All public keys returned from WKD should be processed, they should all be inserted or updated in local storage (comparing them by fingerprint), and when sending out a message, instead of choosing the best fitting public key like we did before, we should encrypt for all valid pubkeys that we have for that person. I'll file another issue.

_Originally posted by @tomholub in https://github.com/FlowCr

[2021-08-10 13:49] DenBond7 commented on #1201
in that case, we should firstly done the following https://github.com/FlowCrypt/flowcrypt-android/issues/1188

[2021-08-10 13:50] DenBond7 commented on #1396
#1188

[2021-08-10 13:52] tomholub commented on #1396
Oh, we didn't actually do #1188 yet! Yes, that would need to be done first.

[2021-08-10 14:00] DenBond7 commented on #1201
One more question. As I understand WKD returns keys in RAW format. Is it possible to receive armored keys here or should I always expect RAW keys?

[2021-08-10 14:09] DenBond7 commented on #1201
Should I check that? Why I ask. `PGPainless` can parse keys from different sources. In most cases, I don't care what exactly source do I have. if `PGPainless` can't recognize keys I will receive nothing.

One more question. Should I check that the input contains only pub keys? (throw errors or filter only pub keys, etc.)

[2021-08-11 07:53] DenBond7 commented on #1201
For me

https://www.uriports.com/blog/setting-up-openpgp-web-key-directory/
https://shibumi.dev/posts/how-to-setup-your-own-wkd-server/

[2021-08-11 09:00] tomholub commented on #1201
Do you intend on running your own WKD for testing? I don't recommend that - WKD can be trivially mocked. To mock it, you can get the right URL here https://metacode.biz/openpgp/web-key-directory for a particular email, and then serve the binary key on that URL.

[2021-08-11 10:13] DenBond7 commented on #1201
Need to test the following

- [ ] no results for wkd_no_results@flowcrypt.test
- [ ] wkd advanced. no `policy` file (wkd_advanced_no_policy@flowcrypt.test)
- [ ] wkd advanced. has `policy` file && no result (wkd_advanced_no_result@flowcrypt.test)
- [ ] wkd advanced. has `policy` file && has single pub key(wkd_advanced_pub@flowcrypt.test)
- [ ] wkd advanced skipped. wkd direct. no `policy` file (wk

[2021-08-12 14:11] DenBond7 commented on #1201
Just for history. To be able to test WKD need to execute the following

[code]

We run a mock web server on https://localhost:1212. For testing we need to route all traffic for `localhost` to `localhost:1212`

[2021-08-13 09:01] IvanPizhenko opened #1401 "I ran out of issues"
Following @tomholub advise :) https://github.com/FlowCrypt/flowcrypt-android/issues/1118#issuecomment-806453676

[2021-08-13 09:10] DenBond7 opened #1402 "Add tests for BetterInternetAddress"
It would be nice to have tests for BetterInternetAddress(https://en.wikipedia.org/wiki/Email_address#Internationalization_examples)

### Valid email addresses

- [x] simple@example.com
- [x] very.common@example.com
- [x] disposable.style.email.with+symbol@example.com
- [x] other.email-with-hyphen@example.com
- [x] fully-qualified-domain@example.com
- [x] user.name+tag+sorting@example.com (may go t

[2021-08-13 09:10] tomholub commented on #402
closing, readability is better these days

[2021-08-13 09:10] #402 closed

[2021-08-13 09:17] tomholub commented on #1401
Let's do the following
1) I'll assign some issues on on-prem repository, and you can do work there for some time. I suppose @DenBond7 will be doing many changes on this repo when removing NodeJS, so we'll let him work on Android alone for a month or two until the code settles.
2) For about two months later, I've prepared "for Ivan" milestone of things you can look into: https://github.com/FlowCryp

[2021-08-13 09:28] tomholub commented on #1402
@DenBond7 I'm thinking this should be the job of the library, rather then writing the tests ourselves. And most likely, the handling will end up being different on our browser extension and iOS app almost regardless of what we do. I suggest to close this issue.

[2021-08-13 09:38] tomholub commented on #1402
Ah. I see. Ok, we should probably do this.

[2021-08-13 09:39] tomholub commented on #1401
@IvanPizhenko update - let's do #1402 first please. So the sequence is:

1) #1402
2) on-prem issues I'm about to assign
3) "for Ivan" milestone after that https://github.com/FlowCrypt/flowcrypt-android/milestone/91

[2021-08-13 09:59] DenBond7 commented on #1402
I think this issue is quite important. And it would be nice to have a similar checking for all platforms.

@tomholub Could you share more details on how you check if an email address is valid and how you parse emails?

@IvanPizhenko has added `BetterInternetAddress` as an alternative for [InternetAddress](https://docs.oracle.com/javaee/6/api/javax/mail/internet/InternetAddress.html). For now, we u

[2021-08-13 10:08] tomholub commented on #1402
Here is browser extension. It could be worse than `BetterInternetAddress`, hard to say. But it has worked for a long time without complaints.

[code]

[2021-08-13 10:10] tomholub commented on #1402
It doesn't support email like `" "@example.org` but to be honest that's a horrible email address, I have no issue with not supporting it even if it's valid :grin:  ..

[2021-08-13 10:16] DenBond7 commented on #1402
Thank you for the example. It will be helpful for Ivan.

[2021-08-13 10:18] DenBond7 commented on #1402
Btw, @Kharchevskyi what about your side? Could you share details for iOs?

[2021-08-13 10:49] DenBond7 opened #1403 "Fix ToastMatcher"
More detail here https://github.com/android/android-test/issues/803

[2021-08-13 11:38] #1401 closed

[2021-08-14 16:54] IvanPizhenko commented on #1402
I've copied BetterInternetAddress from our another repo.

[2021-08-14 16:55] IvanPizhenko commented on #1401
ok

[2021-08-16 08:32] #1201 closed

[2021-08-16 08:44] DenBond7 commented on #1392
interesting... I've found that JavaMail always returns `ReplyTo`

Let me attach an example of the source code

![image](https://user-images.githubusercontent.com/2863246/129535973-53b4521e-f55c-4269-adcf-f902c935a32b.png)

This bug in most cases relates to Gmail behavior (threads). Because here we can see sent messages.
For the sent message `getFrom` return the sender address.

I think we can comp

[2021-08-16 15:04] DenBond7 opened #1409 "Add more tests for the compose screen(diffrent combination of To, CC from an incoming message)"
it relates to #1392 #1393

[2021-08-17 07:15] #1392 closed

[2021-08-17 07:15] #1393 closed

[2021-08-17 10:06] DenBond7 opened #1411 "expiration time == empty"
A user has encountered a problem with importing his private keys. I asked him to share his pub keys.

I've found that these keys show me something like this

`expiration time: [-] -  `

But `PGPainless` throws `java.util.NoSuchElementException: No suitable signatures found on the key.` for `KeyRingInfo.getPrimaryKeyExpirationDate`

[0x703FC34E49F70BF0-public.txt](https://github.com/FlowCrypt/flowc

[2021-08-17 13:18] DenBond7 opened #1412 ""No suitable signatures found on the key" for KeyRingInfo.getPrimaryKeyExpirationDate"
[code]

[2021-08-17 13:21] tomholub commented on #1411
please debug this between you an paul, i dont have capacity atm

On Tuesday, August 17, 2021, Den ***@***.***> wrote:

--
--
Tom James Holub <http://holub.me/>

[2021-08-17 13:22] DenBond7 commented on #1411
Got it. Will do

[2021-08-17 14:45] DenBond7 commented on #1411
@tomholub Paul has investigated that keys. The current situation is similar to https://github.com/pgpainless/pgpainless/issues/158

But it seems `OpenPGP.js` returns nothing for the expiration date (or I read results wrongly). I use `FlowCrypt for WEB -> Settings -> Additional Settings -> Experimental -> Test OpenPGP Key Compatibility`

For now, I've added a solution here https://github.com/FlowCr

[2021-08-17 15:01] DenBond7 commented on #1411
When we resolve this issue it would be nice to have a test for such a case

[2021-08-17 15:01] DenBond7 opened #1413 "Add a test for #1411"
When we resolve this issue it would be nice to have a test for such a case

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1411#issuecomment-900376088_

[2021-08-17 19:32] #1412 closed

[2021-08-17 20:34] tomholub commented on #1411
Should tell the user that this public key cannot be used for encryption.

[2021-08-18 06:25] DenBond7 commented on #1411
@tomholub  it's a little complicated issue. We should think about the following cases

1. import a private key during set up
2. import a private key via Settings ->Keys -> Import key
3. add a contact via Settings -> Contacts -> Import contact(from pub key)
4. Fetch a pub key from WKD/Attester
5. Existing private keys
6. Existing pub keys

Then it doesn't make sense if we are not going to support s

[2021-08-18 07:15] DenBond7 opened #1415 "SignInActivity does not have a NavController"
[code]

[2021-08-18 19:43] gjikia commented on #1296
Thank you, everything functioning as expected now.

[2021-08-19 21:45] #1415 closed

[2021-08-20 06:31] #1402 closed

[2021-08-20 08:42] DenBond7 commented on #1383
@tomholub It's almost ready. Just need to resolve #1411

[2021-08-20 15:28] Kharchevskyi opened #1421 "Add user to docker with messages but without backups"
Please add user to test imap/smtp server which has emails but without any backups

[2021-08-21 06:24] DenBond7 opened #1422 "Email server. Add user to docker with messages but without backups"
ref https://github.com/FlowCrypt/flowcrypt-android/issues/1421

[2021-08-21 06:25] DenBond7 commented on #1422
Upps... duplicate of #1421

[2021-08-21 06:25] #1422 closed

[2021-08-21 06:59] DenBond7 commented on #1421
To add a new user to the test email server please follow these steps:

1. Go to `docker-mailserver/docker-compose.yml`. Uncomment  `#- ./maildata_volume:/var/mail`
![image](https://user-images.githubusercontent.com/2863246/130313037-60cda5a2-ce80-431b-8edb-06f7d4d261da.png)
2. Run the local email server via `docker-mailserver/run_email_server.sh`
3. Run `docker-mailserver/scripts/add_user.sh` to a

[2021-08-21 07:00] DenBond7 opened #1423 "Add to Wiki how to add a new user to the test email server"
To add a new user to the test email server please follow these steps:

1. Go to `docker-mailserver/docker-compose.yml`. Uncomment  `#- ./maildata_volume:/var/mail`
![image](https://user-images.githubusercontent.com/2863246/130313037-60cda5a2-ce80-431b-8edb-06f7d4d261da.png)
2. Run the local email server via `docker-mailserver/run_email_server.sh`
3. Run `docker-mailserver/scripts/add_user.sh` to a

[2021-08-21 07:48] DenBond7 commented on #1421
@Kharchevskyi I've added such a user.
@tomholub Please deploy changes to the remote server.

[2021-08-23 07:27] #1421 closed

[2021-08-23 11:50] tomholub commented on #1411
Let me know if you need any questions answered here fro me.

[2021-08-23 11:55] tomholub commented on #1383
No worries, will wait until resolved.

[2021-08-23 12:08] tomholub commented on #1421
re-deployed

[2021-08-23 12:19] DenBond7 commented on #1411
ok. Please let me ask you a few questions. Firstly, as I understand we are not going to support such keys(prv or pub), right?

[2021-08-23 12:32] DenBond7 opened #1427 "Don't allow to import a private key during set up if a signature for the expiration date uses SHA-1"
ref #1411

[2021-08-23 12:38] tomholub commented on #1427
This should be already decided by PGPainless - either the key is considered valid or not, based on the default accepted algorithms. If it's not considered valid by PGPainless (not usable - no encryption packet found), we should not allow to import it, as you say.

[2021-08-23 12:39] tomholub commented on #1427
I think this is the same as https://github.com/FlowCrypt/flowcrypt-android/issues/480

[2021-08-23 12:42] tomholub commented on #1411
Correct. If it throws `No suitable signatures found on the key.`, then we don't support it.

[2021-08-23 12:45] tomholub commented on #1411
For both pubkeys and private keys.

To be fair, for private keys, there could be a reason to support them so that you could still read email with otherwise old and now unsupported keys, but I don't want to burden ourselves with that now.

Therefore simply not supported for any usecase.

Should probably add a clearer error message like:

[2021-08-23 12:57] DenBond7 commented on #1427
If it covers all cases for #480 then it is the same. I've created it to change a logic for a particular case as a part of #1411

[2021-08-23 13:00] DenBond7 opened #1428 "Don't allow to import a private key from the settings if no suitable signatures found on the key"
as a part of #1411

[2021-08-23 13:02] DenBond7 opened #1429 "Don't allow to import a contact from a public key if no suitable signatures found on the key"
as a part of #1411

[2021-08-23 13:07] tomholub commented on #1411
As currently implemented on live version, does this cause app crash? I have user with following symptoms:

Reading https://github.com/FlowCrypt/flowcrypt-android/issues/1412 it does seem to cause a crash on 1.1.9, so it's likely to be same issue.

[2021-08-23 13:10] DenBond7 commented on #1411
To do something with new keys is not difficult. But what about existing keys?
We can have the following cases:

1. After upgrading the app we found that a user has some contact with such a public key. How should I resolve it?
2. The worse situation. After upgrading the app we found that a user has such a private key. How should I resolve it?

[2021-08-23 13:14] DenBond7 commented on #1411
You are right. We are talking about the same things

https://github.com/pgpainless/pgpainless/issues/168

[2021-08-23 13:17] DenBond7 commented on #1411
Yes, it does. But changes that were added in #1412 doesn't make sense if we are not going to support such keys. it just prevents crashes.

[2021-08-23 13:35] tomholub commented on #1411
This is not too different from a public key that was imported in the past and now is no longer valid, because it's expired. How do we handle such situation? Orange bubble? Should do the same.

I suppose we could leave this as separate issue. I'm not sure how to address this easily.

[2021-08-23 13:37] DenBond7 commented on #1411
Got it. I will create separate issues

[2021-08-23 13:40] DenBond7 opened #1430 "Handle a situation if a public key of some contact has "no suitable signatures found on the key""
as a part of #1411

[2021-08-23 13:41] DenBond7 opened #1431 "Handle a situation if a private key of some account has "no suitable signatures found on the key""
as a part of #1411

[2021-08-25 12:16] DenBond7 commented on #1427
![ezgif com-gif-maker](https://user-images.githubusercontent.com/2863246/130788785-afc60a29-85d6-4d92-b654-202ec6238153.gif)

[2021-08-25 19:05] DenBond7 opened #1434 "Use just lowercase() and uppercase() over the whole project"
Earlier I used to use `Locale.getDefault()`. But I encountered some issue (sorry, I don't remember what exactly). Then I switched to use `Locale.US` and after that all worked well.

Actually, after migration to `Kotlin` we had to use locale for `toLowerCase/toUpperCase`.
Anyway, that's a good question. Because we have such a usage over the whole code.

If you have any ideas here please share.

_Or

[2021-08-28 12:41] DenBond7 commented on #1383
@tomholub It's ready (again :smile: )

[2021-08-28 14:27] tomholub commented on #1383
Great. I should get to this by Monday.

[2021-08-30 12:49] DenBond7 opened #1439 "migration to PGPainless. HTML title in the message text"
@tomholub Is it necessary to show the HTLM title in the message text? @IvanPizhenko has added a realization without that. Node.js realization includes the HTLM title in the message text.

HTML

`<title>Get started on your new device</title>`

`Node.js`
![Selection_788](https://user-images.githubusercontent.com/2863246/131341207-20f90c1b-f315-4101-a9bb-cf8c241b42e5.png)

`PGPainless`
![Selection_78

[2021-08-30 13:19] DenBond7 opened #1440 "Migration to PGPainless. Message details. Attachment. Pub key with SHA1 algo"
Need to think about how to handle the following

`Node.js`

![Selection_790](https://user-images.githubusercontent.com/2863246/131345233-e74d7054-11a5-46de-8a26-02bad6dfe101.png)

`PGPainless` (for now)

![Selection_789](https://user-images.githubusercontent.com/2863246/131345107-d87c7875-21c5-41af-94c5-081ab3f8f609.png)

[2021-08-30 14:55] tomholub commented on #1439
What does gmail app show?

[2021-08-30 15:00] DenBond7 commented on #1439
Gmail shows the following

![Screenshot_2021-08-30-17-58-50-72_e307a3f9df9f380ebaf106e1dc980bb6](https://user-images.githubusercontent.com/2863246/131359859-f02de931-8ee1-48e7-bf47-219d80f00cb7.jpg)

[2021-08-30 15:03] tomholub commented on #1439
No title. In that case, the PGPainless implementation is better, I think.

[2021-08-30 15:04] DenBond7 commented on #1439
Got it. So I'm closing it.

[2021-08-30 15:04] #1439 closed

[2021-08-30 22:29] tomholub commented on #1383
did a 10% release

[2021-08-30 22:29] #1383 closed

[2021-08-31 08:30] DenBond7 commented on #1353
ref https://github.com/pgpainless/pgpainless/issues/172

[2021-09-03 18:09] DenBond7 opened #1444 "Migration to PGPainless. Message details. looks like a public key pasted as text but is invalid"
web

![image](https://user-images.githubusercontent.com/2863246/132048841-ced3c5cf-c833-4a11-b880-9b59e7d82f5d.png)

Android Node.js

![image](https://user-images.githubusercontent.com/2863246/132048954-c02d7760-c3e0-4555-bc9e-cbe02fe9e8ef.png)

Android PGPainless

![image](https://user-images.githubusercontent.com/2863246/132049033-4173737f-082d-471d-ab64-70f680b0b0e0.png)

[2021-09-03 18:18] DenBond7 opened #1445 "Migration to PGPainless. Message details. TRIPLE_DES"
web

![image](https://user-images.githubusercontent.com/2863246/132049739-c8d9c5ea-40c1-426a-b96a-28cb277f6845.png)

Android Node.js

![image](https://user-images.githubusercontent.com/2863246/132049884-f7827956-2033-4254-b70b-876f46587b5d.png)

Android PGPainless

![image](https://user-images.githubusercontent.com/2863246/132049977-ce42ea64-0595-449d-8f80-ad9314183510.png)

[2021-09-08 12:26] DenBond7 opened #1448 "PGPainless usage. Fix changing passphrase"
ref https://github.com/FlowCrypt/flowcrypt-browser/issues/3945
ref https://github.com/pgpainless/pgpainless/issues/176

[code]

[2021-09-08 12:31] DenBond7 commented on #1448
@tomholub I can fix it quite fast. I propose to make a new release with the fix. What do you think?

[2021-09-08 13:39] tomholub commented on #1448
Sure, we can make a release.

[2021-09-08 13:41] IvanPizhenko commented on #1448
I've looked into issue and fix and approved PR.

[2021-09-08 16:09] #1448 closed

[2021-09-08 16:12] tomholub commented on #1445
Looks good enough for this milestone. In the future, we could make the error a bit more user friendly like:

`Message was not decrypted because it uses a weak encryption algorithm (XXX)` where XXX is `TRIPLE_DES` or whatever other algorithm it was.

[2021-09-08 16:12] tomholub commented on #1445
We'll probably disallow it in browser extension too.

[2021-09-08 16:13] DenBond7 opened #1450 "version 1.2.1"
Since 1.2.0 we have the following changes:
- Fixed changing passphrase via PGPainless.| #1448
- Updated some libs

https://github.com/FlowCrypt/flowcrypt-android/compare/1.2.0...master

[2021-09-08 16:21] DenBond7 commented on #1450
@tomholub it' ready

[2021-09-08 16:34] tomholub commented on #1450
@DenBond7 could you check if changing pass phrase again of a key that's already "screwed up" will produce usable key?

[2021-09-08 17:20] DenBond7 commented on #1450
I've checked that in #1449.
Steps:
1. Install 1.2.0
2. Setup the app
3. Go to Settings -> Security -> Change passphrase
4. Go to FlowCrypt for browser -> we will receive "affected" key
5. Delete the "affected" key
5. Install a release candidate
6. At this point we already have the "affected" key in the Android app. Go to Settings -> Security -> Change passphrase
7. Go to FlowCrypt for browser -> w

[2021-09-08 18:41] tomholub commented on #1450
I see. The first scenario is related to this:

![image](https://user-images.githubusercontent.com/6306961/132566379-32e7dd07-d3b6-41ed-ae17-f85d4d839ffe.png)

I'll be off work thrusday and friday for personal things, so if you and Paul can also address this scenario, that would be great. Best would be if that was the default - if the key already uses insecure method and we change pass phrase, it s

[2021-09-08 19:00] DenBond7 commented on #1450
Got it. I've created an issue for that.

[2021-09-13 07:35] DenBond7 commented on #1450
@tomholub

Paul has made an update. I've checked a new version. Works great. 1.2.1 is ready.

[2021-09-13 08:53] tomholub commented on #1450
Excellent, I'll release it

[2021-09-13 09:57] tomholub commented on #1450
did a 10% release

[2021-09-13 10:03] DenBond7 commented on #1450
I've increased that value to 100%. We can do a rollout for all users as the current changes are not big.

[2021-09-13 10:08] #1450 closed

[2021-09-17 07:26] DenBond7 opened #1455 "Kotlin decryption. Fix download attachments where attInfo.rawData?.isNotEmpty() == true"

[2021-09-17 07:28] DenBond7 commented on #1455
FlowCrypt compatibility/ What Is The Bitcoin Taproot Upgrade?/Sep 15, 2021, 5:45 PM

[2021-09-17 11:13] DenBond7 opened #1456 "Kotlin decryption. Add support of attached signature"
web
![Selection_809](https://user-images.githubusercontent.com/2863246/133773289-d70d54dd-3213-4473-93b8-ba00447208e7.png)

Android Node.js

![Selection_810](https://user-images.githubusercontent.com/2863246/133773484-6908171d-cbff-4fb2-aa76-bec73126735b.png)

Android PGPainless

![Selection_811](https://user-images.githubusercontent.com/2863246/133773539-1af4c0b9-82a4-4b91-8740-7ef1d3996fb3.png)

[2021-09-17 13:10] tomholub opened #1457 "document with oauth client ids are used for which build"
especially which were used for enterprise prod build - I understand there were two client ids? One for mail provider and one for calling our backend?

[2021-09-17 13:15] DenBond7 commented on #1457
As I remember we already talked about. I will try to find history.

[2021-09-17 13:29] DenBond7 commented on #1457
I use just OAuth 2.0 Client IDs for both flavors(customer and enterprise) if we are talking about `SignIn` and `https://mail.google.com/` scope

this one https://github.com/FlowCrypt/flowcrypt-android/blob/e336f06c1872ee644a49cfe695b8b3d1ae1d59e5/FlowCrypt/src/main/java/com/flowcrypt/email/util/google/GoogleApiClientHelper.kt#L29

[2021-09-17 13:59] DenBond7 commented on #1457
@tomholub Please check if it looks good and informative.

[2021-09-17 14:04] tomholub commented on #1457
![image](https://user-images.githubusercontent.com/6306961/133795973-445426be-2911-4662-a13a-b3147cf772f0.png)

[2021-09-17 14:07] tomholub commented on #1457
could for example delete the debug one, see if it still works

[2021-09-17 14:24] DenBond7 commented on #1457
- `FlowCrypt Android Web Application for id_token` - we use it to communicate with our backend(customer + enterprise)
- `FlowCrypt Android App Enterprise Debug` - we use it to be able to use SignIn for enterprise debug builds
- `FlowCrypt Android App Enterprise` - we use it to be able to use SignIn for enterprise builds
- `FlowCrypt Android App` - we use it to be able to use SignIn for customer bu

[2021-09-17 14:27] DenBond7 commented on #1457
I meant management, analyzing statistics, and so on.

[2021-09-17 14:29] tomholub commented on #1457
Ok. That means that all apps currently use two client ids. Could you please document this in some hollistic manner - maybe a table of builds and which exact client ids (copy the client id string) they use and so on. Customers sometimes need these strings to specifically allow them.

(by the way, where in the codebase are these other 4 client ids set?)

[2021-09-17 14:31] DenBond7 commented on #1457
Will do

We only use this one `374364070962-n83b6asllhfkhij6slijr61576lqqi3v.apps.googleusercontent.com`(FlowCrypt Android Web Application for id_token) in the codebase

[2021-09-17 14:41] tomholub commented on #1457
I see, so all of this is (except for `74364070962-n83b6asllhfkhij6slijr61576lqqi3v.apps.googleusercontent.com`) decided purely by the console sha-1 fingerprints - no reference in our codebase.

[2021-09-17 14:42] DenBond7 commented on #1457
Correct

[2021-09-17 15:26] DenBond7 commented on #1457
| Build type | Package | OAuth 2.0 Client ID for API(flowcrypt)| OAuth 2.0 Client ID for email access|
| :---: | :--- | :--- | :--- |
| `Customer` | `com.flowcrypt.email` | `374364070962-n83b6asllhfkhij6slijr61576lqqi3v.apps.googleusercontent.com` | `374364070962-bs819lhrqvkv3nthh2cdb3i8fqirv3de.apps.googleusercontent.com` |
| `Customer Debug` | `com.flowcrypt.email.debug` | `374364070962-n83b6asl

[2021-09-17 15:43] tomholub commented on #1457
Thanks!

[2021-09-20 07:21] DenBond7 opened #1459 "Migration to PGPainless. Message details. "gpg: signed only but armored""
web
![Selection_813](https://user-images.githubusercontent.com/2863246/133967947-8a2f7279-b141-4ef2-b7f4-1a9181705565.png)

Android Node.js
![Selection_814](https://user-images.githubusercontent.com/2863246/133967985-0e792b9b-97a9-4b36-bf01-277c55a987f0.png)

Android PGPainless (Kotlin)
![Selection_815](https://user-images.githubusercontent.com/2863246/133968038-363c77a2-1a72-4d68-b45a-d0cd96d23aa

[2021-09-20 07:25] DenBond7 opened #1460 "Migration to PGPainless. Message details. "Jira ticket should get recognized as mime""
web
![Selection_816](https://user-images.githubusercontent.com/2863246/133968261-88a43ea2-0b25-42b5-914d-974dea7bafed.png)

Android Node.js
![Selection_817](https://user-images.githubusercontent.com/2863246/133968329-d95e5616-0e5b-4972-b263-e02df6e05d23.png)

Android PGPainless (Kotlin)

![Selection_818](https://user-images.githubusercontent.com/2863246/133968403-2e016301-99f5-47c4-aefd-7c09a8422f

[2021-09-20 08:19] DenBond7 opened #1461 "Migration to PGPainless. Message details. Show inline subject"
Node.js
![Selection_820](https://user-images.githubusercontent.com/2863246/133973643-2fcd682a-809f-4bd3-99fc-c2da2c37cbe2.png)

PGPainless(kotlin)

![Selection_821](https://user-images.githubusercontent.com/2863246/133973713-5fb1a122-af12-46cd-9154-3c12c3af4c52.png)

[2021-09-20 08:24] DenBond7 opened #1462 "Migration to PGPainless. Message details. "signed message that looks like encrypted""
web
![Selection_822](https://user-images.githubusercontent.com/2863246/133974206-8ae59d56-f19e-46be-aba3-b9fd9b7b33ce.png)

Android Node.js
![Selection_823](https://user-images.githubusercontent.com/2863246/133974248-507e90eb-6320-4ae9-9f04-292ec2f068fe.png)

Android PGPainless(kotlin)

![Selection_824](https://user-images.githubusercontent.com/2863246/133974340-675b8f37-f02b-4b41-a58f-d7cbe4b069e

[2021-09-20 08:29] DenBond7 opened #1463 "Migration to PGPainless. Message details. "looks like a public key pasted as text but is invalid""
web
![Selection_827](https://user-images.githubusercontent.com/2863246/133974763-6230bdc9-a94a-433f-b621-00896ce99cdb.png)

Android Node.js

![Selection_826](https://user-images.githubusercontent.com/2863246/133974774-c357e36b-aa80-46bc-8e45-527bf3960b16.png)

Android PGPainless(kotlin)
![Selection_828](https://user-images.githubusercontent.com/2863246/133974822-f900fca5-1249-4014-9a0c-14cee9c7ed6

[2021-09-20 08:36] DenBond7 opened #1464 "Migration to PGPainless. Message details. "Symantec Encryption Server message format mocked by FlowCrypt""
web
![Selection_829](https://user-images.githubusercontent.com/2863246/133975363-3a4f2cf5-c221-4472-91ea-f288ac914e84.png)

Android Node.js

![Selection_830](https://user-images.githubusercontent.com/2863246/133975401-69af51a4-ae49-4f72-a4e6-0460b717237d.png)

Android PGPainless(kotlin)

![Selection_831](https://user-images.githubusercontent.com/2863246/133975447-8283fed5-e47e-4920-b077-eb492209f7

[2021-09-20 09:04] DenBond7 commented on #1354
will be fixed with #1420

[2021-09-20 09:04] #1354 closed

[2021-09-20 10:06] DenBond7 opened #1465 "version 1.2.2"

[2021-09-20 10:08] DenBond7 commented on #1465
@tomholub Please look at the issues for 1.2.2 and move issues that can be resolved later(maybe 1.2.3 or even later).

[2021-09-20 10:24] DenBond7 commented on #1363
@tomholub
1) After some changes, we have the following for `NO_MDC`(Node - left, Kotlin - right)

![Selection_839](https://user-images.githubusercontent.com/2863246/133987484-9fe7cb5a-c79b-4024-a6e8-c749ebcf0652.png)

Please note that `PGPainless` doesn't decrypt a message and throws an error.

2) For `BAD_MDC` we have the same situation.

[2021-09-20 11:11] tomholub commented on #1363
Thanks for the screenshots! Can resolve later.

[2021-09-20 11:13] tomholub commented on #1353
This one is important to fix before any release.

Even if you were to print out the whole `-----BEGIN` and everything including signature, that would still be better than only showing this error. People often receive signed messages.

[2021-09-20 11:14] tomholub commented on #1456
same here - missing text is a problem

[2021-09-20 11:18] #1457 closed

[2021-09-20 11:19] tomholub commented on #1459
The result is already a bit better than before. Moving to 1.2.3

[2021-09-20 11:20] tomholub commented on #1460
Already better than before - moving to later to discuss separately.

[2021-09-20 11:21] tomholub commented on #1461
Not the worst - browser extension does this too right now, and it can be lived with. But it should be fixed soon-ish. Moving to "soon".

[2021-09-20 11:23] tomholub commented on #1462
this is a duplicate of https://github.com/FlowCrypt/flowcrypt-android/issues/1459 just a different test message, I think.

[2021-09-20 11:23] #1462 closed

[2021-09-20 11:23] tomholub commented on #1463
that's ok enough for now

[2021-09-20 11:25] tomholub commented on #1101
It's not strictly necessary that we support very large messages immediately after switching to Kotlin. If streaming large messages involves additional work, then that can be done later after the switch.

[2021-09-20 11:26] tomholub commented on #1465
Categorized - let me know if you need any further help.

[2021-09-20 11:28] tomholub commented on #1363
As long as it already looks like the last screenshots.

[2021-09-20 11:30] tomholub commented on #1363
Later, you'll probably want to change "hide original content" to a link-button that says "display dangerous content anyway". When clicked, you run decruption again but you supply some sort of `ignoreMdc: true` parameter to PGPainless. Then display the message content below, still leaving the previous red banner above.

If there isn't such mechanism to ignore MDC errors when decrypting, ask Paul if

[2021-09-20 12:15] DenBond7 commented on #1465
Thank you!

[2021-09-20 12:56] DenBond7 commented on #1348
I will show something like this one

![Selection_840](https://user-images.githubusercontent.com/2863246/134005839-f90ed81f-222c-44cf-a3ec-da421d2861a6.png)

[2021-09-20 13:02] #1348 closed

[2021-09-20 13:11] DenBond7 commented on #1355
#1420 fixes all issues. I'm closing it.

[2021-09-20 13:11] #1355 closed

[2021-09-20 13:20] #1456 closed

[2021-09-20 13:21] DenBond7 commented on #1353
#1420 fixes all issues. I'm closing it.

[2021-09-20 13:21] #1353 closed

[2021-09-20 13:38] tomholub opened #1466 "what tooling do we use for test automation?"
I received a question from a work candidate:

@DenBond7 is there anything specific that we use? is it just standard Android test tooling, or something more specific (libraries, frameworks) ?

[2021-09-20 13:47] DenBond7 commented on #1466
As described in the [README](https://github.com/FlowCrypt/flowcrypt-android#readme) we have JUnit and Instrumentation tests.

- For JUnit tests we use ["junit:junit"](https://mvnrepository.com/artifact/junit/junit) and a little [robolectric](http://robolectric.org/)
- For Instrumentation tests we use [Espresso](https://developer.android.com/training/testing/espresso)

It's a standard way for testi

[2021-09-20 13:51] tomholub commented on #1466
Thanks! Nothing else particular is used for UI tests specifically? Could you share a link to some simple UI sample test where the methods used are easy to see?

[2021-09-20 13:55] DenBond7 commented on #1466
https://github.com/FlowCrypt/flowcrypt-android/blob/e635cabc673d7cbe2b3e221645072e1c1da17bff/FlowCrypt/src/androidTest/java/com/flowcrypt/email/ui/activity/ShareIntentsTest.kt#L59

[2021-09-20 13:59] tomholub commented on #1466
Thanks!

[2021-09-20 13:59] #1466 closed

[2021-09-21 08:44] DenBond7 commented on #1455
Resolved by #1101

[2021-09-21 08:44] #1455 closed

[2021-09-21 09:35] DenBond7 commented on #1051
It will be finally resolved with #1420

[2021-09-21 09:35] #1051 closed

[2021-09-21 09:36] DenBond7 commented on #1101
It will be finally resolved with #1420. I'm closing it for now.

[2021-09-21 09:36] #1101 closed

[2021-09-21 11:10] tomholub opened #1467 "running app in emulator first time"
I'm trying to run the Android app in emulator to test #1420

I'm getting `A non-recoverable sign in failure occurred`

Here are some logs, not sure if relevant:

I suppose we could update our readme for the steps to take first time when running emulator. Or better, if we could check into the repo the relevant emulator settings and run configuration, so that an iOS dev could just click "run" and it

[2021-09-21 11:12] tomholub commented on #1467
![image](https://user-images.githubusercontent.com/6306961/134160755-182e61ba-e736-4c7f-814a-24519ef8df6d.png)

[2021-09-21 11:50] DenBond7 opened #1468 "add PGPainless ref to licences.html"
In another milestone let's add PGPainless ref

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1420#discussion_r712903886_

[2021-09-21 11:57] DenBond7 opened #1469 "Show an error to a user if we can't parse a key"
This may need a more clever error handling, in another milestone

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1420#discussion_r712905380_

[2021-09-21 11:59] DenBond7 opened #1470 "better error strategy for atts that stored as a part of PGP message"
Also this will need better error handling in another milestone

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1420#discussion_r712906257_

[2021-09-21 12:01] DenBond7 commented on #1467
from the chat history

[2021-09-21 12:04] tomholub opened #1471 "less ambiguous date on key + show expiration"
The `date` should ideally be `date created`

Then it should also show expiration date, which either shows a particular date or `never`

![image](https://user-images.githubusercontent.com/6306961/134167161-d42e0c64-5056-4b29-a497-1712e1c15885.png)

[2021-09-21 12:06] tomholub opened #1472 "socket timed out in inbox"
happened when I navigated away to settings -> keys etc, and after a while came back using back button.

![image](https://user-images.githubusercontent.com/6306961/134167375-e1d61bb1-c706-4fa6-9176-c4eed8e89390.png)

[2021-09-21 12:06] tomholub commented on #1472
could maybe auto-retry one time when this happens.

[2021-09-21 12:07] tomholub commented on #1472
I think I may have also connected to VPN meanwhile :-) which broke the connection.

[2021-09-21 12:08] DenBond7 commented on #1472
Yes, it can be true.

[2021-09-21 12:13] DenBond7 opened #1473 "use PGPainless to identify missed passphrases for keys that fit"
This could be made a separate method - actually, PGPainless should have something like this maybe? In another milestone

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1420#discussion_r712908254_

[2021-09-21 12:15] DenBond7 opened #1474 "better exception handling for signature analysis"
Should think about better exception handling in future milestone

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1420#discussion_r712909324_

[2021-09-21 12:39] tomholub opened #1475 "noname files related to OpenPGP should be recognized"
To reproduce:

1) send a message from Browser Extension - Firefox and switch to `Rich Text (PGP/MIME)`. Add some bold text (ctrl+b)
2) receive the message on Android

Actual result:

![image](https://user-images.githubusercontent.com/6306961/134170552-2f32ae71-2b13-4029-b706-dbab61e8e3c4.png)

Expected result: file with an empty name `application/pgp-encrypted` and content like `Version: 1` should

[2021-09-21 13:56] tomholub opened #1476 "attachment lost when replying"
to reproduce:

1) receive an encrypted message
2) reply all
3) attach a file (tested with 6mb image)
4) add body and send

expected result: sent reply contains the attachment

actual result: attachment missing

works on new messages

[2021-09-21 13:57] tomholub commented on #1476
observed on https://github.com/FlowCrypt/flowcrypt-android/pull/1420

[2021-09-21 14:32] DenBond7 commented on #1476
I can reproduce that. But I'm not sure that it was caused by #1420.

[2021-09-22 08:16] DenBond7 opened #1478 "Allow derepcated signature (SHA1) for consumer builds"

[2021-09-22 09:43] tomholub opened #1479 "support saving drafts during compose or reply"
When I type my email or response, drafts should get continuously uploaded to Gmail API (can skip IMAP for now).

 - [x] once every 5 seconds, check if the content of the message, subject or recipients have changed compared to previous second
 - [x] if it changed, and initiate an upload/update of draft in the background
 - [x] (If it's the first upload of this draft, receive back the draft ID, and

[2021-09-22 10:16] tomholub commented on #684
Still busy

[2021-09-23 08:01] DenBond7 commented on #1360
For now, I see the following decryption errors

1. Encrypted message inside signed
2. WRONG CHECKSUM - Message is either badly formatted or not compatible with FlowCrypt
3. NO_MDC - Security threat. The message is missing integrity checks (MDC)
4. BAD_MDC - Security threat. Opening this message is dangerous because it was modified in transit
5. Message encrypted for public keys that don't match(An

[2021-09-23 08:04] tomholub commented on #1360
5 and 6 are the same thing - should be returning KEY_MISMATCH error

Also there is FORMAT error - take any armored message, remove some lines from the middle, and then try to read it.

This one doesn't really sound like an error.

[2021-09-23 08:07] DenBond7 commented on #1360
Updated

[2021-09-23 08:20] tomholub commented on #1360
On browser extension I also have "other" when it throws some exception I don't recognize.

[2021-09-23 08:21] tomholub commented on #1360
I suppose you have something similar

[2021-09-23 08:22] DenBond7 commented on #1360
Updated

[2021-09-23 21:27] #1478 closed

[2021-09-23 21:35] #1476 closed

[2021-09-24 07:11] DenBond7 commented on #1360
@tomholub Please look at the following screenshots. Do they look good?
### WRONG CHECKSUM
![image](https://user-images.githubusercontent.com/2863246/134630154-38155e60-9bbe-44e0-897a-f727bb255a1a.png)

### NO_MDC
![image](https://user-images.githubusercontent.com/2863246/134630298-551f4286-6ebd-48c2-a5df-6bc592f6f3d3.png)

### BAD_MDC
![image](https://user-images.githubusercontent.com/2863246/1346

[2021-09-24 08:16] tomholub commented on #1360
It's all good for now. For the mdc checks missing/wrong, eventually we'll show the content of the decrypted message instead of the armor, but that is already filed for later https://github.com/FlowCrypt/flowcrypt-android/issues/1363#issuecomment-922845072

else good

[2021-09-25 07:29] DenBond7 commented on #1360
@tomholub Do you know how to reproduce this error? I need to have it for flowcrypt.test

[2021-09-25 07:34] DenBond7 commented on #1360
For history. To reproduce this error we can use an old version of GnuPG. For example [GnuPG 1.4](https://www.gnupg.org/ftp/gcrypt/gnupg/gnupg-1.4.23.tar.bz2)

via `gpg --encrypt --sign --armor --disable-mdc -r fingerprint` we can create a PGP message without MDC like this one

[code]

I've used the [following link](https://askubuntu.com/a/819230) to set up GnuPG on docker

[2021-09-25 07:34] tomholub commented on #1360
You can extract message with subject `encrypted - MDC hash mismatch - modification detected - should fail` from compatibility account

[2021-09-25 07:35] tomholub commented on #1360
NO_MDC is different from BAD_MDC. First case there is no checksum, in second case there is checksum but it's wrong.

[2021-09-25 08:23] DenBond7 commented on #1360
it requires adding keys(with a passphrase) of `flowcrypt.compatibility` to the Android emulator. I don't like that idea. The best would be to create a PGP message with BAD_MDC for `flowcrypt.test` accounts. If it sounds too difficult I think we can leave it as is(or for later). We handle `BAD_MDC` via `JUnit` tests(`PGPainless`). On Android(Instrumentation tests with UI), we have tests for all dec

[2021-09-25 09:37] tomholub commented on #1360
sounds ok to me

[2021-09-25 09:37] tomholub commented on #1465
Is it realistic to release this Tuesday to a customer for penetration testing?

[2021-09-25 13:26] DenBond7 commented on #1465
There are no issues for 1.2.2. Just need to merge the last PR and we will be ready for a new release.

[2021-09-25 14:03] #1360 closed

[2021-09-26 10:28] IvanPizhenko opened #1482 "Double auto approve for dependabot PRs"
Do similar thing as we did in another repo - auto-approve dependabot PRs by two "Robot" users.
See https://github.com/FlowCrypt/flowcrypt-enterprise-on-prem/issues/1463 for reference.

[2021-09-26 10:40] IvanPizhenko commented on #1482
Looks like only single approval is needed on this repo, so closing this issue.

[2021-09-26 10:40] #1482 closed

[2021-09-27 10:53] DenBond7 commented on #1465
@tomholub There are no issues for 1.2.2. We are ready for a new release :)

[2021-09-27 12:09] tomholub commented on #1465
Excellent, I'll release it

[2021-09-27 12:22] DenBond7 commented on #1475
@tomholub I'm analyzing the MIME format of such a message and see that it doesn't equal [RFC3156](https://datatracker.ietf.org/doc/html/rfc3156) (MIME Security with OpenPGP)

I see

[code]
But `RFC3156` requires the following

[code]
Could you share more details about the format that you use?

[2021-09-27 12:26] tomholub commented on #1475
I'm unable to send `      Content-Type: multipart/encrypted; boundary=foo;` due to https://github.com/FlowCrypt/flowcrypt-browser/issues/3157 so I'm sending whatever you are seeing above, unfortunately.

[2021-09-27 13:12] tomholub commented on #1465
10% on consumer, full on enterprise

[2021-09-27 13:12] #1465 closed

[2021-09-28 06:53] DenBond7 commented on #1459
https://github.com/pgpainless/pgpainless/issues/188

[2021-09-28 07:31] #1475 closed

[2021-09-28 15:41] DenBond7 commented on #1440
Moving to later due to https://github.com/FlowCrypt/flowcrypt-android/issues/1478

[2021-09-28 15:52] DenBond7 commented on #1459
This issue is waiting for a new release of https://github.com/pgpainless/pgpainless (probably `0.2.15`)

[2021-09-28 16:31] DenBond7 commented on #1363
ref https://github.com/pgpainless/pgpainless/issues/190

[2021-10-01 07:20] DenBond7 commented on #857
for me https://stackoverflow.com/questions/6825226/trust-anchor-not-found-for-android-ssl-connection

[2021-10-01 09:40] DenBond7 commented on #857
It seems we are talking about the following
https://developer.android.com/training/articles/security-config#CustomTrust
https://developer.android.com/training/articles/security-config#TrustingAdditionalCas

[2021-10-01 09:52] DenBond7 commented on #857
@tomholub I need a bit of advice. Please look at https://android-developers.googleblog.com/2016/07/changes-to-trusted-certificate.html and propose what option we would like to support.

We can support all user-defined CA. But I'm worrying it can be a little dangerous for users.

[2021-10-01 20:35] #1464 closed

[2021-10-01 20:36] #1468 closed

[2021-10-01 20:59] tomholub commented on #857
It's ok to trust all user-provided certificates that they set in Android Settings. It's the user device, if they put wrong certificates there, that's their problem. Not much we can do about that.

[2021-10-03 13:50] DenBond7 opened #1490 "version 1.2.3"

[2021-10-03 14:56] #857 closed

[2021-10-03 14:57] DenBond7 commented on #1490
@tomholub It's ready

[2021-10-03 15:32] tomholub commented on #1490
Thank you!

[2021-10-03 21:47] tomholub commented on #1490
enterprise 100%, consumer 10%

[2021-10-03 21:47] #1490 closed

[2021-10-05 15:52] tomholub commented on #1097
Here, before loading the message, we'd pull public keys from local contacts that are recorded for the email that we received the message from. Then offer these to the verification method as possible public keys it was signed with. If none of them match the signed message, we'd show "could not verify message".

This should be done after issues in https://github.com/FlowCrypt/flowcrypt-android/miles

[2021-10-07 18:41] tomholub commented on #1467
Thanks!

[2021-10-09 21:50] #1470 closed

[2021-10-13 05:41] martgil opened #1505 "draft ui issue"
Description:
Draft label contains "/" character produces  a new separate label when displayed on the android version. This first created draft label tab doesn't contain any emails, only the second draft label only. Just a minor UI issue I just noticed.

<img width="666" alt="draft tabs issue" src="https://user-images.githubusercontent.com/46025304/137073544-f063d586-f265-4081-b7ca-9a2e4d2c8992.png

[2021-10-14 07:14] DenBond7 opened #1509 "Update some libs"

[2021-10-15 15:42] DenBond7 opened #1512 "Add final checking for NO_PRV_BACKUP on the backup screen."

[2021-10-17 07:43] DenBond7 opened #1513 "move deeplinks to devTest flavour"

[2021-10-18 15:10] DenBond7 opened #1517 "version 1.2.4"
https://github.com/FlowCrypt/flowcrypt-android/compare/1.2.3...master

[2021-10-18 17:28] #1512 closed

[2021-10-20 15:37] tomholub commented on #1188
On other platforms (browser and iOS) we have renamed `Contact` to `RecipientWithPubKeys` as follows:

[code]

So instead of `Contact` that has one pubkey in it, it's a recipient which has an array.

To give you some examples:

Tom may have a key for Tom + Human + Security
Human may have a key for Human
Mart may have a key for Mart + Security

So you can definitely have a situation where Tom has mo

[2021-10-21 07:05] tomholub commented on #1188
It's ok to do it this way, if you prefer it. It's true it will probably make it simpler for you.

But you can no longer de-duplicate by key fingerprint, and it cannot be a unique index. So your unique index will probably be recipient_id+fingerprint?

[2021-10-21 14:47] #1473 closed

[2021-10-21 17:00] tomholub commented on #1517
10% released

[2021-10-21 17:00] #1517 closed

[2021-10-21 17:32] DenBond7 commented on #1517
You are right. But I post this diff only to see changes for the upcoming release. After that this diff doesn't make sense.

[2021-10-25 19:13] softexpert opened #1522 "Passphrase incorrect although it works in the browser"
Hello,

Using the beta version 1.2.3 (from the Play Store, Android 11) here and I still cannot finish configuring the Android client.
I constantly get the message "Incorrect pass phrase, please try again".
The passphrase is copied from a password management application; I use the same application on the browser on my PC, so it has exactly the same string value.
Any idea where this error is coming

[2021-11-01 08:24] martgil opened #1531 "Correct message readable from the browser extension but not on android"
Description:

A number of users are having some problem reading an encrypted message from the android app. To be specific, these messages seem to be correctly formatted and can be decrypted through the browser extension but has some problem when the android app decrypt them.

The error looks exactly like this. But the main difference is that I have intentionally manipulated the message to replicat

[2021-11-01 08:30] martgil commented on #1531
I should also add that the language wherein one of the encrypted messages was written was in french. Maybe the message contained a special character that can't be decoded from the app?

[2021-11-01 08:30] DenBond7 commented on #1531
Interesting... To investigate that it would be nice to have a workable version for the browser extension and not workable for the Android app.(without manipulation on our side, just as-is from a user.)

[2021-11-01 08:38] martgil commented on #1531
I truly agree with you. One of the respondents has shared the following software and version from which they experience the issue.

Let me know if you need anything else. I will help you to investigate this as possible as I can.

[2021-11-01 11:14] DenBond7 commented on #1531
I need to have a message that can not be recognized by the Android app. Could you ask the user to share such a message(if it doesn't contain sensitive info) or generate a new one for den@flowcrypt.com? Then I will analyze the raw MIME message, check how it works in the browser version and so on.

[2021-11-01 11:24] DenBond7 commented on #1522
Thank you @SoftExpert for the additional details. I've tried to use examples of pass phrases. Unfortunately, I still can't reproduce your issue. I'm going to add more details for the error message to be able to specify the place of the error. This fix will be included in the upcoming release. I will notify you when a new version will be available.

[2021-11-02 12:07] DenBond7 commented on #1522
https://github.com/FlowCrypt/flowcrypt-android/commit/650279d0bca238fac194d11caa39003b3b07d3d7

[2021-11-02 18:56] tomholub opened #1532 "HIDE_ARMOR_META client configuration support"
https://flowcrypt.com/docs/business/org-rules.html

[2021-11-03 05:07] martgil commented on #1531
Okay, sir! I have asked the user if he can share the mime message with us. I will forward them to you right away whenever I get have them. Thank you!

[2021-11-03 11:30] tomholub opened #1533 "checking of pass phrase strength when importing from EKM"
I got feedback from customer:

when importing on EKM, do we check pass phrase strenght? If we currently don't, then we should (same requirement as when creating a passphrase for a new key)

[2021-11-03 12:46] DenBond7 commented on #1533
Hmm... it's a little strange. We check pass phrase strength

![image](https://user-images.githubusercontent.com/2863246/140062208-9e092307-6ac4-4424-a071-1ab06741f028.png)

Could you ask a user to provide more details? screenshots?

[2021-11-03 12:48] tomholub commented on #1533
If you click set pass phrase, and it's weak, will it let you? Or stop you?

I asked them to provide more details. Just wanted to check internally as well.

[2021-11-03 12:52] DenBond7 commented on #1533
let me show you how it works

![ezgif com-gif-maker](https://user-images.githubusercontent.com/2863246/140063237-8a219822-b2d7-41ed-83e6-f7bd2d08ac4f.gif)

[2021-11-03 13:37] tomholub commented on #1533
This is as expected. Let's wait for their clarification. Thanks!

[2021-11-03 13:37] #1533 closed

[2021-11-05 08:03] martgil commented on #1531
Reference: https://mail.google.com/mail/u/2/#inbox/FMfcgzGlkjccFRNjWwKKkjMpXgdCzDNx

[2021-11-08 09:17] DenBond7 commented on #1531
@martgil Could you ask the user maybe he knows how such a message was created? What software was used?

[2021-11-08 09:27] martgil commented on #1531
The user having such an error usually came from kraken.com device approval (not on every email).
![image](https://user-images.githubusercontent.com/46025304/140716223-b17b5797-b437-4302-a73a-f8ea7468c5a9.png)

Email subject from kraken.com looks exactly the following:
"Kraken Security - New Device Approval Required (11-05-21 00:10:47 -0700)"

But I think it is one of the following.

- Another issu

[2021-11-08 12:17] tomholub opened #1538 "include attachments in forwarded message - detached"
customer request

[2021-11-08 13:33] DenBond7 commented on #1522
To summarize what we've encountered with @SoftExpert
1) It seems we have a problem in a place where we fetch backups from IMAP
2) It seems String <-> byte array transformation it's a reason of this issue
3) Maybe it would be nice to have an option to import keys manually even we have backups on IMAP server.

[2021-11-08 14:18] DenBond7 commented on #1188
@tomholub Depending on a new logic I'd like to discuss a few questions. I will post them as separate comments (one by one) to be able to extract them to separate issues.

[2021-11-08 14:18] DenBond7 commented on #1188
Importing pub keys

Here we can have two cases:
1) key with a single user id: for example key for A@flowcrypt.test It's a simple case.

Here we have the same behavior as before.

2) key with a few user ids: for example key for A@flowcrypt.test, B@flowcrypt.test

Here we have 2 theoretical recipients: `A@flowcrypt.test`, `B@flowcrypt.test`. Should I add 2 entries to the local database

[code]

[2021-11-08 14:18] DenBond7 opened #1539 "A few pub keys for a recipient. Importing pub keys on the compose screen"
Importing pub keys

Here we can have two cases:
1) key with a single user id: for example key for A@flowcrypt.test It's a simple case.

Here we have the same behavior as before.

2) key with a few user ids: for example key for A@flowcrypt.test, B@flowcrypt.test

Here we have 2 theoretical recipients: `A@flowcrypt.test`, `B@flowcrypt.test`. Should I add 2 entries to the local database

[code]

_Ori

[2021-11-08 14:28] DenBond7 commented on #1188
Creating an encrypted message

When we create a new message we check if a user has a pub key. But before we had one user <-> one pub key.
After changes a user can have a few pub keys with different states, for example:
1) `one good` + `one expired`
2) `one good` + `one good`
3) `one expired` + `one expired`

How to handle such cases?
What color should I use for chips in these cases?

[2021-11-08 14:29] DenBond7 opened #1540 "A few pub keys for a recipient. Creating an encrypted message"
Creating an encrypted message

When we create a new message we check if a user has a pub key. But before we had one user <-> one pub key.
After changes a user can have a few pub keys with different states, for example:
1) `one good` + `one expired`
2) `one good` + `one good`
3) `one expired` + `one expired`

How to handle such cases?
What color should I use for chips in these cases?

_Originally p

[2021-11-08 14:35] DenBond7 commented on #1188
Encryption and signing. NEW messages

Imagine that I have the following records in the local database

[code]

I'm a `sender`. I'd like to encrypt and sign a message for a `recipient`. What combination of keys should I use?

1. `KEY` + `KEY1`
2. `KEY` + `KEY2`
3. `KEY` + `KEY1` + `KEY2`

[2021-11-08 14:35] DenBond7 opened #1541 "A few pub keys for a recipient. Encryption and signing."
Encryption and signing. NEW messages

Imagine that I have the following records in the local database

[code]

I'm a `sender`. I'd like to encrypt and sign a message for a `recipient`. What combination of keys should I use?

1. `KEY` + `KEY1`
2. `KEY` + `KEY2`
3. `KEY` + `KEY1` + `KEY2`

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1188#issuecomment-9632

[2021-11-08 16:49] tomholub opened #1542 "multiple pubkeys per email - Importing pub keys manually"
Not the same as before. Before, you were always the public key. Now, need to compare it to existing public keys of that one recipient by primary fingerprint.
 - if the key is not present in the list of keys of that one recipient, add it to the list
 - if already present, then compare by lastModified. If the offered key is newer, then replace the existing key by the newer key. If older, then do not

[2021-11-08 16:51] tomholub commented on #1542
duplicate of #1542

[2021-11-08 16:52] tomholub commented on #1539
here: https://github.com/FlowCrypt/flowcrypt-android/issues/1542

[2021-11-08 17:04] tomholub commented on #1540
For color choice, see public key ordering + coloring: https://github.com/FlowCrypt/flowcrypt-android/issues/1188#issuecomment-947789890 . As before, if color of any recipient is non-green, then they don't have any good public key and therefore message cannot be sent - they should see a modal.

Here are also some test emails for manual testing: https://github.com/FlowCrypt/flowcrypt-ios/issues/744

[2021-11-08 17:10] tomholub commented on #1541
For encryption, use all of them, but:
 - filter only valid keys of recipient per #1540
 - reuse our existing mechanism to choose sender's key based on sender email, but instead of choosing one, make it a filter. That means, any of my keys that contain the sender email address in any of their uids will get included. Also, if there isn't any valid key, show a modal about my own keys as before

For s

[2021-11-08 17:14] DenBond7 commented on #1542
I'm reopening it. It will relate to manual import

[2021-11-08 17:15] DenBond7 commented on #1539
I've updated the subject. It will relate to the compose screen.

[2021-11-08 17:17] DenBond7 commented on #1539
@tomholub by the way, is there a situation when we can receive a response from API that contains a few keys(attester)?

[2021-11-08 17:23] tomholub commented on #1539
Not yet, but may be in the future. I will warn you ahead of time if that was the case, but I recommend that internally the method starts returning an array of public keys (that for now contain zero or one element), even if from the API it received a single key.

[2021-11-08 17:26] tomholub commented on #1539
Btw on compose screen it's somewhat different than manual import.

Because on compose screen, you always know *which exact recipient email* you're looking up.

So if I look up `joe@flowcrypt.test` - because it's one of the recipients, then I'm saving the received keys for `joe@flowcrypt.test`. In that situation, it doesn't matter what pgp user ids the receivd public key have. I'm saving them for t

[2021-11-08 17:29] tomholub commented on #1542
In the situation above, I've described manual import in the settings.

I suppose manual import when we receive pubkey over a message could work the same - go by primary email. On browser extension we currently show an email address input where the primary user id is prefilled. Does Android do the same? Or it doesn't give the user any choice who to import for?

[2021-11-08 17:40] DenBond7 commented on #1542
Could you attach a screenshot? To be sure we are talking about the same things

[2021-11-08 17:42] tomholub commented on #1542
here the text input that contains email address:

<img width="914" alt="image" src="https://user-images.githubusercontent.com/6306961/140791530-01895789-6634-4aa1-9c9a-0a8481f35c61.png">

[2021-11-08 18:10] tomholub opened #1543 "add a warning when importing a public key manually"
When importing a public key received through email, currently, we compare the fingerprint of the new public key with fingerprint(s) we already have recorded internally, and based on that we say either `import public key` or `replace public key` or similar.

We should update this as follows (here recipient email is the primary uid of the received key):
 - if we don't have any public keys recorded f

[2021-11-08 18:29] tomholub commented on #1543
A simpler version of this issue: leave everything as is and always add `Manually importing Public Keys received over email can be dangerous. Contact the sender to verify that the fingerprint matches.`

[2021-11-08 18:30] tomholub opened #1544 "add warning when manually importing public keys"
A simpler version of this issue: leave everything as is and always add `Manually importing Public Keys received over email can be dangerous. Contact the sender to verify that the fingerprint matches.` (orange color text, plus change the button to orange)

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1543#issuecomment-963443790_

Add this warning to both

[2021-11-08 21:31] #1096 closed

[2021-11-08 21:37] tomholub opened #1545 "Send password-protected messages through web portal when no public keys available"
Similar to what browser extension does. iOS issue https://github.com/FlowCrypt/flowcrypt-ios/issues/955

 - [x] #1614
 - [x] #1615
 - [x] #1620
 - [x] #1622
 - [x] #1618
 - [x] #1621
 - [x] #1667

[2021-11-08 21:45] tomholub opened #1546 "how to add another language option to the app?"
We've been asked to add more languages. As a test, I'd like to add Czech translation to the app. How can I do it?

[2021-11-09 07:16] DenBond7 commented on #1546
Please look at https://github.com/FlowCrypt/flowcrypt-android/blob/master/FlowCrypt/src/main/res/values/strings.xml. Here we store all text that can be translated.

There can be 2 cases:

1. The system applies a new language automatically based on the system language. This is the default behavior(the simplest way, just need to create `strings.xml` for some language and store it in the right folder

[2021-11-09 09:48] DenBond7 commented on #1539
For case `"recipient without pub keys in the local database"` we have the following

1. Fetch recipient pub keys from a server(`attester/wkd`)
2. Parse the received result as a list of pub keys(zero or one for now as you said. What to do if there will be more than one? save all?)
3. Save parsed pub **keys** in the local database where `recipient == email`

@tomholub Am I right?

[2021-11-09 10:01] tomholub commented on #1539
You should fetch the recipient's public keys in compose regardless if we already have them in database. If a recipient was added, their public keys will be updated every time.

Yes, using pubLookup to respect the settings

While attester may only have zero or one, WKD may already have zero to many. Basically there is almost no place in the app left where we only deal with one pubkey, it's always p

[2021-11-09 10:04] tomholub commented on #1539
Btw if we already have valid public keys in local storage for a recipient, and a call to pubLookup fails for that recipient, we can ignore the failure that time. And use the keys we already have.

But if we don't have any public keys for a person or the ones we have are not usable (expired, revoked) then a failing request to `pubLookup` should be surfaced to user to retry.

[2021-11-09 10:21] DenBond7 commented on #1539
@tomholub one more question. For now, we have the following logic

1. If a recipient doesn't have any pub keys we make an API call by email
2. if a recipient has a key(one key, because we don't multiply keys logic yet) we make an API call by fingerprint.

But it seems we can't use this logic from now. Because there can be a situation when we can miss new keys for some recipient. Should I always ma

[2021-11-09 10:40] tomholub commented on #1539
That's exactly right.

[2021-11-09 12:35] tomholub commented on #1542
Android doesn't show that input field, just saw it. That's fine. Can go by primary email, as long as that one is visible.

[2021-11-09 13:15] DenBond7 opened #1548 "Check and add missing tests for saving pub keys on the compose screen"
Need to add missing tests to cover the following:

You should fetch the recipient's public keys in compose regardless if we already have them in database. If a recipient was added, their public keys will be updated every time.

Yes, using pubLookup to respect the settings

While attester may only have zero or one, WKD may already have zero to many. Basically there is almost no place in the app lef

[2021-11-09 14:32] DenBond7 commented on #1540
Based on all info that I read I'd like to add more details. I see the following(if not first, then second, and so on)

- **GREEN** -> a recipient has at least one usable key (non-revoked, non-expired, well parsed. To be short - a good key)
- **ORANGE** -> a recipient has at least one usable key, but it's expired
- **RED** -> a recipient has at least one pub key, but it's not usable(wrongly parsed

[2021-11-09 15:19] tomholub commented on #1540
By sorting and then evaluating the first (best) key, it makes the logic simple and fool-proof. Also consistent with other platforms.

Your list doesn't mention revoked keys. Is the current code checking if the key is revoked?

[2021-11-09 15:21] tomholub commented on #1540
You can nanually with this email. Can also load the public key into your mocks / automated tests.

<img width="649" alt="image" src="https://user-images.githubusercontent.com/6306961/140952047-07c2ab1c-11f1-401a-9444-f137ffbaaa7a.png">

[2021-11-09 15:22] tomholub commented on #1540
<img width="317" alt="image" src="https://user-images.githubusercontent.com/6306961/140952378-5c600aa3-3592-4aab-a9a3-0b57183a154e.png">

[2021-11-09 16:14] tomholub commented on #1540
PGPainless should give you information about whether a public key is revoked or not. If not sure how, ask Paul. Maybe the PGPainless readme needs a section about parsing keys and getting details out of them?

[2021-11-09 16:18] DenBond7 commented on #1540
Got it, thanks. I will check.

[2021-11-09 19:48] tomholub opened #1549 "message not found in the local cache"
customer

(note - still waiting for separate email)

[2021-11-09 21:22] IvanPizhenko commented on #1540
what about revoked keys?

[2021-11-09 22:34] tomholub opened #1550 "priorities - Android"
current backlog:
 - [x] all in milestone 1.2.5

new requests:
 - [x] security - adding warning when importing public keys #1544
 - [x] security - add signature verification #1097
 - [x] forwarding encrypted attachments #1538
 - [x] message not found in the local cache #1549
 - [x] #1682
 - [x] Send password-protected messages through web portal + password policy #1545
 - [x] #1688

[2021-11-10 09:26] DenBond7 commented on #1540
![image](https://user-images.githubusercontent.com/2863246/141084202-3167cb20-8d21-439a-ba34-20b3a07af1c0.png)
![image](https://user-images.githubusercontent.com/2863246/141086398-41625be4-2e9e-466e-97d5-6203b292d914.png)

[2021-11-10 09:27] tomholub commented on #1540
very good

[2021-11-10 09:59] tomholub commented on #1540
Here's a few more test emails for you, that have combinations of keys. There are no google accounts behind them, so you can send emails and they will bounce back. Which should be enough for manual testing. All `@flowcrypt.com`

[code]

[2021-11-10 11:06] DenBond7 commented on #1541
**For encryption**

Not revoked and not expired? right?

Before we just used the first from the matching list. So there no too many changes. That's great :)

[2021-11-10 11:13] tomholub commented on #1541
And being generally usable for encryption - having primary uid, appropriate signatures and so on - overall a valid key (there should be PGPainless method to validate. Originally it was something like `.usableForEncryption`

[2021-11-10 11:15] DenBond7 commented on #1541
Got it. I will check this info. Before we didn't do that.

[2021-11-10 11:18] tomholub commented on #1541
If we didn't do that before, and didn't run into big issues, then maybe can skip it for now as well. File an issue for later.

[2021-11-10 11:21] DenBond7 opened #1552 "Use 'usableForEncryption' for pub keys"
If we didn't do that before, and didn't run into big issues, then maybe can skip it for now as well. Can file an issue for later.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1541#issuecomment-965032891_

[2021-11-10 12:17] tomholub commented on #1549
![image](https://user-images.githubusercontent.com/6306961/141111617-84c750d7-8c32-4f1c-9883-d9eb01eb8048.png)

[2021-11-10 12:32] tomholub opened #1553 "BASE64Decoder: error in encoded stream: early EOF"
Not all Base64 streams strictly observe padding, we should probably be more tolerant of this.

![image](https://user-images.githubusercontent.com/6306961/141113515-24aa3a1d-d93d-4f54-a78c-aebb0970ae5a.png)

![image](https://user-images.githubusercontent.com/6306961/141113601-4bb832f6-11b6-4c2c-aeb6-20cfbe318f78.png)

[2021-11-13 18:41] tomholub commented on #1544
This PR includes more details to cover all situations https://github.com/FlowCrypt/flowcrypt-browser/pull/4110

[2021-11-13 18:45] tomholub commented on #1097
Here a code snippet from iOS, regarding rendering various signature statuses

[code]

[2021-11-13 18:57] tomholub commented on #1097
As this issue is designed, the user will always see "no public key" when they receive a signed message from a new person. To fix this, either in the same PR or in a separate PR, we improve the flow as follows:

1) user taps a message
2) message gets downloaded from Gmail API
3) message gets processed / decrypted / verified with whatever public keys we have locally
4) result gets rendered including

[2021-11-16 02:54] martgil opened #1558 "[Support] unknown PGP public key algorithm encountered"
Description:
One of the users experiences this when opening an encrypted message.
The undecryptable message contains an error that says: `unknown PGP public key algorithm encountered`

![image](https://user-images.githubusercontent.com/46025304/141887042-416d5266-f181-4954-8081-504158265c81.png)

Please let me know if there is anything I could add up to with this report. I will provide it as soon

[2021-11-18 07:10] martgil opened #1565 "treat SSL error when opportunistically calling FES - only on consumer release"
Hello team,

We have a user experiencing a problem when logging into their account. The user is using an email with a different domain `user @example.com` similar to what we have using the `@ flowcrypt.com`. The app sends requests to `fes.${domain.tld}` and causes some SSL-related issues. This prevents the user from logging into the app.

![image](https://user-images.githubusercontent.com/46025304

[2021-11-18 07:25] DenBond7 commented on #1565
@martgil Hi Mart,

Thank you for reporting this. It's a good one.

[2021-11-18 07:29] martgil commented on #1565
You're welcome, sir. Thanks!

[2021-11-18 13:39] DenBond7 commented on #1188
Also need to add an ability to see the public key details. Before we used to show the contact details that have only one key. But now we need to change that screen

Before
`Contacts list ->  public key info`

now
`Recipients list -> Recipients details with pub key list -> public key info`

[2021-11-18 13:40] DenBond7 opened #1566 "add an ability to see public key details(all existing keys for a recipient)"
Also need to add an ability to see the public key details. Before we used to show the contact details that have only one key. But now we need to change that screen

Before
`Contacts list ->  public key info`

now
`Recipients list -> Recipients details with pub key list -> public key info`

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1188#issuecomment-97

[2021-11-18 13:41] tomholub commented on #1188
yes - correct

[2021-11-19 14:47] DenBond7 commented on #1566
@tomholub What do you think?
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/2863246/142641715-67e085b6-401b-41c6-b17b-6b0628c823bf.gif)

[2021-11-19 15:13] tomholub commented on #1566
perfect

[2021-11-22 03:22] martgil opened #1567 "allow in-memory pass phrase for consumer release"
Hello sir, @DenBond7,

Good Morning!

We have the following concern from a user related to the in-memory passphrase. The user is wondering how could he use/enable the in-memory passphrase option. I checked upon the said feature and, the option is also disabled for me with the FlowCrypt for android 1.2.4.
![image](https://user-images.githubusercontent.com/46025304/142795996-e3baa15b-ac31-4073-b03a-

[2021-11-22 09:06] martgil opened #1570 "app crash by importing a private key without an email address"
Description:
I have found an issue with the latest version of FlowCrypt app 1.2.4 that crashes the `Keys` view after importing a private key that doesn't contain an email.

Tested from an emulator and a real device.

Steps to reproduce:
[crashed.asc.txt](https://github.com/FlowCrypt/flowcrypt-android/files/7579517/crashed.asc.txt)
1. Download the crashed.asc.txt file (optional to rename if the app

[2021-11-23 07:09] DenBond7 commented on #1567
Hi Mart,

For now, this option is available for enterprise builds only. You can ask @tomholub about plans for regular customers.

For now, we have `timeout == 4 hours`. After this timeout, a passphrase will be removed from RAM. Maybe we will add some settings in the future to be able to configure it.

It is a little difficult question for answering. It depends on the system, Android version, phone

[2021-11-23 07:36] martgil commented on #1567
Hi Den,

Thank you so much for sharing your thoughts about it. It's very helpful and, I have a better understanding of it now.

I will update the concerned user now.

Thanks again,

[2021-11-23 08:04] martgil commented on #1567
Hi @DenBond7,

In case the user wants to use the enterprise builds to use this feature, are these builds manually sent/available to the customer at the moment?

[2021-11-23 08:10] DenBond7 commented on #1567
@tomholub Could you add more details here? I'm not sure I have all related info.

[2021-11-23 09:28] tomholub commented on #1567
We can enable this for consumers too. @DenBond7 is it just a matter of enabling the disabled input? Or is it more work that that?

[2021-11-23 09:38] DenBond7 commented on #1567
Just need to change a few lines

[2021-11-23 10:32] tomholub commented on #1567
Ok. Then we can enable this for next release.

[2021-11-24 08:11] DenBond7 opened #1572 "version 1.2.5"
https://github.com/FlowCrypt/flowcrypt-android/compare/1.2.4...master

[2021-11-24 08:24] martgil opened #1573 "Private Key not found for user's emails"
Description:
A user cannot send an email as the following error occurs for the outgoing message.

Public key: https://www.hammyhavoc.com/wp-content/uploads/2021/10/Hammy-Havoc_0xF2300FF6_public.asc

![image](https://user-images.githubusercontent.com/46025304/143200743-fde93ac3-387c-4592-8460-60d00724221a.png)

Reference: https://mail.google.com/mail/u/2/#inbox/FMfcgzGlksLXbBmSMlrMBPGNPVKcxPlX

Reg

[2021-11-24 14:25] DenBond7 commented on #1570
#1523 will resolve this issue

[2021-11-25 07:05] martgil commented on #1565
@DenBond7 Good Morning, sir! A concerned user asked for an update on this issue. Do we have an estimated ETA for this issue to get fixed?

Kind regards,

[2021-11-25 12:17] DenBond7 opened #1574 "AndroidStudio can't syntax-highlight multiple line SQL - report to maintainers"
Hm. I guess in this case it makes sense to have an exception, since AndroidStudio can't syntax-highlight multiple line SQL?

@DenBond7 please see which plugin is responsible for this, make sure you are on the latest one, and potentially submit a bug report to their github or other place. Or find existing bug report to mention that this is affecting us. It seems like quite an oversight.

_Originall

[2021-11-25 14:34] DenBond7 opened #1575 "Add a test for saving/updating a public key from on the message details screen"
Please file a separate issue for the future to add a test for this. Since it could be disabled without noticing, it's not covered by any test.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1523#discussion_r756835891_

[2021-11-25 17:29] tomholub opened #1576 "us constants for SQL queries when used by more than one method"
That means in the future we may be doing this for all. But that's also for another issue.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1523#discussion_r757003301_

[2021-11-25 18:10] #1188 closed

[2021-11-25 18:10] #1540 closed

[2021-11-25 18:10] #1541 closed

[2021-11-25 18:10] #1542 closed

[2021-11-25 18:10] #1539 closed

[2021-11-25 18:10] #1566 closed

[2021-11-25 18:10] #1570 closed

[2021-11-25 18:15] tomholub commented on #1565
For the fix here:
 - regular release: SSL errors can be ignored, treat as no FES available
 - enterprise: SSL errors are treated as an error, the way it is now. Don't let user proceed.

[2021-11-25 18:19] tomholub commented on #1565
@martgil please use emails at `example.com` or `something.text` to avoid triggering the bot.

@DenBond7 Also, this only applies to situations when we call FES opportunistically - when we don't know if FES is running or not. Once FES was known to be running successfully at least once, we treat API calls like any other API call - failures must continue failing. This especially applies to #1375 - if

[2021-11-25 18:20] tomholub commented on #1395
The above code sample is outdated. Let me find a fresher one.

[2021-11-25 18:23] tomholub commented on #1395
The whole description is wrong, actually. I'll delete it.

[2021-11-25 18:33] tomholub commented on #1395
Updated description above. Do we already do this now?

[2021-11-26 10:50] #1567 closed

[2021-11-26 11:27] DenBond7 commented on #1375
@tomholub Please let me clarify one moment. When you said

Did you mean?

1. Run it once when we run the app process. It will not be too often(it depends on a device, Android version, manufacturers and etc.)
2. Run every time when we open the app from the main screen. For example, open the app(`fetch FES`), go to settings, press back, press back again and exit from the app to the home screen, open

[2021-11-26 11:33] tomholub commented on #1375
How about run it "first time the user views inbox since app came into foreground" ?

So:

1) open the app - view inbox - refetch
2) go to open message, back to inbox - no refetch
3) go to open message, switch to other app - no refetch
4) switch to flowcrypt again, message opens - no refetch
5) go back to inbox - refetch
6) go back to message and back to inbox - no refetch
7) switch to other app an

[2021-11-26 13:51] DenBond7 opened #1580 "Add more domains to getPublicEmailDomains"
On browser extension we use: `['gmail.com', 'yahoo.com', 'outlook.com', 'live.com', 'googlemail.com']`

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1579#discussion_r757477129_

[2021-11-26 13:52] DenBond7 opened #1581 "Improve EmailUtil.getDomain()"
An empty string may not be the best choice. Actually, how come email is already nullable? When would it ever be null?

On browser extension in these situations I throw (cannot parse domain from email).

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1579#discussion_r757474536_

[2021-11-26 13:52] #1375 closed

[2021-11-26 14:21] DenBond7 commented on #1395
Almost. I've just found that we only check the first cached public key.

https://github.com/FlowCrypt/flowcrypt-android/blob/20cd64ba705b203b755bbdf730b4538122e19c1a/FlowCrypt/src/main/java/com/flowcrypt/email/jetpack/viewmodel/RecipientsViewModel.kt#L340

Need to fix that to loop over all cached public keys for a recipient

[2021-11-26 14:27] DenBond7 commented on #1395
Sorry, I was wrong. Actually, we already do that. All things fit described requirements. We can close it.

[2021-11-26 14:33] DenBond7 commented on #1396
https://github.com/FlowCrypt/flowcrypt-android/blob/20cd64ba705b203b755bbdf730b4538122e19c1a/FlowCrypt/src/main/java/com/flowcrypt/email/jetpack/viewmodel/RecipientsViewModel.kt#L332

https://github.com/FlowCrypt/flowcrypt-android/blob/20cd64ba705b203b755bbdf730b4538122e19c1a/FlowCrypt/src/main/java/com/flowcrypt/email/security/SecurityUtils.kt#L123

We've already added this functionality. I'm clo

[2021-11-26 14:33] #1396 closed

[2021-11-26 14:43] tomholub commented on #1097
Looks like this on iOS

![image](https://user-images.githubusercontent.com/6306961/143597414-9e7143d1-9303-4394-8d78-b58ccf4442ca.png)

[2021-11-26 14:49] #1580 closed

[2021-11-27 23:43] #1581 closed

[2021-11-29 10:03] DenBond7 opened #1586 "Test SSL error when opportunistically calling FES"
it relates to #1585

[2021-11-29 10:04] DenBond7 commented on #1586
local web server can be runned with

`sudo docker run -d -p 443:443 inanimate/httpd-ssl`

[2021-11-29 14:27] #1565 closed

[2021-11-30 05:19] martgil commented on #1531
Hello @DenBond7,

Yes, It seems like. I have built and run the latest version from the master branch into my android emulator and I am now able to read the encrypted message from kraken.io completely. Thanks so much!

[2021-11-30 07:05] DenBond7 commented on #1531
In that case, I'm closing it.

[2021-11-30 07:05] #1531 closed

[2021-11-30 08:08] DenBond7 commented on #1572
@tomholub It's ready!

[2021-11-30 16:56] DenBond7 opened #1588 "Restrictions on background starts"
https://developer.android.com/guide/components/foreground-services#background-start-restrictions

[code]

[2021-11-30 17:08] DenBond7 opened #1589 "Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent."
[code]
https://developer.android.com/about/versions/12/behavior-changes-12#pending-intent-mutability

https://stackoverflow.com/questions/67045607/how-to-resolve-missing-pendingintent-mutability-flag-lint-warning-in-android-a

https://medium.com/androiddevelopers/all-about-pendingintents-748c8eb8619

[2021-11-30 17:17] DenBond7 opened #1590 "Key has no suitable encryption subkeys."
[code]

[2021-12-01 17:56] DenBond7 commented on #1590
https://github.com/pgpainless/pgpainless/issues/223

[2021-12-02 09:13] DenBond7 commented on #1590
gpg --default-new-key-algo rsa3072 --gen-key

[2021-12-02 11:06] DenBond7 commented on #1552
https://github.com/FlowCrypt/flowcrypt-android/issues/1590

[2021-12-02 11:48] DenBond7 commented on #1590
no_encryption_subkeys@flowcrypt.test

[code]

[2021-12-02 11:49] DenBond7 commented on #1590
![image](https://user-images.githubusercontent.com/2863246/144416556-4401faf7-bb99-4c2a-86e0-bd90e34c9d60.png)

[2021-12-02 14:32] DenBond7 commented on #1590
![image](https://user-images.githubusercontent.com/2863246/144441798-1b1d3ba1-76cf-4308-9a41-ea342abdc47d.png)

[2021-12-02 14:46] tomholub commented on #1572
Excellent, building & releasing

[2021-12-02 15:15] tomholub commented on #1572
released :+1:

[2021-12-02 15:15] #1572 closed

[2021-12-02 15:17] tomholub commented on #1546
Excellent. Luckily not needed to address in this milestone.

[2021-12-02 15:19] tomholub commented on #1546
I presume, if I add another language this way and it's missing some strings, it will default to English?

[2021-12-02 15:52] DenBond7 commented on #1546
Yup, you are totally right

[2021-12-03 14:29] DenBond7 commented on #1553
https://community.oracle.com/tech/developers/discussion/4080143/javamail-decodingexception-base64decoder

[2021-12-03 21:17] #1590 closed

[2021-12-03 21:18] #1589 closed

[2021-12-06 12:03] tomholub commented on #1544
@DenBond7 will you be able to look at this today?

[2021-12-06 12:04] tomholub commented on #1097
@DenBond7 I'd like you to start working in this tomorrow - please check if you have everything you need.

[2021-12-06 12:07] DenBond7 commented on #1544
No prob, I'm switching to this one.

[2021-12-06 12:09] tomholub commented on #1544
Do you have any other work currently half-finished? If so, which one?

[2021-12-06 12:10] tomholub commented on #1544
Ah, I see the project part :-) got it. Yes - better switch to this.

[2021-12-06 12:10] DenBond7 commented on #1544
![image](https://user-images.githubusercontent.com/2863246/144843805-bb9eaeed-635f-431e-ab1e-23eef314c74d.png)

[2021-12-06 12:12] tomholub commented on #1544
(maybe) Ivan could later help with the Base64, since it's not Android-specific.

[2021-12-06 12:15] DenBond7 commented on #1544
Not sure. It relates to JavaMail and Android logic. I've found how to prevent that but we need to decide if it fits our needs. Anyway, we can move it for later.

[2021-12-06 12:26] tomholub commented on #1544
ok

[2021-12-06 12:40] DenBond7 commented on #1544
![image](https://user-images.githubusercontent.com/2863246/144847634-fa5234c4-200b-4b73-b4e6-c85b2517fa66.png)

[2021-12-06 12:42] tomholub commented on #1544
very good, same for the bulk imports 👍

[2021-12-06 12:50] DenBond7 commented on #1544
All cases. Just to be sure that I show a warning when it is needed. @tomholub is it correct?
1. pub key can't be imported/updated
![image](https://user-images.githubusercontent.com/2863246/144848585-75e7c2a2-2ed0-49ad-92f6-5c7b12591ef4.png)
2. pub key can be imported/updated
![image](https://user-images.githubusercontent.com/2863246/144848641-9bbcdac3-c2a8-49eb-a5a9-e6cdb7b57f8c.png)
3. pub key is

[2021-12-06 12:55] tomholub commented on #1544
that looks good

[2021-12-06 14:05] DenBond7 commented on #1544
@tomholub Do you mean here?

![image](https://user-images.githubusercontent.com/2863246/144859945-edf3c339-f67b-48b4-a8f9-a3576fb42189.png)

[2021-12-06 14:11] tomholub commented on #1544
yup

[2021-12-06 14:11] tomholub commented on #1544
and orange buttons

[2021-12-06 14:15] DenBond7 commented on #1544
![image](https://user-images.githubusercontent.com/2863246/144861503-15cfa0ec-1a2a-4e09-8726-e134b6135618.png)

[2021-12-06 14:40] tomholub commented on #1544
yes

[2021-12-06 21:19] #1544 closed

[2021-12-07 14:22] DenBond7 commented on #1097
@tomholub Do we have examples for all cases? I mean UI

[2021-12-07 17:19] tomholub commented on #1097
yup I'll take some screenshots

[2021-12-07 17:27] DenBond7 commented on #1097
Need to test the following cases:(in progress)

- [ ] signed for `sender@flowcrypt.test`. App has a cached pub key for `sender@flowcrypt.test`

[2021-12-07 18:29] tomholub commented on #1097
![IMG_1521](https://user-images.githubusercontent.com/6306961/145085927-b2ac6ad1-bef9-434a-be2f-3881e531d6b5.PNG)
![IMG_1520](https://user-images.githubusercontent.com/6306961/145085937-88840a39-123f-4738-a2b7-8f3064bedaa0.PNG)
![IMG_1519](https://user-images.githubusercontent.com/6306961/145085941-3dfce6d0-cb17-4f57-a1ea-020dc0e60c2c.PNG)
![IMG_1518](https://user-images.githubusercontent.com/6306

[2021-12-07 18:31] tomholub commented on #1097
This one is a bit broken - the badge is supposed to wrap around

![IMG_C8829161E870-1](https://user-images.githubusercontent.com/6306961/145086140-6cf010f7-b720-4776-be90-b049aaf59bf3.jpeg)

[2021-12-07 18:35] DenBond7 commented on #1097
Thank you!

[2021-12-07 18:35] tomholub commented on #1097
I'll send you credentials for that account. You can test

[2021-12-07 19:03] tomholub commented on #1097
Here is updated code from iOS, that also takes into account partial and mixed signatures. Maybe, that would be for another issue later.

I think more interesting for you could be the TypeScript code that produces `verifyRes` ?

[code]

[2021-12-08 12:31] tomholub commented on #1097
Were you able to log into the e2e test account successfully?

[2021-12-08 16:28] DenBond7 commented on #1097
Yup, all works perfectly.

[2021-12-08 18:16] DenBond7 commented on #1097
@tomholub honestly, I'm a little confused with the current code. Currently, we support various types of different cases. I mean we support a lot of time MIME messages: with inner MIME, with PGP (encryption, signing), even PGP in PGP. We split all parsed msg blocks into 2 groups: `content` and `other`(like atts). After that, we transform all blocks from `content` to formated HTML. Now I'm thinking

[2021-12-08 18:22] tomholub commented on #1097
Good question. I'll share what we've done on iOS.

[2021-12-08 18:25] DenBond7 commented on #1097
Also, It would be nice to have the latest version of the iOS app, maybe @Kharchevskyi can update it

[2021-12-08 18:26] tomholub commented on #1097
I can make a build if you can tell me the uuid of your iOS device.

[2021-12-08 18:27] tomholub commented on #1097
[code]

[2021-12-08 18:30] DenBond7 commented on #1097
Thanks! I will look at this info tomorrow in the morinig.

[2021-12-08 18:36] tomholub commented on #1097
That's assuming that you have similar logic to separate "content blocks" that get combined into a single renderable "content block" for the webview. Which I think you already have.

The most important part is this, which joins all of the individual `verify res` into one combined one.

[code]

and this, which adds information about whether all blocks are signed, and if it was signed with mixed keys

[2021-12-08 18:43] DenBond7 commented on #1097
Great. I will investigate. Thank you!

[2021-12-09 16:41] DenBond7 commented on #1097
To make this PR a little simpler I propose to verify signed content just with existing pub keys. Fetching remote pub keys will be completed in a separate issue.

[2021-12-09 18:03] tomholub commented on #1097
Sure

[2021-12-10 09:54] DenBond7 commented on #1097
@tomholub Is it possible to use the same icons for statuses(`signed`, `encrypted`) as we use them on iOS? It would be great to have SVG icons for that.

[2021-12-10 10:14] tomholub commented on #1097
They come from https://developer.apple.com/sf-symbols/ which is ios specific, I don't think we can use them on Android - there may be a license restriction.

[2021-12-10 10:16] DenBond7 commented on #1097
Got it. In that case, I will use internal icons.

[2021-12-10 11:11] DenBond7 commented on #1097
just UI examples for badges

![image](https://user-images.githubusercontent.com/2863246/145564894-4dacf833-3d65-40f5-ae9f-31ddbd90383c.png)
![image](https://user-images.githubusercontent.com/2863246/145565016-d8092181-0403-493a-b02c-2238d8be1853.png)
![image](https://user-images.githubusercontent.com/2863246/145565109-db4cd945-cc85-480f-bc7c-abcda6db4d2f.png)

[2021-12-10 11:25] tomholub commented on #1097
all good

[2021-12-13 08:52] DenBond7 opened #1602 "verify signed messages(detached)"
it's similar to #1097

[2021-12-13 08:56] DenBond7 commented on #1097
@tomholub Please let me clarify some questions: what does "bad signature" mean in detail?

[2021-12-13 10:31] tomholub commented on #1097
Signature could not be successfully verified for other reason than not having the right public key.

For example, the message was changed in transit.

[2021-12-13 14:09] DenBond7 commented on #1097
## What is already done?

1. offline verification of inband signature that comes as PGP message

[code]
2. offline verification of `cleartext` signature

[code]

3. Added examples to the local email server for the following cases

### I. Inband signature
**can't verify signature (missing pub key)**
- [x] encrypted + signed
- [x] only signed

**valid signature (good)**
- [x] encrypted + signed
- [x

[2021-12-13 16:57] tomholub commented on #1097
What is `Inband` signature?

[2021-12-13 16:59] tomholub commented on #1097
Agree that 2 can be moved to `soon` milestone. Actually, 3 and 4 could also be done in a different milestone. I'll file them.

[2021-12-13 17:00] tomholub opened #1603 "add test for cleartext signatures"
_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1097#issuecomment-992517808_

### II. Cleartext signature
**can't verify signature (missing pub key)**
- [x] only signed

**valid signature (good)**
- [x] only signed

**valid signature (partially)**
- [x] only signed

**valid signature (good+mixed)**(for example two different cleartext in sequence)
- [x] only

[2021-12-13 17:00] tomholub opened #1604 "Add support of verifying detached signatures"
_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1097#issuecomment-992517808_

[2021-12-13 17:01] tomholub opened #1605 "lookup public keys and re-verify signature if missing pubkey"
_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1097#issuecomment-992517808_

[2021-12-13 17:02] tomholub commented on #1605
Done:

1) user taps a message
2) message gets downloaded from Gmail API
3) message gets processed / decrypted / verified with whatever public keys we have locally - for that sender email. Very important: we use the `from:` email address - the sender email address - for search in local `recipients`table, and only attempt verifying with the keys we have saved for that recipient)
4) result gets rende

[2021-12-13 17:05] #1604 closed

[2021-12-13 17:17] DenBond7 commented on #1097
It's PGPainless terminology :), means not detached.

[2021-12-13 17:44] tomholub commented on #1097
Got it. Yes - agree to finish 1 here, and then move onto the next task in current milestone. (forward attachments)

[2021-12-13 17:50] DenBond7 commented on #1545
@tomholub While I'm working on other issues please add more details here when you will have some free time.

[2021-12-14 14:15] DenBond7 opened #1607 "Fix parsing bug(unknown object in stream)"
![970691d1-cd7c-4186-83f5-842395e2d134](https://user-images.githubusercontent.com/2863246/146014984-85b93eed-4af0-4ede-9f85-28192443c1ce.jpg)

[2021-12-15 08:14] DenBond7 opened #1609 "Add PGP badge option: `decrypt error`."
On iOS we also have a third badge option: `decrypt error`. I think it would be worth adding sometime. (in the future)

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1601#discussion_r769141638_

[2021-12-15 09:52] #1097 closed

[2021-12-15 09:54] tomholub opened #1610 "gitignore log files from docker"
I think log files could definitely be gitignored, it's logs after all. Won't break anything. But I'll merge it.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1601#issuecomment-994586992_

[2021-12-16 08:45] DenBond7 commented on #1538
@tomholub  I've added support for forwarding detached attachments. Detached should be read as a part of the MIME message(MIME part with `Content-Disposition: attachment;`). But we still do not support forwarding inline encrypted attachments. It will be for a separate issue and it will not be so easy as the current issue :(

[2021-12-16 08:46] DenBond7 commented on #1545
@tomholub Any news here :) ?

[2021-12-16 08:48] DenBond7 opened #1612 "Support forwarding pgp/mime inner encrypted attachments"
@tomholub  I've added support for forwarding detached attachments. Detached should be read as a part of the MIME message(MIME part with `Content-Disposition: attachment;`). But we still do not support forwarding inlined encrypted attachments. It will be for a separate issue and it will not be so easy as the current issue :(

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt

[2021-12-16 14:42] tomholub commented on #1538
The terminology is a bit confusing, as pgp/inline normally comes with detached signatures (which is what you support) whereas pgp/mime has attachment encoded in it. It could be inline images but generally they are not. Let me rename the issues.

[2021-12-16 19:25] tomholub commented on #1545
- [ ] refresh id token periodically, same as access token
 - [ ] UI for password encrypted message functionality
 - [ ] add password policy org rule for message passwords
 - [ ] disable password-protected messages if FES is not used
 - [ ] send password-protected message through FES and update email format

[2021-12-16 19:26] tomholub opened #1614 "refresh id token periodically, same as access token"
part of #1545

description here: https://github.com/FlowCrypt/flowcrypt-ios/issues/1091

iOS implementation: https://github.com/FlowCrypt/flowcrypt-ios/pull/1225/files

browser extension implementation (simplified):

![image](https://user-images.githubusercontent.com/6306961/146436763-d78b70d3-9cdc-47ea-9fba-17bfeae67581.png)

more context (browser extension) https://github.com/FlowCrypt/flowcrypt

[2021-12-16 20:18] tomholub opened #1615 "prepare API model / client class for sending through web portal"
part of #1545

Both endpoints accept `Authorization` header `Bearer: IDTOKEN`

##  grabbing a reply token before uploading a message

`POST https://fes.<domain>/api/v1/message/new-reply-token`

response (json):

[code]

## uploading message to web portal

`POST https://fes.<domain>/api/v1/message`

The content of the POST are a http multipart request with fields:

| multipart name | type | structu

[2021-12-17 13:03] #1549 closed

[2021-12-17 13:55] DenBond7 opened #1617 "Improve decrypt -> re-encrypt forwarded attachment"
Anything is possible :-) the question is more of a level of effort required to do that. I'm also ok to just load it as byte array if that makes things a lot simpler. But we should look into it sometime later to improve it.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1611#discussion_r770889669_

[2021-12-17 17:51] #1538 closed

[2021-12-20 08:07] DenBond7 commented on #1614
https://stackoverflow.com/questions/38737021/how-to-refresh-id-token-after-it-expires-when-integrating-google-sign-in-on-andr

[2021-12-20 08:29] DenBond7 commented on #1545
it would be nice to see the whole picture. @tomholub Could you show how it looks in the browser? or how I can test in in the browser

[2021-12-20 09:13] tomholub commented on #1545
To test in browser, try to send a message from flowcrypt.com account to anyone who there is no pubkey for (doesn't use FlowCrypt). Then open the link from the recipient account.

[2021-12-20 09:45] DenBond7 commented on #1614
To do that we can use Google's library that uses `GoogleSignInClient#silentSignIn()` to fetch the latest version of SignIn data(that contains `idToken`) without a user action(silently). If `silentSignIn()` will fail we can ask a user to re-authenticate.

That what I said means we don't need to find out how to refresh `idToken` manually. The library does it for us. I think we can close it.

[2021-12-20 09:50] tomholub commented on #1614
Should also save the id token in memory each time we renew it. Else you'll have to get a fresh new token each time, I'm not sure if that's good.

Unless google library caches it for you.

[2021-12-20 09:52] DenBond7 commented on #1614
Yes, it caches that data

[2021-12-20 09:57] tomholub commented on #1614
ok to close in that case

[2021-12-20 10:45] DenBond7 commented on #1615
To test code I need to know how to generate `| content | application/octet-stream | bytes |`. @tomholub Could you share the details? Or can I send any data like `content  = byteArray(12,13,13,12)` and the server will accept it?

[2021-12-20 12:24] tomholub commented on #1615
These bytes should contain an OpenPGP-encrypted, armored message.

[2021-12-20 12:26] tomholub opened #1618 "limit accepted message passwords based on password policy"
part of #1545

[2021-12-20 12:27] tomholub commented on #1618
We'll need a method that will validate user message passwords to make sure it complies with password policy. I'll share the policy separately (not public).

[2021-12-20 13:10] DenBond7 commented on #1615
@tomholub Could you provide a full log? Something is wrong on my side

[code]

[2021-12-20 14:42] DenBond7 commented on #1615
I've found a reason

was

`Content-Disposition: form-data; name="content"`

should be

`Content-Disposition: form-data; name="content"; filename="content"`

[2021-12-20 14:44] DenBond7 commented on #1615
But I still can't complete the request

[code]

I used a correct PGP message(I use it in tests)

[code]

[2021-12-20 15:56] IvanPizhenko commented on #1615
I will try to check why FES rejects this message.

[2021-12-20 16:16] IvanPizhenko commented on #1615
@DenBond7 Opened issue for FES https://github.com/FlowCrypt/flowcrypt-enterprise-on-prem/issues/2238

[2021-12-20 16:26] IvanPizhenko commented on #1615
@DenBond7 I will fix this in FES, but meanwhile as as workaround please ensure that you have `\n` in the end of PGP message block, i.e. after last `-` in the `-----END PGP MESSAGE-----`.

[2021-12-21 07:52] DenBond7 opened #1620 "UI for password encrypted message functionality"
See https://github.com/FlowCrypt/flowcrypt-ios/issues/1221

[2021-12-21 07:59] DenBond7 commented on #1620
Actually, it's an interesting issue :). It seems we have a not simple logic here.

[2021-12-21 08:13] DenBond7 commented on #1620
Before starting to work on this issue need to understand what exactly we do here.

As I understand we have the following:

1. During creating a new encrypted message we can have recipients that don't have public keys.
2. We show a hint for a user: you can import missing public keys or protect the current message with a pass phrase for recipients with missing public keys.
3. After that the user sho

[2021-12-21 09:12] DenBond7 opened #1621 "disable password-protected messages if FES is not used"

[2021-12-21 09:12] DenBond7 opened #1622 "send password-protected message through FES and update email format"

[2021-12-21 12:35] IvanPizhenko commented on #1620
We also should take into account that enterprise customers may have their own FES.

[2021-12-21 12:37] DenBond7 commented on #1620
Yes, it relates to #1621 and #1622

[2021-12-21 13:07] DenBond7 commented on #1620
as an example to discuss

![image](https://user-images.githubusercontent.com/2863246/146935024-47ff256d-9bb5-4f52-8132-77ac1986ecb3.png)

[2021-12-21 21:03] tomholub commented on #1620
I wanted to do this on one platform first (iOS in this case) so that we can see it in action and settle the exact UI before doing it on a second platform (Android). That's why I tried to assign you non-ui tasks here and assign Roman UI tasks there, so I don't have to be potentially wrong twice per platform for all tasks (because I'm not too sure until I see it).

[2021-12-21 21:04] tomholub commented on #1620
we call it a password in this case to differentiate, though it's true it doesn't sound that different

[2021-12-21 21:08] tomholub commented on #1620
This is outside of scope of this issue, so we don't have to discuss it in detail yet. But basically

1) call FES to get a reply token
2) encode the reply token into the message & encrypt a message with both public keys (my own + recipients if any) and the provided password
3) upload the message to FES
4) format the message with the sentence + link + encrypted data in attachment
5) send message for

[2021-12-21 21:11] tomholub commented on #1620
This is pretty good. The only problem is, it only shows after user already tapped send which is a bit too late. It would be better to have some banner.

Also:
 - the password option should be first, when available
 - switch to standard email should be removed when FES available

![image](https://user-images.githubusercontent.com/6306961/146998104-b72a70a5-f5a5-4af8-9081-777555d58599.png)

[2021-12-21 21:13] tomholub commented on #1620
@sosnovsky you can have a look at the sketches above in case it helps you with https://github.com/FlowCrypt/flowcrypt-ios/issues/1221

[2021-12-21 21:17] sosnovsky commented on #1620
Looks good, I currently have more basic UI implementation:

![Simulator Screen Shot - iPhone 13 - 2021-12-21 at 23 14 59](https://user-images.githubusercontent.com/1062093/146998761-84392979-8200-406d-bd84-352552a48114.png)

![Simulator Screen Shot - iPhone 13 - 2021-12-21 at 23 15 04](https://user-images.githubusercontent.com/1062093/146998756-763a3a07-2947-4da0-8071-1dd1b7174fe3.png)

![Simulato

[2021-12-21 22:09] tomholub commented on #1620
I think the screenshots on both platforms are appropriate (for the level of implementation / features already available for that platform). So it looks on a good track.

I think on iOS, above the password, we could add another paragraph of text about the user being responsible to share the password. Per the Android screenshot "You are responsible ..."

[2021-12-21 22:11] #1615 closed

[2021-12-22 09:05] DenBond7 commented on #1620
@tomholub

I've provided only UI (after checking the web version.). Just sketches without logic. I have not added logic yet :)

It depends on our needs. For example, we can show `floatActionButton` when we found at least one recipient without a public key. Similar to the web version does.

[2021-12-22 09:17] DenBond7 commented on #1558
@martgil Hi, Mart. Sorry for the delayed reply. Could you ask the user to update the app to the latest version and try to open that message? If he will receive the same result I will need more details. it looks like a compatibility issue.

[2021-12-22 09:17] DenBond7 opened #1623 "version 1.2.6"
[1.2.5...master](https://github.com/FlowCrypt/flowcrypt-android/compare/1.2.5...master)

[2021-12-22 09:24] DenBond7 commented on #1623
As I understand, https://github.com/FlowCrypt/flowcrypt-android/issues/1545 it's quite a long task. @tomholub Do you plan to include #1545 in the current release?

Meanwhile, the current release already contains a few major improvements

- Verifying some sort of signed messages
- Forwarding decrypted attachments
- Fixed some bugs

[2021-12-22 09:26] martgil commented on #1558
Hello sir Den, sure sir! I will ask them now and get back to you ASAP. Thank you!

[2021-12-22 09:36] tomholub commented on #1623
Sure, we can do a release now. I've prepared the next milestone where you can put remaining issues: https://github.com/FlowCrypt/flowcrypt-android/milestone/97

[2021-12-22 09:45] DenBond7 commented on #1623
In that case, it's ready.

[2021-12-22 09:50] tomholub commented on #1620
Yes. And do UI is not bad. So you can use this.

[2021-12-22 09:50] tomholub commented on #1620
The float sounds good.

[2021-12-24 13:33] tomholub commented on #1623
- [ ] build
- [ ] consumer 10%
- [ ] enterprise

[2021-12-24 14:27] #1623 closed

[2021-12-24 14:34] tomholub commented on #1620
@DenBond7 does Android have any database entry that indicates if FES is available for that user?

[2021-12-24 14:37] DenBond7 commented on #1620
We store OrgRules. If it contains such info (some entry that indicates FES) my answer - yes.

[2021-12-24 14:42] DenBond7 commented on #1620
@tomholub Can we fetch `clientConfiguration` when `FES` doesn't work?

[2021-12-24 15:40] tomholub commented on #1620
This password-protected message functionality will only be available when FES is used, not when flowcrypt.com/api is used.

Therefore we'll need a boolean in the storage. But not for this specific UI issue, because of this:

Here I'm referring to the sender. Since flowcrypt.com users have FES, we don't have to worry about detecting if FES is used or not.

Once all of the functionality for password

[2021-12-24 15:53] tomholub commented on #1621
As mentioned in https://github.com/FlowCrypt/flowcrypt-android/issues/1620#issuecomment-1000879583 , we will be merging the functionality in bits an pieces and it will only be enabled for senders on flowcrypt.com domain where we know that FES is running.

Once it's all done and tested and merged, this will be the last issue to do: remove the flowcrypt.com sender restriction, and instead allow the

[2021-12-24 18:02] tomholub commented on #1622
same as https://github.com/FlowCrypt/flowcrypt-ios/issues/1254#issue-1088458991

[2021-12-24 18:44] buthed commented on #1546
Hello, i can add Russian language.
Tell me my steps please.
1. Fork project.
2. Create new branch "Issue#1546_Russian_language"
3. And PR this branch.
So?
Thank you for answer!

[2021-12-24 19:07] tomholub commented on #1546
Hello, yes - please use branch name `issue-1546-russian-language` and create PR, it will be gladly reviewed. Please also confirm that you release your translation under MIT license.

[2021-12-24 19:24] buthed commented on #1546
OK, thanks.
How i can confirm verify MIT license?
Sorry for the questions, this is my first task for open source project :)

[2021-12-24 19:29] tomholub commented on #1546
Simply say in the PR description "I'm releasing the below contribution under MIT license.". That means we can use the work (translation) without a fee.

Please note that this project is not open source - it's a proprietary source project that is publicly available.

[2021-12-24 19:31] buthed commented on #1546
Thank you!

[2021-12-25 23:15] IvanPizhenko commented on #1546
@tomholub Me and/or Den will be able to check quality of translation, as we are native speakers.

[2021-12-26 12:55] DenBond7 commented on #1553
before fix

![image](https://user-images.githubusercontent.com/2863246/147408715-445521b2-453a-4561-9da1-64c27eb747fe.png)

after fix

![image](https://user-images.githubusercontent.com/2863246/147408745-fe5f014c-b61a-42c2-b114-2e1701569139.png)

[2021-12-26 20:03] #1553 closed

[2021-12-27 10:43] DenBond7 commented on #1622
@tomholub
Need to discuss a logic that will be integrated into the current implementation.

What we have now:

1. A user can create different types of a message - reply/reply all/forward with/without attachments(forwarded or attached)
2. Then he can click on the `Send` button and add a new message to the sending queue
3. Then in [PrepareOutgoingMessagesJobIntentService](https://github.com/FlowCryp

[2021-12-27 19:09] tomholub commented on #1622
This is up to you. It may turn out that the current structure is not the best fitting - that sometimes happens when new functionality needs to be added.

While uploading to FES, you'll have to make sure to continuously render displayed loader percentage. Can that be done from a service? And also from a worker?

It seems to me that, if you wanted to fit it into your structure, then `PrepareOutgoing

[2021-12-28 09:54] DenBond7 commented on #1622
of course. I added `ForwardedAttachmentsDownloaderWorker` just to reduce sending time for other outgoing messages.

How it works now:

1. Let's imagine a user has a slow connection(2G).
2. He is going to forward a message with a big attachment(around 20Mb)
3. He creates a forwarded message and clicks on the `Send` button
4. After that `PrepareOutgoingMessagesJobIntentService` creates a `MIME` mess

[2021-12-29 07:41] DenBond7 commented on #1622
@tomholub

In that case, I can do all things with FES interactively. I can show a dialog with progress. When a message will be uploaded to the FES, I will have `URL` and will be able to add a new message to the queue.

**procs**

- we will show progress
- we don't modify the existing sending process (almost)

**cons**

- a user should wait while the current process will be completed to be able to

[2021-12-29 08:03] IvanPizhenko commented on #1622
Isn't it better to have some "background" notification with progress? Like, for example, OneDrive or Dropbox? The have user notification with progress, while this doesn't block other use of application.

[2021-12-29 10:20] tomholub commented on #1622
I see - the actual sending, though Gmail later, happens in background queue on Android. So there would be a foreground loader for FES upload, and then background sending through Gmail, so you don't need to do the 50% progress.

Agree it would be better. It could be left for later as a separate issue, if it's more work to do.

Anyway, on iOS, we're also doing a foreground wait for now. Not ideal, b

[2021-12-29 10:42] DenBond7 commented on #1622
I'm asking just in case. Why it is so important to show progress(with percentage) for sending via `FES`? I mean we don't think about that for a regular sending via `IMAP/GMail API`. A user sends a message to a queue of outgoing messages. After that, we show the following notification

![image](https://user-images.githubusercontent.com/2863246/147653144-6010ea10-40b4-443c-bd7f-b8137fe5f630.png)

It

[2021-12-29 12:59] IvanPizhenko commented on #1622
@DenBond7 is it significantly harder to have numeric progress in the notification? such as "Sending emails (1/100) ..."?

[2021-12-29 14:40] DenBond7 commented on #1622
nope, we can do that without big changes.

[2021-12-29 17:03] buthed commented on #1546
Hello, added PR to the project:
https://github.com/FlowCrypt/flowcrypt-android/pull/1628

[2021-12-29 18:16] tomholub commented on #1622
The task definition was assuming that user waits for the sending (which is the case on iOS). Since on Android we have a background queue, it's different, so the percentages are less important.

[2021-12-29 18:24] DenBond7 commented on #1622
That's good news! I already have a simple testable version that uses the same behavior as `ForwardedAttachmentsDownloaderWorker`

[2021-12-29 18:25] tomholub commented on #1622
Nevertheless, let's file Ivan's suggestion as a separate issue for `later` milestone.

[2021-12-29 18:28] DenBond7 commented on #1622
Agree. This issue will cover only basic functionally

[2021-12-30 13:45] DenBond7 commented on #1622
test the following cases
- [ ] only message
- [ ] message + att
- [ ] message + att + forwarded att

[2021-12-30 16:50] DenBond7 opened #1630 "Fix send encrypted attachments bug"
While working on #1622 I've found a bug. It seems the app doesn't send encrypted attachments, only content.

**Who was affected?**
Only users that have the last version(`1.2.6`). fortunately, it's not a lot. I've decreased roll out 1.2.6 to 0.01%(not sure how to disable it at all)

I'm already working on fixing it. New changes will be available in a few hours.

[2021-12-30 16:54] DenBond7 commented on #1630
Need to add tests for the following (that a message will be sent)

- [ ] a regular message
- [ ] a regular message + att
- [ ] a regular message + forwarded att
- [ ] an encrypted message
- [ ] an encrypted message + an encrypted att
- [ ] an encrypted message + an encrypted forwarded att

[2021-12-30 16:54] DenBond7 opened #1631 "Need to add tests for the sending process"
Need to add tests for the following (that a message will be sent)

- [x] a regular message
- [x] a regular message + att
- [x] a regular message + forwarded att
- [x] an encrypted message
- [x] an encrypted message + an encrypted att
- [x] an encrypted message + an encrypted forwarded att

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1630#issuecomment-10

[2021-12-30 16:56] DenBond7 opened #1632 "version 1.2.7"
It should be the full rollout.

[2021-12-30 21:44] #1630 closed

[2021-12-30 21:44] DenBond7 commented on #1632
@tomholub it's ready

[2021-12-30 22:37] tomholub commented on #1632
- [ ] commit / push
- [ ] build
- [ ] release consumer
- [ ] release enterprise

[2021-12-30 22:51] #1632 closed

[2022-01-04 10:06] tomholub opened #1635 "double check FES requires to/cc/bcc etc"
I think it's running an old version that didn't require it. I'll make a separate issue to check once updated.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/pull/1629#discussion_r777960208_

[2022-01-04 21:33] tomholub opened #1636 "debug / fix sending web portal message so that it can be replied online"
1. send a message from Android app through FES - **works**
2. open the received link on the other account, enter password. Make sure the message opens on fes.flowcrypt.com/...- **works**
3. click reply on fes.flowcrypt.com/...- **I don't see reply button for a message that was send from Android. But I see this button for the web realization**

It seems I have bug on my side. Can we debug this case

[2022-01-04 21:35] tomholub commented on #1636
You you could send one message from browser extension and one from android, then download back the armored message from FES for each one of them and decrypt them. Then compare the difference in the contents.

[2022-01-04 21:36] tomholub commented on #1636
Here is the infodiv content on browser:

[code]

Contains `sender`, `recipient` (array), `subject`, `token`. Is that what you are encoding as well? I think I've seen something else.

[2022-01-05 08:03] DenBond7 commented on #1636
It's strange. I can't decrypt a message from the web version via `gpg` nor `PGPainless`

https://flowcrypt.com/RtXpbqBxr0
qwerty1234

![image](https://user-images.githubusercontent.com/2863246/148180859-111c6e07-c8b1-4c48-af6f-4975a9cb00ca.png)

![image](https://user-images.githubusercontent.com/2863246/148181046-c9ea922c-d6ff-47fd-a5f8-0b98f2ceb0ac.png)

But can decrypt a message from Android

ht

[2022-01-05 08:09] DenBond7 commented on #1636
Btw, web version and `PGPainless` produce a different password-protected message

`PGPainless`
![image](https://user-images.githubusercontent.com/2863246/148182077-634663e7-ea84-414d-b49f-03498a9b96b0.png)

web
![image](https://user-images.githubusercontent.com/2863246/148182255-d6b32218-d393-4eb6-a670-c8c9839052a7.png)

To have more details I need to have not expired key for den@flowcrypt.com. Th

[2022-01-05 08:58] DenBond7 opened #1637 "review the current strings and exclude some from translation."
Before process with this I should review the current strings and exclude some from translation.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-android/issues/1628#issuecomment-1005496581_

[2022-01-05 12:16] tomholub commented on #1636
Yes, because you are comparing legacy flowcrypt.com api (browser extension) to FES API (Android).

I'll update your keys so you can do the same on your flowcrypt account on browser extension. Then you can compare.

[2022-01-05 12:29] tomholub commented on #1636
Updated your key on EAP - you should be now able to test from flowcrypt.com account on browser extension (after resetting it).

The password-encryption algorithm has changed between original flowcrypt.com/api (used on non-FES accounts on browser extension) and FES API (used for customers that run FES, plus flowcrypt.com accounts). Thus the difference.

[2022-01-05 12:38] DenBond7 commented on #1636
Thank you! I will try it soon

[2022-01-05 13:31] tomholub opened #1639 "automated test for sending password message through FES web portal"
We should file an issue to write test for this later. The functionality is not simple, and therefore easy to break during refactors or other development. Plus a customer relies on this. Having a test will help ensure it doesn't break.

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1629#issuecomment-1005664815_

[2022-01-05 14:08] #1637 closed

[2022-01-06 08:28] DenBond7 opened #1642 "Fix UI for Russian"
So far i found one problem related to word length^
![image](https://user-images.githubusercontent.com/17142699/148292797-5d834c01-4390-4167-86b1-23ccce4653a1.png)

_Originally posted by @buthed in https://github.com/FlowCrypt/flowcrypt-android/pull/1628#issuecomment-1006096388_

[2022-01-06 10:04] tomholub opened #1643 "discussing / documenting / potentially refactoring outgoing message code"
So let's start :)

First of all, let me remind you how the current process of sending a message works

1. a user creates an outgoing message and clicks on the `Send` button
2. the app creates [OutgoingMessageInfo](https://github.com/FlowCrypt/flowcrypt-android/blob/9ff16025c328de0f0e873f81ce342db02542a8a0/FlowCrypt/src/main/java/com/flowcrypt/email/api/email/model/OutgoingMessageInfo.kt#L23). This

[2022-01-06 10:05] tomholub commented on #1643
<img width="925" alt="image" src="https://user-images.githubusercontent.com/6306961/148365857-686533ae-c58e-4ca7-a32c-f8985c8052e9.png">

[2022-01-06 11:07] #1622 closed

[2022-01-06 14:37] DenBond7 commented on #1636
Fixed
![image](https://user-images.githubusercontent.com/2863246/148398758-de4486a1-8c1b-4704-872a-0946aac9723f.png)

[2022-01-06 14:43] DenBond7 commented on #1620
@tomholub It seems https://github.com/FlowCrypt/flowcrypt-ios/issues/1221 is already closed.

I can to come back to this issue. How can I test the last changes for iOS? Would you like to share any instruction for UI for this issue?

[2022-01-06 14:44] DenBond7 commented on #1618
@tomholub Any news here?

[2022-01-06 15:19] #1636 closed

[2022-01-06 15:21] tomholub commented on #1620
Your UI example, with my comments here https://github.com/FlowCrypt/flowcrypt-android/issues/1620#issuecomment-999096915 looks good to me for Android.

[2022-01-06 15:22] tomholub commented on #1620
I'll build you the iOS app so you can test it too.

[2022-01-06 15:23] tomholub commented on #1618
Sorry, it's stuck on me.

[2022-01-06 15:25] DenBond7 commented on #1618
Don't worry. I'm going to work on #1620

[2022-01-07 11:49] DenBond7 opened #1645 "Fix lint warnings after adding Russian translation"

[2022-01-07 13:27] #1645 closed

[2022-01-10 11:16] DenBond7 opened #1647 "Fix sending forwarded attachments with attached"
[code]

[2022-01-10 19:52] #1647 closed

[2022-01-12 08:48] DenBond7 commented on #1620
@tomholub I think UI is done. Please look at the video. Maybe you would like to change something

https://user-images.githubusercontent.com/2863246/149094039-18d3973d-b741-43d7-885c-fd12224d91de.mp4

[2022-01-12 09:30] tomholub commented on #1620
This is good. Please, for now, hide the strength evaluation - there will be different rules for evaluating strength of passwords (as opposed to pass phrases). Else this looks great.

[2022-01-13 14:49] tomholub commented on #1618
when using FES to send the password protected message, use the following password rules:
-    minimum one uppercase
-    minimum one lowercase
-    minimum one number
-    minimum one non-alphanumeric character
-    minimum length 8 characters

[2022-01-13 17:20] tomholub commented on #1618
See https://github.com/FlowCrypt/flowcrypt-browser/pull/4252 for screenshots and implementation. Password checking as follows, for consistency:

[code]

The `consumer` case is not supported on Android yet. But eventually it will be. It will be using a shared-tenant FES instance like `webportal.flowcrypt.com` or similar.

[2022-01-13 19:02] tomholub opened #1651 "sent and trash folder should be ignored when searching backups"
Please look at the `Sent` folder. You have a backup there.

_Originally posted by @DenBond7 in https://github.com/FlowCrypt/flowcrypt-ios/issues/484#issuecomment-1012382695_

I'd ignore emails in `Sent`, for consistency. Filing for later.

[2022-01-14 13:26] DenBond7 commented on #1618
@tomholub Can I start to work on it?

[2022-01-14 17:57] tomholub commented on #1618
yup :+1:

[2022-01-14 18:10] tomholub commented on #1618
Please also add these two checks. You only need to check that the password doesn't match any "currently known" pass phrase - the stored ones, or whichever are currently in memory.

[code]

[2022-01-14 18:50] DenBond7 commented on #1588
PassPhrasesInRAMService, MessagesSenderWorker

[2022-01-17 03:02] martgil opened #1654 "[User Concern] Plans to host the app aside from Google Play Store"
Description:

We have received a concern asking whether we have hosted the apk file on our website or from F-Droid (an open-source website for hosting free and OSS app for android).

As of now, we don't have any of these options. There are some android phones that do not support Google services eg. Huawei devices so they won't have access to our app. They will have to download the app from a third

[2022-01-17 05:25] DenBond7 commented on #1654
Hi, Mart. Please look at #881 and #1021

[2022-01-17 06:41] martgil commented on #1654
Thank you, sir @DenBond7. Looks like the F-Droid option will not be suitable for us. Thanks!

[2022-01-17 06:41] #1654 closed

[2022-01-18 03:44] martgil opened #1656 "[User Concern] can't verify signature after importing the public key"
Description:
A user reported that he is getting a notice that says "can't verify signature". As far as I know, this happens when the recipient's public key is not found in the contact list.

<img src=https://user-images.githubusercontent.com/46025304/149865235-31dcf233-72b6-462b-917c-9d04f8d92919.png width=350 height=100%>

I have replicated the issue with my account and I have a successful attemp

[2022-01-20 05:09] #1620 closed

[2022-01-20 08:17] DenBond7 commented on #1656
Hi @martgil, sorry for the delayed reply

Yes, you are right

You can ask him to ask his friend to send a test encrypted message to him and to den@flowcrypt.com with an attached public key (`subject = Issue #1656`). It may be a compatibility issue. With an encrypted message and a pub key, I will be able to find a place of the issue.

[2022-01-20 08:29] martgil commented on #1656
Thank you, sir @DenBond7. I would inform the concerned user right away. Thanks again!

[2022-01-21 14:33] DenBond7 commented on #1618
@tomholub  Please look at the example. What do you think?

https://user-images.githubusercontent.com/2863246/150544533-6d61fdd5-37c0-43ee-ac3f-53c0d5892159.mp4

[2022-01-21 15:09] tomholub commented on #1618
It wasn't necessary to make it so detailed one by one. But it's good.

The only thing I worry is that the checkboxes look like user could interact with them. Someone may maybe try to tap them. if you could remove the frame from the checkboxes, so either there is nothing or a standalone checkmark, that would be a bit better.

Otherwise good.

[2022-01-21 15:11] DenBond7 commented on #1618
Of course. will do.

[2022-01-22 12:37] DenBond7 commented on #1618
@tomholub Looks better?
![image](https://user-images.githubusercontent.com/2863246/150638734-7e1aac7a-9e37-4228-bff6-435d39566676.png)

![image](https://user-images.githubusercontent.com/2863246/150638744-2fb2bf58-66f4-4d22-bdb0-530d20f98e01.png)

![image](https://user-images.githubusercontent.com/2863246/150638756-a5f63bb2-e766-4261-90f9-1ab595ac6dae.png)

[2022-01-22 12:52] tomholub commented on #1618
Sure. Less pretty but also less confusing :-)

Two things I noticed:
 - The bottom red text can be gray like the rest of the text.
 - Also in FES situations it should say `They will have access to this message for 180 days.`

[2022-01-22 12:56] DenBond7 commented on #1618
![image](https://user-images.githubusercontent.com/2863246/150639392-153c5670-c005-4a28-ac9d-09cbd7490f44.png)

[2022-01-22 12:57] tomholub commented on #1618
yup

[2022-01-22 13:53] DenBond7 opened #1657 "Setup LeakCanary only for some build variant or as an option"

[2022-01-22 16:19] IvanPizhenko commented on #1618
put "min 8 characters" on top of the list

[2022-01-22 16:26] DenBond7 commented on #1618
tests

- [ ] hide "Tap to protect..." button when `message type == standard`
- [ ] test password strength (show checkboxes and etc.)
- [ ] test button color and 'enable" state
- [ ] test password visibiliity(not sure)

[2022-01-23 21:56] #1618 closed

[2022-01-24 09:22] DenBond7 commented on #1621
@tomholub I'd like to clarify one moment. When do we know that we use FES? When do we have a successful response for `"https://fes.{domain}/api/"`? like

[code]

Or should I check some value in this response?

[2022-01-24 11:41] tomholub commented on #1621
Here https://github.com/FlowCrypt/flowcrypt-android/issues/1202#issuecomment-886685547

`https://fes.{domain}/api/` has to return status 200 that includes `service` to equal `enterprise-server`.

[2022-01-24 19:14] #1621 closed

[2022-01-24 19:32] DenBond7 commented on #1614
After adding the last changes I started to test the whole process. It seems that fetching the last `idToken` on Android has interesting behavior. The Android library can return expired `idToken` but after a few attempts the library returns an updated `idToken`. I have to reinvestigate this issue.

[2022-01-26 04:39] martgil commented on #1656
Hello sir, @DenBond7

The user notify us about your key being expired: https://flowcrypt.com/pub/den@flowcrypt.com

<img width="786" alt="Screen Shot 2022-01-26 at 12 34 55 PM" src="https://user-images.githubusercontent.com/46025304/151104624-4c6e51f6-88e9-4be5-b1bc-e265892a9b60.png">

If by any chance that sir, Tom ever updated your key, you can update the public key hosted in our attester as wel

[2022-01-26 08:41] DenBond7 commented on #1656
Hi @martgil,
Sorry for that trouble.

I've updated my pub key on attester https://flowcrypt.com/pub/den@flowcrypt.com?show=pubkey. Please re-check to be sure.

@tomholub Btw, should we update our pub keys for @flowcrypt.com manually or it can be done automatically?

[2022-01-26 11:30] tomholub commented on #1656
There wasn't any need for the user to go to https://flowcrypt.com/pub/den@flowcrypt.com to fetch Den's pubkey. User can enter `den@flowcrypt.com` as a recipient, and it will automatically fetch Den's latest public key from WKD.

We'll eventually make it sync automatically, but for this usecase it wasn't required.

[2022-01-26 11:36] DenBond7 commented on #1656
It seems like the user knows about `https://flowcrypt.com/pub/` (maybe he used it before) and used it to check some pub keys. It seems he tried to get a copy of my pub key to share with a friend.

Anyway, using the app(web or mobile) is the best option to have the right key.

[2022-01-26 11:39] tomholub opened #1662 "include names in `to/cc/bcc` fields when calling FES"
client app is stripping out the names of the Google contacts - and sending just the email address.

[code]

FES can deal with the name and email address for all the from/to fields like `Recipient Name <recipient@example.com>` - please update client to send it

_Originally posted by @Jerbell in https://github.com/FlowCrypt/flowcrypt-enterprise-on-prem/issues/2153#issuecomment-1018210504_

[2022-01-26 11:51] DenBond7 commented on #1662
@tomholub Could you clarify the milestone?

[2022-01-26 12:06] tomholub commented on #1662
1.2.9 - it should be a simple change, assuming you already have names in local contacts

[2022-01-26 17:27] DenBond7 opened #1664 "Submit Data safety form (Google play)"
https://youtu.be/J7TM0Yy0aTQ
https://android-developers.googleblog.com/2021/10/launching-data-safety-in-play-console.html

[2022-01-26 20:03] #1614 closed

[2022-01-27 07:53] DenBond7 opened #1667 "Provide examples(raw MIME) for new/reply/forwarded and compare with web version."

[2022-01-27 09:04] DenBond7 commented on #1667
[forwarded(Android).txt](https://github.com/FlowCrypt/flowcrypt-android/files/7949062/forwarded.Android.txt)
[forwarded(web).txt](https://github.com/FlowCrypt/flowcrypt-android/files/7949063/forwarded.web.txt)
[new (Android).txt](https://github.com/FlowCrypt/flowcrypt-android/files/7949064/new.Android.txt)
[new (web).txt](https://github.com/FlowCrypt/flowcrypt-android/files/7949065/new.web.txt)

p

[2022-01-27 09:13] DenBond7 commented on #1667
@tomholub Please look at the provided examples. If Android versions look good we can close #1545 as completed.

[2022-01-27 11:00] DenBond7 opened #1668 "version 1.2.8"
https://github.com/FlowCrypt/flowcrypt-android/compare/1.2.7...master

[2022-01-28 03:48] martgil opened #1669 "Missing private key packets validation when importing/retrieving private key"
FlowCrypt recently received a security report where a bad private key is not getting blocked when importing/retrieving the private key. eg retrieving the key from backup (inbox), importing a private key file.

Sample bad private key:
[corrupted-rsa-key.asc.txt](https://github.com/FlowCrypt/flowcrypt-android/files/7955497/corrupted-rsa-key.asc.txt)

Steps to reproduce:
1. The easiest way to reprodu

[2022-01-28 04:33] martgil commented on #1669
@IvanPizhenko ping as per request 😅

[2022-01-28 20:15] #1588 closed

[2022-01-28 21:02] IvanPizhenko commented on #1669
@vanitasvitae Please have a look at this. The question is - is there any ways in PGPainless to validate private key? At the moment, attempt to read invalid private key attached above by @martgil succeeds.

[2022-01-28 23:17] vanitasvitae commented on #1669
There is some basic validation being done whenever the secret key is unlocked.

So you might already have success with `UnlockSecretKey.unlockSecretKey(secretKey, protector)` for each (sub)key after parsing the key ring which will throw a KeyIntegrityException for broken keys.

[2022-01-31 09:47] DenBond7 opened #1671 "fix "Password is null" in EncryptPrivateKeysIfNeededAction"
[code]

[2022-01-31 16:50] DenBond7 commented on #1664
[data_safety_export.csv](https://github.com/FlowCrypt/flowcrypt-android/files/7972576/data_safety_export.csv)

[2022-02-01 10:12] DenBond7 commented on #1668
@tomholub I think we are ready to make a new release. Just need to review the current issues for 1.2.8 on your side. While you are doing that I'm working on some issues for 1.2.9 and will move some of them(completed) to 1.2.8 if needed.

[2022-02-01 18:36] DenBond7 commented on #1662
https://fes.flowcrypt.com/message/f7dc4e20-f9f8-4e51-bf12-ecae116c4ecc

Qwerty1234@

{"associateReplyToken":"5aed701a-c319-4f60-b66f-c036fd18bd48","bcc":[],"cc":[],"from":"Den \u003cden@flowcrypt.com\u003e","to":["Unknown User \u003cunknown@flowcrypt.com\u003e"]}

[2022-02-01 18:54] DenBond7 commented on #1573
@martgil Do we receive any reports about this one? Maybe we can close it.

[2022-02-01 21:01] #1657 closed

[2022-02-02 04:09] martgil commented on #1573
We haven't received any further reports about it so far. Yes, maybe we can close it now. Thank you, sir!

[2022-02-02 04:09] #1573 closed

[2022-02-02 17:23] #1671 closed

[2022-02-02 19:32] IvanPizhenko commented on #1669
Thanks @vanitasvitae, I've tried it and seems to work, at least for the mentioned above malformed key.

[2022-02-02 19:38] IvanPizhenko commented on #1669
@DenBond7 Please look at #1676. I've written a function that will validate secret keys and test for it. Now I think I should handover this to you to properly integrate into application.

[2022-02-03 08:04] DenBond7 commented on #1669
![image](https://user-images.githubusercontent.com/2863246/152303725-911c0212-2f1f-471d-b58b-8382039067cf.png)

[2022-02-03 11:10] #1669 closed

[2022-02-07 03:23] martgil opened #1677 "[User Concern] availability of sending signed-only messages"
Hello sir, @tomholub,

A concerned user was interested to know when "sending signed-only" messages be on android?

Thanks,

Reference: https://mail.google.com/mail/u/1/#inbox/FMfcgxwGDNNMPrsPGVgSGqsNQLmvbxGc

[2022-02-07 08:28] tomholub commented on #1677
Hello, we don't have this feature planned in Android for the time being. We'll monitor the interest and may add it if we receive many requests.

[2022-02-07 08:36] martgil commented on #1677
Thank you for your reply, sir!

Alright. So far, we frequently receive a feature request about it. I will provide an update here for every new request about it I've received.

Thanks!

[2022-02-07 20:19] jcolson commented on #1677
I was told that this was a planned feature February 12, 2020:
<img width="557" alt="image" src="https://user-images.githubusercontent.com/2362647/152865078-c15ab025-f60b-48b9-be9d-3b31736278b6.png">

[2022-02-08 04:48] martgil opened #1681 "[User Concern] User cannot send an email to a certain email address using FlowCrypt android app"
Description:
A user cannot send an email to an email address when using the FlowCrypt android app while sending the message using Gmail web app works.

Additionally, the email address the user trying to reach to was under of an email forwarding service called 'AnonAddy'  (https://anonaddy.com/), a free and open-source anonymous email forwarding service.

Technical details:
The email composes of sp

[2022-02-08 09:04] DenBond7 commented on #1681
We use the following pattern (a common approach in Android) to match valid addresses

[code]

@martgil Do you think we need to switch to using something smarter? We can use for example

https://github.com/FlowCrypt/flowcrypt-android/blob/3d76f428b09196501e1012668ed42103ce981e6e/FlowCrypt/src/main/java/com/flowcrypt/email/util/BetterEmailAddress.kt#L47

[2022-02-08 10:43] IvanPizhenko commented on #1681
There is class `BetterInternetAddress` in the flowcrypt-enterprise-on-prem, which is more comprehensive. I suggest copy it into Android app.

[2022-02-08 11:48] tomholub commented on #1677
Hello Jay, that was me. Signing was indeed since added to Android when sending encrypted messages, but not sign-only (which I understand was your original request). Sign-only was originally also planned, but it ended up getting de-prioritized and at the moment is not on the roadmap.

I'm trying to keep the app simple for the time being and focus on reliability and other not-so visible functionalit

[2022-02-09 08:31] martgil commented on #1681
Sorry for the late reply sir @DenBond7.

I'm not really good at regex so I had to put those two regexes (proposed, current) patterns to a test so that I have a better understanding of it.

<img width="1440" alt="Screen Shot 2022-02-09 at 4 28 12 PM" src="https://user-images.githubusercontent.com/46025304/153155834-7a581048-eaa8-4d22-9766-b5dd642e44f3.png">

I can confirm that the current one doesn

[2022-02-09 10:35] tomholub opened #1682 "Preview attachment contents"
related issue to settle here before closing:
 - #1688

[2022-02-09 10:39] tomholub commented on #1682
@DenBond7 please look into this one soon:

When the following app is installed: https://play.google.com/store/apps/details?id=com.airwatch.contentlocker&hl=en&gl=US please send attachments to that app for preview.

Initially, don't worry about UI, instead let's look into integrating with that app, to see how it's done. See if they have any docs available, or if you need any info on the integration

[2022-02-09 10:52] DenBond7 commented on #1682
@tomholub Currently I'm working on #1602. Should I switch to this one immediately or it can wait for a few days?

[2022-02-09 17:16] tomholub commented on #1682
a few days ok. thanks

[2022-02-09 17:44] DenBond7 commented on #1602
https://thunderbird.topicbox.com/groups/e2ee/T9f57ded9092e28c8/how-can-i-manually-verify-the-signature-using-gpg-sent-by-thunderbird

[2022-02-10 08:35] DenBond7 commented on #1602
https://datatracker.ietf.org/doc/html/rfc3156#section-5

[2022-02-10 08:41] DenBond7 commented on #1677
https://datatracker.ietf.org/doc/html/rfc3156#section-5. (for the future)

[2022-02-10 16:45] DenBond7 commented on #1682
I've started to work with it. And I'm a little confused. I need more details.

A user can use this app via a standard Android mechanism, like

![image](https://user-images.githubusercontent.com/2863246/153454676-29506762-d375-4f96-818a-d1d50bd0b318.png)

Also, that app is not a separate app. it's a part of a big architecture.

[2022-02-11 07:57] DenBond7 commented on #1682
https://github.com/vmware-samples/workspace-ONE-SDK-integration-samples/blob/main/IntegrationGuideForAndroid/Documentation/snippets.md

https://vdc-download.vmware.com/vmwb-repository/dcr-public/7958fcb3-1c6d-4aa6-9d70-83498ec7ef9c/78d61c80-c488-4603-b5fc-0762e096918d/WorkspaceONE_Android_PublicMavenNote.pdf

[2022-02-12 15:46] tomholub commented on #1682
Are we able to restrict to which apps can user share when opening the attachments?

That would be the easiest way to fulfill the requirement, as follows (with client configuration, as an example)

When `FORCE_CONTENT_APP_ON_ANDROID` is Client Configuration is enabled, offer two options:
1) open with Content
2) save to device

Else, behave as usual.

[2022-02-12 15:47] tomholub commented on #1682
A little more user friendly, when `FORCE_CONTENT_APP_ON_ANDROID` is set:

Show `preview attachment` which would take user straight to Content and `download attachment` which would only offer saving it.

[2022-02-12 15:55] tomholub commented on #1682
We may not need this, with a bit of luck. In fact, the links don't mention the `Content` app at all, only `Workspace` at large, which may be other functionality out of scope here.

[2022-02-12 16:24] DenBond7 commented on #1682
Yup, we can do it in that way

[2022-02-12 16:55] DenBond7 commented on #1682
When we share some info we should specify an intent with extra data. Via intent we can specify what an app(to be clear - what a component of some app) can handle such an intent.

[2022-02-12 17:05] tomholub commented on #1682
So it wouldn't have to have the client configuration yet - a draft PR for demo purpose.

[2022-02-12 17:30] DenBond7 commented on #1682
Sure

Are we talking about this screen?

![Screenshot_2022-02-12-19-30-07-03_8a5443484bc9afa2d32cf276c137039c](https://user-images.githubusercontent.com/2863246/153721658-34739379-762d-45fb-9049-a863d47f044d.jpg)

[2022-02-12 18:08] tomholub opened #1685 "add names to sender and recipients in mime"
Currently, it will show `From: example@domain.test` but it would ideally be `From: Somebody <example@domain.test>` if that information is available. Similarly To/Cc/Bcc

[2022-02-12 18:34] tomholub opened #1686 "One obvious difference is that the browser extension sends a html/plain alternative where Android only Plain. That's ok - can keep it simple on Android for now."
browser

[code]

versus Android:

[code]

browser

[code]

android:

[code]

_Originally posted by @tomholub in https://github.com/FlowCrypt/flowcrypt-android/issues/1667#issuecomment-1037377440_

[2022-02-12 18:36] tomholub commented on #1686
The browser uses `New` (presumably packet format) but Android uses `Old` per pgpdump.

@vanitasvitae could you please look into the difference in format?

[2022-02-12 18:48] tomholub commented on #1667
The web version manages to make the quoted message more distinct, probably by using blockquote or similar, in html (unsure - you'd nee to check).

![image](https://user-images.githubusercontent.com/6306961/153724165-4c5309b4-37c5-4d21-b4f7-3c7f3b6377a4.png)

Android is somewhat less readable. It includes more info (which is good!) but doesn't have the visual distinction.

![image](https://user-ima

[2022-02-12 18:49] tomholub opened #1687 "use HTML quoting when replying / forwarding"
The web version manages to make the quoted message more distinct, probably by using blockquote or similar, in html (unsure - you'd nee to check).

![image](https://user-images.githubusercontent.com/6306961/153724165-4c5309b4-37c5-4d21-b4f7-3c7f3b6377a4.png)

Android is somewhat less readable. It includes more info (which is good!) but doesn't have the visual distinction.

![image](https://user-ima

[2022-02-12 18:50] #1667 closed

[2022-02-12 18:50] tomholub commented on #1668
I'll go ahead and do a release now

[2022-02-12 18:50] #1545 closed

[2022-02-12 19:32] #1668 closed

[2022-02-12 19:33] tomholub opened #1688 "disable attachment sharing with Google Drive / Workspace using client configuration"
part of #1550, related to #1682 - tbd

[2022-02-12 21:17] vanitasvitae commented on #1686
This is BC still using the old format for PKESK packets. I will see if I can upstream a fix.

[2022-02-12 22:58] vanitasvitae commented on #1686
I had opened an issue about this quite some time ago on the BC issue tracker (see https://github.com/bcgit/bc-java/issues/1010).
I left another comment asking in whether they are interested in a patch for this.

For you it should not matter too much, since the old packet format is still required to be supported by implementations (this will change in the upcoming spec revision).

[2022-02-12 23:03] vanitasvitae commented on #1686
One argument pro the new packet format is that it will be a [MUST in the upcoming revision of rfc4880](https://gitlab.com/openpgp-wg/rfc4880bis/-/commit/cb9e46afaca5dce9f8abf96a6f9970a5d805d294).

[2022-02-14 07:14] martgil opened #1692 "[User Concern] Public keys from a file can't be import on the android app."
Description:
We have received a report from a user that importing public keys fails on the android app.

I have tried to replicate it on the app and I'm getting the following error that the user has experienced.
<img src=https://user-images.githubusercontent.com/46025304/153816067-412d8cf3-f20f-44db-af45-0cf2c9e76fbb.png width=300px>

The file contained multiple public keys that comprise of (expir

[2022-02-14 11:04] DenBond7 commented on #1682
I've investigated some moments after our discussion. What I see now:

1. We can provide the same behavior as before except for one difference - when a user clicks on the downloaded attachment we open that attachment only via `Content - Workspace ONE`. Just need to specify a package for that (`intent.setPackage("com.airwatch.contentlockerr)`). Please look at the provided example
![ezgif com-gif-mak